-arnaldo-publicacin-diaria-redes-sociales-ig-fb-li--aJILcfjRoKDFvGWY.json
{
  "updatedAt": "2026-05-20T11:10:46.025Z",
  "createdAt": "2026-04-07T02:20:03.202Z",
  "id": "aJILcfjRoKDFvGWY",
  "name": "📱 Arnaldo — Publicación Diaria Redes Sociales (IG + FB + LI)",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": null
            }
          ]
        }
      },
      "id": "node-schedule",
      "name": "⏰ Schedule 9am ARG",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "url": "https://agentes.arnaldoayalaestratega.cloud/clientes/arnaldo/agencia/crm/pg/branding/Arnaldo_Ayala",
        "options": {}
      },
      "id": "node-airtable",
      "name": "📋 Obtener Brandbook Arnaldo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://agentes.arnaldoayalaestratega.cloud/social/publicar-completo",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"cliente_id\": \"{{ $json['ID Cliente'] }}\",\n  \"datos_marca\": {{ JSON.stringify($json) }}\n}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "node-publicar",
      "name": "🚀 Publicar en Redes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "d6f0a02e-bb2f-42a5-a935-8033aab601ab"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "95e1356e-60a8-478e-807f-c43fc81d6c0d",
      "name": "¿Falló la publicación?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        928,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8798196715:AAGKgd-FZxEQoAiclETNt3_b_6cdX6ufPLU/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "options": {}
      },
      "id": "0c5e04a1-5d1c-4aa6-80bc-d8df0f557280",
      "name": "🚨 Alerta Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        208
      ]
    }
  ],
  "connections": {
    "⏰ Schedule 9am ARG": {
      "main": [
        [
          {
            "node": "📋 Obtener Brandbook Arnaldo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Obtener Brandbook Arnaldo": {
      "main": [
        [
          {
            "node": "🚀 Publicar en Redes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚀 Publicar en Redes": {
      "main": [
        [
          {
            "node": "¿Falló la publicación?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Falló la publicación?": {
      "main": [
        [
          {
            "node": "🚨 Alerta Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:⏰ Schedule 9am ARG": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "09414d9c-31a0-40f3-ace4-603752dea865",
  "activeVersionId": "09414d9c-31a0-40f3-ace4-603752dea865",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-07T02:20:03.202Z",
      "createdAt": "2026-04-07T02:20:03.202Z",
      "role": "workflow:owner",
      "workflowId": "aJILcfjRoKDFvGWY",
      "projectId": "0BrGO8NkGfCDSRsb"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-20T11:13:20.290Z",
    "createdAt": "2026-05-20T11:10:46.026Z",
    "versionId": "09414d9c-31a0-40f3-ace4-603752dea865",
    "workflowId": "aJILcfjRoKDFvGWY",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 9,
                "triggerAtMinute": null
              }
            ]
          }
        },
        "id": "node-schedule",
        "name": "⏰ Schedule 9am ARG",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          240,
          304
        ]
      },
      {
        "parameters": {
          "url": "https://agentes.arnaldoayalaestratega.cloud/clientes/arnaldo/agencia/crm/pg/branding/Arnaldo_Ayala",
          "options": {}
        },
        "id": "node-airtable",
        "name": "📋 Obtener Brandbook Arnaldo",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          464,
          304
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://agentes.arnaldoayalaestratega.cloud/social/publicar-completo",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"cliente_id\": \"{{ $json['ID Cliente'] }}\",\n  \"datos_marca\": {{ JSON.stringify($json) }}\n}",
          "options": {
            "timeout": 300000
          }
        },
        "id": "node-publicar",
        "name": "🚀 Publicar en Redes",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          688,
          304
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "leftValue": "={{ $json.status }}",
                "rightValue": "error",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                },
                "id": "d6f0a02e-bb2f-42a5-a935-8033aab601ab"
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "95e1356e-60a8-478e-807f-c43fc81d6c0d",
        "name": "¿Falló la publicación?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          928,
          304
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.telegram.org/bot8798196715:AAGKgd-FZxEQoAiclETNt3_b_6cdX6ufPLU/sendMessage",
          "sendBody": true,
          "specifyBody": "json",
          "options": {}
        },
        "id": "0c5e04a1-5d1c-4aa6-80bc-d8df0f557280",
        "name": "🚨 Alerta Telegram",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1152,
          208
        ]
      }
    ],
    "connections": {
      "⏰ Schedule 9am ARG": {
        "main": [
          [
            {
              "node": "📋 Obtener Brandbook Arnaldo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📋 Obtener Brandbook Arnaldo": {
        "main": [
          [
            {
              "node": "🚀 Publicar en Redes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🚀 Publicar en Redes": {
        "main": [
          [
            {
              "node": "¿Falló la publicación?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "¿Falló la publicación?": {
        "main": [
          [
            {
              "node": "🚨 Alerta Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Arnaldo Ayala",
    "name": "Version 09414d9c",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "id": "sin-tag",
      "name": "sin-tag"
    }
  ]
}