-monitor-arnaldo-alertas-telegram--tXP7Uw4Yfoqnl2AR.json
{
  "updatedAt": "2026-04-09T02:02:19.443Z",
  "createdAt": "2026-04-09T01:48:11.618Z",
  "id": "tXP7Uw4Yfoqnl2AR",
  "name": "🔍 Monitor Arnaldo — Alertas Telegram",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "trigger",
      "name": "Cada 15 minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://agentes.arnaldoayalaestratega.cloud/health",
        "options": {
          "timeout": 10000
        }
      },
      "id": "health_arnaldo",
      "name": "Health Arnaldo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        -128
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://agentes.lovbot.ai/health",
        "options": {
          "timeout": 10000
        }
      },
      "id": "health_robert",
      "name": "Health Robert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://system-ia-agentes.onrender.com/health",
        "options": {
          "timeout": 20000
        }
      },
      "id": "health_render",
      "name": "Health Render",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        112
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://agentes.arnaldoayalaestratega.cloud/debug/errors?limit=5",
        "options": {
          "timeout": 10000
        }
      },
      "id": "debug_errors",
      "name": "Errores main.py",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        208
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const arnaldo = $('Health Arnaldo').first().json;\nconst robert = $('Health Robert').first().json;\nconst render = $('Health Render').first().json;\nconst errores = $('Errores main.py').first().json;\n\nconst ahora = new Date().toLocaleString('es-AR', { timeZone: 'America/Argentina/Buenos_Aires' });\n\nconst ok = (r) => r && (r.status === 'healthy' || r.status === 'ok' || r.status === 'online');\n\nconst arnaldoOk = ok(arnaldo);\nconst robertOk = ok(robert);\nconst renderOk = ok(render);\nconst totalErrores = errores?.total_errores || 0;\n\nconst hayProblemas = !arnaldoOk || !robertOk || totalErrores > 0;\n\nif (!hayProblemas) {\n  return [{ json: { enviar: false } }];\n}\n\nlet msg = `🚨 *ALERTA System IA*\\n📅 ${ahora}\\n\\n`;\n\nif (!arnaldoOk) msg += `❌ *FastAPI Arnaldo* — CAÍDO\\n`;\nelse msg += `✅ FastAPI Arnaldo — OK\\n`;\n\nif (!robertOk) msg += `❌ *FastAPI Robert* — CAÍDO\\n`;\nelse msg += `✅ FastAPI Robert — OK\\n`;\n\nif (!renderOk) msg += `⚠️ Render backup — sin respuesta\\n`;\nelse msg += `✅ Render backup — OK\\n`;\n\nif (totalErrores > 0) {\n  msg += `\\n⚠️ *${totalErrores} errores* capturados en main.py\\n`;\n  const ultimos = errores?.errores?.slice(0, 3) || [];\n  ultimos.forEach(e => {\n    msg += `• \\`${e.endpoint}\\` → ${e.tipo}\\n`;\n  });\n}\n\nmsg += `\\n_Revisá con /monitor-errores en Claude Code_`;\n\nreturn [{ json: { enviar: true, mensaje: msg } }];"
      },
      "id": "evaluar",
      "name": "Evaluar Estado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.enviar }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "tiene_errores",
      "name": "¿Hay errores?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        688,
        64
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8798196715:AAGKgd-FZxEQoAiclETNt3_b_6cdX6ufPLU/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "telegram",
      "name": "Alerta Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        -64
      ]
    }
  ],
  "connections": {
    "Cada 15 minutos": {
      "main": [
        [
          {
            "node": "Health Arnaldo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Health Robert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Health Render",
            "type": "main",
            "index": 0
          },
          {
            "node": "Errores main.py",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health Arnaldo": {
      "main": [
        [
          {
            "node": "Evaluar Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health Robert": {
      "main": [
        [
          {
            "node": "Evaluar Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health Render": {
      "main": [
        [
          {
            "node": "Evaluar Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Errores main.py": {
      "main": [
        [
          {
            "node": "Evaluar Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluar Estado": {
      "main": [
        [
          {
            "node": "¿Hay errores?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay errores?": {
      "main": [
        [
          {
            "node": "Alerta Telegram",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Argentina/Buenos_Aires",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Cada 15 minutos": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "56b98b5c-7f03-402a-8333-f12cd2d9a06c",
  "activeVersionId": "56b98b5c-7f03-402a-8333-f12cd2d9a06c",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-09T01:48:11.618Z",
      "createdAt": "2026-04-09T01:48:11.618Z",
      "role": "workflow:owner",
      "workflowId": "tXP7Uw4Yfoqnl2AR",
      "projectId": "0BrGO8NkGfCDSRsb"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-09T02:02:22.678Z",
    "createdAt": "2026-04-09T02:02:19.444Z",
    "versionId": "56b98b5c-7f03-402a-8333-f12cd2d9a06c",
    "workflowId": "tXP7Uw4Yfoqnl2AR",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 15
              }
            ]
          }
        },
        "id": "trigger",
        "name": "Cada 15 minutos",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "url": "https://agentes.arnaldoayalaestratega.cloud/health",
          "options": {
            "timeout": 10000
          }
        },
        "id": "health_arnaldo",
        "name": "Health Arnaldo",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          224,
          -128
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "url": "https://agentes.lovbot.ai/health",
          "options": {
            "timeout": 10000
          }
        },
        "id": "health_robert",
        "name": "Health Robert",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          224,
          0
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "url": "https://system-ia-agentes.onrender.com/health",
          "options": {
            "timeout": 20000
          }
        },
        "id": "health_render",
        "name": "Health Render",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          224,
          112
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "url": "https://agentes.arnaldoayalaestratega.cloud/debug/errors?limit=5",
          "options": {
            "timeout": 10000
          }
        },
        "id": "debug_errors",
        "name": "Errores main.py",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          224,
          208
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const arnaldo = $('Health Arnaldo').first().json;\nconst robert = $('Health Robert').first().json;\nconst render = $('Health Render').first().json;\nconst errores = $('Errores main.py').first().json;\n\nconst ahora = new Date().toLocaleString('es-AR', { timeZone: 'America/Argentina/Buenos_Aires' });\n\nconst ok = (r) => r && (r.status === 'healthy' || r.status === 'ok' || r.status === 'online');\n\nconst arnaldoOk = ok(arnaldo);\nconst robertOk = ok(robert);\nconst renderOk = ok(render);\nconst totalErrores = errores?.total_errores || 0;\n\nconst hayProblemas = !arnaldoOk || !robertOk || totalErrores > 0;\n\nif (!hayProblemas) {\n  return [{ json: { enviar: false } }];\n}\n\nlet msg = `🚨 *ALERTA System IA*\\n📅 ${ahora}\\n\\n`;\n\nif (!arnaldoOk) msg += `❌ *FastAPI Arnaldo* — CAÍDO\\n`;\nelse msg += `✅ FastAPI Arnaldo — OK\\n`;\n\nif (!robertOk) msg += `❌ *FastAPI Robert* — CAÍDO\\n`;\nelse msg += `✅ FastAPI Robert — OK\\n`;\n\nif (!renderOk) msg += `⚠️ Render backup — sin respuesta\\n`;\nelse msg += `✅ Render backup — OK\\n`;\n\nif (totalErrores > 0) {\n  msg += `\\n⚠️ *${totalErrores} errores* capturados en main.py\\n`;\n  const ultimos = errores?.errores?.slice(0, 3) || [];\n  ultimos.forEach(e => {\n    msg += `• \\`${e.endpoint}\\` → ${e.tipo}\\n`;\n  });\n}\n\nmsg += `\\n_Revisá con /monitor-errores en Claude Code_`;\n\nreturn [{ json: { enviar: true, mensaje: msg } }];"
        },
        "id": "evaluar",
        "name": "Evaluar Estado",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          464,
          64
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "leftValue": "={{ $json.enviar }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "tiene_errores",
        "name": "¿Hay errores?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          688,
          64
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.telegram.org/bot8798196715:AAGKgd-FZxEQoAiclETNt3_b_6cdX6ufPLU/sendMessage",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {}
            ]
          },
          "options": {}
        },
        "id": "telegram",
        "name": "Alerta Telegram",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          896,
          -64
        ]
      }
    ],
    "connections": {
      "Cada 15 minutos": {
        "main": [
          [
            {
              "node": "Health Arnaldo",
              "type": "main",
              "index": 0
            },
            {
              "node": "Health Robert",
              "type": "main",
              "index": 0
            },
            {
              "node": "Health Render",
              "type": "main",
              "index": 0
            },
            {
              "node": "Errores main.py",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Health Arnaldo": {
        "main": [
          [
            {
              "node": "Evaluar Estado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Health Robert": {
        "main": [
          [
            {
              "node": "Evaluar Estado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Health Render": {
        "main": [
          [
            {
              "node": "Evaluar Estado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Errores main.py": {
        "main": [
          [
            {
              "node": "Evaluar Estado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Evaluar Estado": {
        "main": [
          [
            {
              "node": "¿Hay errores?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "¿Hay errores?": {
        "main": [
          [
            {
              "node": "Alerta Telegram",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      }
    },
    "authors": "Arnaldo Ayala",
    "name": "Version 56b98b5c",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "id": "sin-tag",
      "name": "sin-tag"
    }
  ]
}