[app-360]---reportes-App 360.json
{
  "updatedAt": "2026-01-30T12:43:58.752Z",
  "createdAt": "2026-01-23T13:30:30.892Z",
  "id": "CgBb94Jif_sUJbd4XOk_b",
  "name": "[App 360] - Reportes",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "60cc8114-34c5-4261-b001-7830294b8664",
      "name": "Schedule Trigger - 7 AM1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        704,
        208
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e04c6754-699c-4fbb-8843-005c65d1135a",
      "name": "Loop Comercios1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1152,
        208
      ],
      "notes": "Procesa cada comercio uno por uno"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Wait 5 s').item.json.email }}",
        "subject": "=🚀 Consejo del Dia {{ $('Wait 5 s').item.json.nombre_local }}: Ideas para una Mejor Gestión",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    .container { font-family: sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; border: 1px solid #eee; border-radius: 10px; }\n    .header { color: #008f4c; font-size: 24px; font-weight: bold; text-align: center; margin-bottom: 20px; }\n    .content { line-height: 1.6; color: #333; font-size: 16px; margin-bottom: 30px; }\n    .button-wrapper { text-align: center; margin-top: 20px; }\n    .btn { display: inline-block; padding: 12px 25px; margin: 10px; color: white !important; text-decoration: none; border-radius: 8px; font-weight: bold; }\n    .btn-ws { background-color: #25D366; }\n    .btn-web { background-color: #008f4c; }\n    /* Estilo para el nuevo botón */\n    .btn-ig { background-color: #E1306C; } \n    .footer { font-size: 12px; color: #888; text-align: center; margin-top: 30px; border-top: 1px solid #eee; padding-top: 10px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">¡Hola, {{ $('Wait 5 s').item.json.nombre_local }}! 💡</div>\n    \n    <div class=\"content\">\n      {{ $json.content.parts[0].text }}\n    </div>\n\n    <div class=\"button-wrapper\">\n      <a href=\"https://instagram.com/arnaldoestratega\" class=\"btn btn-ig\">Seguir en Instagram</a>\n      <a href=\"https://wa.me/543765384843\" class=\"btn btn-ws\">Escribirme al WhatsApp</a>\n      <a href=\"https://arnaldoayalaestratega.com\" class=\"btn btn-web\">Visitar mi Sitio Web</a>\n    </div>\n\n    <div class=\"footer\">\n      Agencia Arnaldo Ayala - Consultoría en IA y Marketing<br>\n      Este es un mensaje de mentoría diaria para tu negocio.\n    </div>\n  </div>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "9c72174c-075d-463d-bbfe-f3662d1f46df",
      "name": "Enviar Email1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2128,
        128
      ],
      "webhookId": "678fd532-6073-41a8-b72c-715820d3add0",
      "credentials": {
        "gmailOAuth2": {
          "id": "bhcg3bKbJJpDmkCY",
          "name": "Gmail account 2"
        }
      },
      "notes": "Envía el reporte por email"
    },
    {
      "parameters": {},
      "id": "4b454391-a713-47cd-aaba-38ceab5a714d",
      "name": "Loop Back1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2384,
        208
      ]
    },
    {
      "parameters": {
        "content": "## 🧠 MENTORÍA AUTOMATIZADA (7:00 AM)\n**Objetivo:** Fidelizar al cliente con valor diario.\n\n**⚙️ EL PROCESO:**\n1. **Trigger:** Se despierta a las 7 AM.\n2. **Loop:** Recorre cada comercio activo.\n3. **Análisis:** Calcula ventas de ayer.\n4. **Consultor IA:** Gemini redacta un consejo de negocios personalizado según el rendimiento.\n5. **Entrega:** Envía email motivacional.",
        "height": 784,
        "width": 1904,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        656,
        -224
      ],
      "id": "79a7a532-3433-4c13-9658-453d5d8fc546",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "comercios",
        "returnAll": true,
        "filterType": "none"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        912,
        208
      ],
      "id": "38bb038f-c29a-44c6-99a1-30822fc9b081",
      "name": "Obtener Comercios Activos",
      "credentials": {
        "supabaseApi": {
          "id": "VE7fLcHe01BYK4SQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1488,
        128
      ],
      "id": "85626aec-f854-45ba-9e44-1f934bd55196",
      "name": "Wait 5 s",
      "webhookId": "70450871-98b4-4cb1-b6be-df5707fa63ce"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "Actúa como Arnaldo, Consultor Senior de Negocios y Experto en Automatización. Tu audiencia NO son principiantes; son comerciantes que facturan pero sufren desorden y falta de tiempo.\n\nTu objetivo: Romper una creencia limitante o entregar una táctica de negocio avanzada, pero explicada en lenguaje simple.\n\nINSTRUCCIONES ESTRICTAS:\n1. Elige UNO de estos 4 marcos mentales avanzados para el mensaje de hoy:\n   - La Ley de Pareto (80/20): (Ej: \"El 20% de tus productos te da el 80% de ganancia. ¿Sabes cuáles son o sigues reponiendo todo por igual?\").\n   - El Mito del Emprendedor: (Ej: \"Si tu negocio no funciona cuando no estás, no tienes un negocio, tienes un auto-empleo. Empieza a documentar procesos hoy\").\n   - Costo de Oportunidad: (Ej: \"Pasar 1 hora acomodando latas te cuesta dinero. Esa hora deberías usarla negociando proveedores o configurando tu IA\").\n   - Psicología de Precios: (Ej: \"No bajes precios por miedo. Sube el valor percibido. Un cliente que viene por precio, se va por precio\").\n\n2. ESTRUCTURA DEL MENSAJE (Sin saludos cursis):\n   - EL GOLPE DE REALIDAD: Una pregunta o afirmación directa que incomode constructivamente. (Ej: \"¿Tu negocio te posee a ti o tú posees a tu negocio?\").\n   - LA TÁCTICA: Explica el concepto brevemente y cómo aplicarlo YA MISMO. Nada de teoría abstracta.\n   - EL PUENTE TECNOLÓGICO: Conecta ese problema con la solución: Sistematizar.\n   - CTA: \"No te conformes con sobrevivir. Profesionalízate con n8n y Estrategia. Sígueme en instagram.com/arnaldoestratega o escríbeme abajo para escalar.\"\n\nRESTRICCIONES NEGATIVAS (Lo que NO debes hacer):\n- NO uses frases motivacionales vacías como \"Tú puedes\", \"Sigue adelante\", \"Sonríe\".\n- NO uses signos de exclamación excesivos (!!). Mantén un tono serio, sobrio y de autoridad experta.\n- NO superes los 600 caracteres.\n\nFormato: Texto plano, directo al grano."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1744,
        128
      ],
      "id": "bc4d1dd7-3a9c-48fa-a4c3-9977c0b9cf5e",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "u86n2rwNcUBwKUCi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generar-reporte",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        832,
        -688
      ],
      "id": "5d92aaee-26ff-49cd-a5e3-402787168947",
      "name": "Webhook2",
      "webhookId": "ebff26f8-e0d9-42b1-a51d-3b2f72b8d885"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "comercios",
        "filters": {
          "conditions": [
            {
              "keyName": "slug",
              "keyValue": "={{ $('Webhook2').item.json.body.id_comerciante }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1264,
        -688
      ],
      "id": "7a3fb9f7-29ba-48c3-a8f1-ff0b597817cc",
      "name": "Obtener Comerciante",
      "credentials": {
        "supabaseApi": {
          "id": "VE7fLcHe01BYK4SQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.destinatario }}",
        "subject": "Aquí Tu Reporte ",
        "message": "={{ $json.html_email }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1872,
        -688
      ],
      "id": "e2478b77-2acf-4e92-aed6-2061f71ecd45",
      "name": "Enviar Reporte",
      "webhookId": "7ba3c000-aecf-4f76-8e6c-e9b8b36cf2c7",
      "credentials": {
        "gmailOAuth2": {
          "id": "bhcg3bKbJJpDmkCY",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2048,
        -688
      ],
      "id": "b83c68eb-d8ee-497d-8b38-1c6335d74b95",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "content": "## 📊 GENERADOR DE REPORTES (A DEMANDA)\n**Objetivo:** Enviar resumen cuando el usuario lo pide.\n\n**⚙️ LÓGICA:**\n1. Recibe el rango de fechas solicitado.\n2. Genera un HTML dinámico con tablas y totales.\n3. Envía el reporte PDF/HTML al correo del usuario.",
        "height": 800,
        "width": 1888,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        672,
        -1088
      ],
      "id": "b84afa1a-d8f5-470a-b812-4fbd02400541",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a3ebfb04-8d05-4acf-ba2f-ee50e426f3a9",
              "name": "rango_inicio",
              "value": "={{ $json.body.periodo == 'anio' ? $today.format('yyyy') + '-01-01 00:00:00' : $json.body.fecha_desde + ' 00:00:00' }}",
              "type": "string"
            },
            {
              "id": "367b9152-0ef8-4945-955e-728b4b14c930",
              "name": "rango_fin",
              "value": "={{ $json.body.fecha_hasta }} 23:59:59",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        -688
      ],
      "id": "9468b9de-7661-4365-affd-b9e30997293b",
      "name": "Preparar Fechas"
    },
    {
      "parameters": {
        "jsCode": "// ✅ CÓDIGO ACTUALIZADO PARA \"Preparar Reporte\"\n\n// 1. Capturar datos de la función RPC\nconst respuestaRPC = $input.first().json;\n\n// Verificar si la RPC respondió correctamente\nif (!respuestaRPC.success) {\n  throw new Error(respuestaRPC.error || 'Error obteniendo transacciones');\n}\n\n// Extraer array de transacciones\nconst transaccionesArray = respuestaRPC.transacciones || [];\n\n// 2. Datos del comerciante y webhook\nconst comerciante = $('Obtener Comerciante').first()?.json || {};\nconst webhookData = $('Webhook2').first()?.json?.body || {};\n\nconst emailFinal = webhookData.email_destinacion || comerciante.email || \"soporte@arnaldoayala.com\";\nconst nombreNegocio = comerciante.nombre_local || \"tu negocio\";\nconst periodoReporte = (webhookData.periodo || \"periodo solicitado\").toUpperCase();\n\n// 3. Variables para cálculos\nlet totalVentas = 0;\nlet totalGastos = 0;\nlet filasTabla = \"\";\n\n// 4. Procesar cada transacción\nfor (const tx of transaccionesArray) {\n  const monto = parseFloat(tx.monto || 0);\n  \n  const fechaRaw = tx.fecha_hora;\n  const fecha = fechaRaw ? new Date(fechaRaw).toLocaleDateString('es-AR', {\n    day: '2-digit',\n    month: '2-digit',\n    year: 'numeric'\n  }) : \"S/F\";\n\n  const concepto = tx.descripcion || (tx.tipo === 'INGRESO' ? 'Venta de productos' : 'Gasto general');\n\n  if (tx.tipo === 'INGRESO') {\n    totalVentas += monto;\n    filasTabla += `\n      <tr>\n        <td style=\"padding: 12px; border-bottom: 1px solid #edf2f7; color: #4a5568;\">${fecha}</td>\n        <td style=\"padding: 12px; border-bottom: 1px solid #edf2f7; color: #4a5568;\">${concepto}</td>\n        <td style=\"padding: 12px; border-bottom: 1px solid #edf2f7; color: #2f855a; font-weight: bold; text-align: right;\">+$${monto.toLocaleString('es-AR', {minimumFractionDigits: 2})}</td>\n      </tr>`;\n  } else {\n    totalGastos += monto;\n    filasTabla += `\n      <tr>\n        <td style=\"padding: 12px; border-bottom: 1px solid #edf2f7; color: #4a5568;\">${fecha}</td>\n        <td style=\"padding: 12px; border-bottom: 1px solid #edf2f7; color: #4a5568;\">${concepto}</td>\n        <td style=\"padding: 12px; border-bottom: 1px solid #edf2f7; color: #c53030; font-weight: bold; text-align: right;\">-$${monto.toLocaleString('es-AR', {minimumFractionDigits: 2})}</td>\n      </tr>`;\n  }\n}\n\n// 5. Análisis de Consultoría\nconst balanceNeto = totalVentas - totalGastos;\nlet mensajeConsultor = \"\";\nlet colorPrincipal = \"#3182ce\"; \n\nif (balanceNeto > 0) {\n  colorPrincipal = \"#2f855a\"; \n  mensajeConsultor = `\n    <div style=\"background-color: #f0fff4; border-left: 4px solid #38a169; padding: 15px; margin-top: 20px;\">\n      <h4 style=\"margin: 0; color: #276749;\">¡Excelente trabajo! 👏</h4>\n      <p style=\"margin: 5px 0 0 0; color: #2f855a; font-size: 14px;\">\n        Tu negocio está dando frutos. Estas ganancias son el resultado de tu esfuerzo y buena gestión. \n        ¡A seguir por este camino para escalar al siguiente nivel!\n      </p>\n    </div>`;\n} else if (balanceNeto < 0) {\n  colorPrincipal = \"#c53030\"; \n  mensajeConsultor = `\n    <div style=\"background-color: #fff5f5; border-left: 4px solid #e53e3e; padding: 15px; margin-top: 20px;\">\n      <h4 style=\"margin: 0; color: #9b2c2c;\">¡A no bajar los brazos! 💪</h4>\n      <p style=\"margin: 5px 0 0 0; color: #c53030; font-size: 14px;\">\n        Este periodo cerró en negativo, pero cada número es una lección. Revisa los gastos y \n        ajusta la estrategia. ¡Tú tienes la capacidad de revertir esto y volver a crecer!\n      </p>\n    </div>`;\n} else {\n  mensajeConsultor = `\n    <div style=\"background-color: #ebf8ff; border-left: 4px solid #3182ce; padding: 15px; margin-top: 20px;\">\n      <h4 style=\"margin: 0; color: #2c5282;\">Periodo en equilibrio</h4>\n      <p style=\"margin: 5px 0 0 0; color: #2b6cb0; font-size: 14px;\">\n        Tus ingresos cubrieron exactamente tus gastos. Es un buen momento para analizar \n        cómo aumentar el margen de beneficio en el próximo periodo.\n      </p>\n    </div>`;\n}\n\n// 6. Construcción del HTML (igual que antes)\nconst htmlReporte = `\n<div style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #f7fafc; padding: 20px;\">\n  <div style=\"max-width: 600px; margin: 0 auto; background-color: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 4px 6px rgba(0,0,0,0.1);\">\n    \n    <div style=\"background-color: ${colorPrincipal}; padding: 30px; text-align: center;\">\n      <h1 style=\"color: #ffffff; margin: 0; font-size: 24px; text-transform: uppercase; letter-spacing: 2px;\">Reporte de Resultados</h1>\n      <p style=\"color: rgba(255,255,255,0.8); margin: 5px 0 0 0;\">${nombreNegocio} | Periodo: ${periodoReporte}</p>\n    </div>\n\n    <div style=\"padding: 30px;\">\n      <table style=\"width: 100%; margin-bottom: 30px; border-collapse: collapse;\">\n        <tr>\n          <td style=\"width: 33.33%; text-align: center; padding: 10px;\">\n            <span style=\"display: block; font-size: 11px; color: #718096; text-transform: uppercase; margin-bottom: 5px;\">Ingresos</span>\n            <strong style=\"font-size: 18px; color: #2f855a;\">$${totalVentas.toLocaleString('es-AR', {minimumFractionDigits: 2})}</strong>\n          </td>\n          <td style=\"width: 33.33%; text-align: center; padding: 10px; border-left: 1px solid #edf2f7; border-right: 1px solid #edf2f7;\">\n            <span style=\"display: block; font-size: 11px; color: #718096; text-transform: uppercase; margin-bottom: 5px;\">Gastos</span>\n            <strong style=\"font-size: 18px; color: #c53030;\">$${totalGastos.toLocaleString('es-AR', {minimumFractionDigits: 2})}</strong>\n          </td>\n          <td style=\"width: 33.33%; text-align: center; padding: 10px;\">\n            <span style=\"display: block; font-size: 11px; color: #718096; text-transform: uppercase; margin-bottom: 5px;\">Balance</span>\n            <strong style=\"font-size: 18px; color: ${colorPrincipal};\">$${balanceNeto.toLocaleString('es-AR', {minimumFractionDigits: 2})}</strong>\n          </td>\n        </tr>\n      </table>\n\n      <h3 style=\"color: #2d3748; border-bottom: 2px solid #edf2f7; padding-bottom: 10px; margin-bottom: 15px; font-size: 16px;\">Detalle de Movimientos</h3>\n      <table style=\"width: 100%; border-collapse: collapse;\">\n        <thead>\n          <tr style=\"background-color: #f8fafc;\">\n            <th style=\"padding: 12px; text-align: left; font-size: 11px; color: #718096; text-transform: uppercase;\">Fecha</th>\n            <th style=\"padding: 12px; text-align: left; font-size: 11px; color: #718096; text-transform: uppercase;\">Concepto</th>\n            <th style=\"padding: 12px; text-align: right; font-size: 11px; color: #718096; text-transform: uppercase;\">Monto</th>\n          </tr>\n        </thead>\n        <tbody>\n          ${filasTabla}\n        </tbody>\n        <tfoot>\n          <tr style=\"background-color: #f8fafc; font-weight: bold;\">\n            <td colspan=\"2\" style=\"padding: 12px; border-top: 2px solid #edf2f7; color: #2d3748; font-size: 14px;\">RESULTADO TOTAL FINAL</td>\n            <td style=\"padding: 12px; border-top: 2px solid #edf2f7; text-align: right; color: ${colorPrincipal}; font-size: 18px;\">$${balanceNeto.toLocaleString('es-AR', {minimumFractionDigits: 2})}</td>\n          </tr>\n        </tfoot>\n      </table>\n\n      ${mensajeConsultor}\n\n      <div style=\"margin-top: 40px; padding-top: 20px; border-top: 1px solid #edf2f7; color: #4a5568;\">\n        <p style=\"margin: 0; font-size: 14px; font-weight: bold;\">Arnaldo Ayala</p>\n        <p style=\"margin: 2px 0; font-size: 13px; color: #718096;\">Estratega en IA y Marketing</p>\n        <p style=\"margin: 10px 0 0 0; font-size: 12px; color: #3182ce;\">\n          📞 WhatsApp Soporte: <a href=\"https://wa.me/543765384843\" style=\"color: #3182ce; text-decoration: none;\">3765384843</a>\n        </p>\n      </div>\n    </div>\n\n    <div style=\"background-color: #f8fafc; padding: 20px; text-align: center; border-top: 1px solid #edf2f7;\">\n      <p style=\"margin: 0; font-size: 11px; color: #a0aec0;\">Reporte generado automáticamente por la Agencia Arnaldo Ayala.</p>\n    </div>\n  </div>\n</div>\n`;\n\n// 7. Retorno\nreturn {\n  json: {\n    asunto: `📊 Reporte ${periodoReporte} - ${nombreNegocio}`,\n    destinatario: emailFinal,\n    resumen_ventas: totalVentas,\n    resumen_gastos: totalGastos,\n    balance: balanceNeto,\n    html_email: htmlReporte\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        -688
      ],
      "id": "97330213-f5aa-4dba-917c-7def06e38011",
      "name": "Preparar Reporte"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pczrezpmdugdsjrxspjh.supabase.co/rest/v1/rpc/obtener_historial_transacciones",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NzAzNjg5NCwiZXhwIjoyMDgyNjEyODk0fQ.DoRhW9e10ACffio4erVzDwy1Uxa47VxUNXffLVdC49k"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_comercio_id\": \"{{ $('Webhook2').item.json.body.id_comerciante }}\",\n  \"p_fecha_desde\": \"{{ $('Preparar Fechas').item.json.rango_inicio }}\",\n  \"p_fecha_hasta\": \"{{ $('Preparar Fechas').item.json.rango_fin }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1472,
        -688
      ],
      "id": "56f54ec8-61cd-437f-9ea0-da28b21dad22",
      "name": "Obtener Reporte",
      "credentials": {
        "httpBearerAuth": {
          "id": "cAsFCRAMg8tGIVH4",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "content": "# 📄 FICHA TÉCNICA: REPORTES & RETENCIÓN\n**📅 Última Actualización:** 29/01/2026\n**👤 Responsable:** Agencia Arnaldo Ayala\n**🤖 IA:** Google Gemini (Análisis de Negocio)\n**🔗 Integraciones:** Gmail, Notion, Supabase\n\n## 📊 GENERADOR DE REPORTES (A DEMANDA)\n**Objetivo:** Enviar resumen cuando el usuario lo pide.\n\n**⚙️ LÓGICA:**\n1. Recibe el rango de fechas solicitado.\n2. Genera un HTML dinámico con tablas y totales.\n3. Envía el reporte PDF/HTML al correo del usuario.\n\n## 🧠 MENTORÍA AUTOMATIZADA (7:00 AM)\n**Objetivo:** Fidelizar al cliente con valor diario.\n\n**⚙️ LÓGICA:**\n1. Se activa automáticamente a las 7:00 AM.\n2. Consulta el rendimiento del comercio en la base de datos.\n3. Gemini redacta un consejo de negocios personalizado.\n4. Envía el correo motivacional al cliente.",
        "height": 1648,
        "width": 672,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -192,
        -1088
      ],
      "id": "84477a3c-2b6b-462b-8edf-e0516a5c4ee5",
      "name": "Sticky Note1"
    }
  ],
  "connections": {
    "Schedule Trigger - 7 AM1": {
      "main": [
        [
          {
            "node": "Obtener Comercios Activos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Comercios1": {
      "main": [
        [],
        [
          {
            "node": "Wait 5 s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Email1": {
      "main": [
        [
          {
            "node": "Loop Back1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Back1": {
      "main": [
        [
          {
            "node": "Loop Comercios1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Comercios Activos": {
      "main": [
        [
          {
            "node": "Loop Comercios1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5 s": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Enviar Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Preparar Fechas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Comerciante": {
      "main": [
        [
          {
            "node": "Obtener Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Reporte": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Fechas": {
      "main": [
        [
          {
            "node": "Obtener Comerciante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Reporte": {
      "main": [
        [
          {
            "node": "Enviar Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Reporte": {
      "main": [
        [
          {
            "node": "Preparar Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "a693f952-371a-4aa6-a0ce-15c4266057b0",
  "activeVersionId": "a693f952-371a-4aa6-a0ce-15c4266057b0",
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-01-23T13:30:30.893Z",
      "createdAt": "2026-01-23T13:30:30.893Z",
      "role": "workflow:owner",
      "workflowId": "CgBb94Jif_sUJbd4XOk_b",
      "projectId": "EftYNIwW5VkchSsx"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-30T12:44:01.000Z",
    "createdAt": "2026-01-30T12:43:58.753Z",
    "versionId": "a693f952-371a-4aa6-a0ce-15c4266057b0",
    "workflowId": "CgBb94Jif_sUJbd4XOk_b",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 7
              }
            ]
          }
        },
        "id": "60cc8114-34c5-4261-b001-7830294b8664",
        "name": "Schedule Trigger - 7 AM1",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          704,
          208
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "e04c6754-699c-4fbb-8843-005c65d1135a",
        "name": "Loop Comercios1",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          1152,
          208
        ],
        "notes": "Procesa cada comercio uno por uno"
      },
      {
        "parameters": {
          "sendTo": "={{ $('Wait 5 s').item.json.email }}",
          "subject": "=🚀 Consejo del Dia {{ $('Wait 5 s').item.json.nombre_local }}: Ideas para una Mejor Gestión",
          "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    .container { font-family: sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; border: 1px solid #eee; border-radius: 10px; }\n    .header { color: #008f4c; font-size: 24px; font-weight: bold; text-align: center; margin-bottom: 20px; }\n    .content { line-height: 1.6; color: #333; font-size: 16px; margin-bottom: 30px; }\n    .button-wrapper { text-align: center; margin-top: 20px; }\n    .btn { display: inline-block; padding: 12px 25px; margin: 10px; color: white !important; text-decoration: none; border-radius: 8px; font-weight: bold; }\n    .btn-ws { background-color: #25D366; }\n    .btn-web { background-color: #008f4c; }\n    /* Estilo para el nuevo botón */\n    .btn-ig { background-color: #E1306C; } \n    .footer { font-size: 12px; color: #888; text-align: center; margin-top: 30px; border-top: 1px solid #eee; padding-top: 10px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">¡Hola, {{ $('Wait 5 s').item.json.nombre_local }}! 💡</div>\n    \n    <div class=\"content\">\n      {{ $json.content.parts[0].text }}\n    </div>\n\n    <div class=\"button-wrapper\">\n      <a href=\"https://instagram.com/arnaldoestratega\" class=\"btn btn-ig\">Seguir en Instagram</a>\n      <a href=\"https://wa.me/543765384843\" class=\"btn btn-ws\">Escribirme al WhatsApp</a>\n      <a href=\"https://arnaldoayalaestratega.com\" class=\"btn btn-web\">Visitar mi Sitio Web</a>\n    </div>\n\n    <div class=\"footer\">\n      Agencia Arnaldo Ayala - Consultoría en IA y Marketing<br>\n      Este es un mensaje de mentoría diaria para tu negocio.\n    </div>\n  </div>\n</body>\n</html>",
          "options": {
            "appendAttribution": false
          }
        },
        "id": "9c72174c-075d-463d-bbfe-f3662d1f46df",
        "name": "Enviar Email1",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          2128,
          128
        ],
        "webhookId": "678fd532-6073-41a8-b72c-715820d3add0",
        "credentials": {
          "gmailOAuth2": {
            "id": "bhcg3bKbJJpDmkCY",
            "name": "Gmail account 2"
          }
        },
        "notes": "Envía el reporte por email"
      },
      {
        "parameters": {},
        "id": "4b454391-a713-47cd-aaba-38ceab5a714d",
        "name": "Loop Back1",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          2384,
          208
        ]
      },
      {
        "parameters": {
          "content": "## 🧠 MENTORÍA AUTOMATIZADA (7:00 AM)\n**Objetivo:** Fidelizar al cliente con valor diario.\n\n**⚙️ EL PROCESO:**\n1. **Trigger:** Se despierta a las 7 AM.\n2. **Loop:** Recorre cada comercio activo.\n3. **Análisis:** Calcula ventas de ayer.\n4. **Consultor IA:** Gemini redacta un consejo de negocios personalizado según el rendimiento.\n5. **Entrega:** Envía email motivacional.",
          "height": 784,
          "width": 1904,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          656,
          -224
        ],
        "id": "79a7a532-3433-4c13-9658-453d5d8fc546",
        "name": "Sticky Note7"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "comercios",
          "returnAll": true,
          "filterType": "none"
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          912,
          208
        ],
        "id": "38bb038f-c29a-44c6-99a1-30822fc9b081",
        "name": "Obtener Comercios Activos",
        "credentials": {
          "supabaseApi": {
            "id": "VE7fLcHe01BYK4SQ",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1488,
          128
        ],
        "id": "85626aec-f854-45ba-9e44-1f934bd55196",
        "name": "Wait 5 s",
        "webhookId": "70450871-98b4-4cb1-b6be-df5707fa63ce"
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "models/gemini-2.5-flash",
            "mode": "list",
            "cachedResultName": "models/gemini-2.5-flash"
          },
          "messages": {
            "values": [
              {
                "content": "Actúa como Arnaldo, Consultor Senior de Negocios y Experto en Automatización. Tu audiencia NO son principiantes; son comerciantes que facturan pero sufren desorden y falta de tiempo.\n\nTu objetivo: Romper una creencia limitante o entregar una táctica de negocio avanzada, pero explicada en lenguaje simple.\n\nINSTRUCCIONES ESTRICTAS:\n1. Elige UNO de estos 4 marcos mentales avanzados para el mensaje de hoy:\n   - La Ley de Pareto (80/20): (Ej: \"El 20% de tus productos te da el 80% de ganancia. ¿Sabes cuáles son o sigues reponiendo todo por igual?\").\n   - El Mito del Emprendedor: (Ej: \"Si tu negocio no funciona cuando no estás, no tienes un negocio, tienes un auto-empleo. Empieza a documentar procesos hoy\").\n   - Costo de Oportunidad: (Ej: \"Pasar 1 hora acomodando latas te cuesta dinero. Esa hora deberías usarla negociando proveedores o configurando tu IA\").\n   - Psicología de Precios: (Ej: \"No bajes precios por miedo. Sube el valor percibido. Un cliente que viene por precio, se va por precio\").\n\n2. ESTRUCTURA DEL MENSAJE (Sin saludos cursis):\n   - EL GOLPE DE REALIDAD: Una pregunta o afirmación directa que incomode constructivamente. (Ej: \"¿Tu negocio te posee a ti o tú posees a tu negocio?\").\n   - LA TÁCTICA: Explica el concepto brevemente y cómo aplicarlo YA MISMO. Nada de teoría abstracta.\n   - EL PUENTE TECNOLÓGICO: Conecta ese problema con la solución: Sistematizar.\n   - CTA: \"No te conformes con sobrevivir. Profesionalízate con n8n y Estrategia. Sígueme en instagram.com/arnaldoestratega o escríbeme abajo para escalar.\"\n\nRESTRICCIONES NEGATIVAS (Lo que NO debes hacer):\n- NO uses frases motivacionales vacías como \"Tú puedes\", \"Sigue adelante\", \"Sonríe\".\n- NO uses signos de exclamación excesivos (!!). Mantén un tono serio, sobrio y de autoridad experta.\n- NO superes los 600 caracteres.\n\nFormato: Texto plano, directo al grano."
              }
            ]
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1.1,
        "position": [
          1744,
          128
        ],
        "id": "bc4d1dd7-3a9c-48fa-a4c3-9977c0b9cf5e",
        "name": "Message a model",
        "credentials": {
          "googlePalmApi": {
            "id": "u86n2rwNcUBwKUCi",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "generar-reporte",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          832,
          -688
        ],
        "id": "5d92aaee-26ff-49cd-a5e3-402787168947",
        "name": "Webhook2",
        "webhookId": "ebff26f8-e0d9-42b1-a51d-3b2f72b8d885"
      },
      {
        "parameters": {
          "operation": "get",
          "tableId": "comercios",
          "filters": {
            "conditions": [
              {
                "keyName": "slug",
                "keyValue": "={{ $('Webhook2').item.json.body.id_comerciante }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1264,
          -688
        ],
        "id": "7a3fb9f7-29ba-48c3-a8f1-ff0b597817cc",
        "name": "Obtener Comerciante",
        "credentials": {
          "supabaseApi": {
            "id": "VE7fLcHe01BYK4SQ",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "={{ $json.destinatario }}",
          "subject": "Aquí Tu Reporte ",
          "message": "={{ $json.html_email }}",
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          1872,
          -688
        ],
        "id": "e2478b77-2acf-4e92-aed6-2061f71ecd45",
        "name": "Enviar Reporte",
        "webhookId": "7ba3c000-aecf-4f76-8e6c-e9b8b36cf2c7",
        "credentials": {
          "gmailOAuth2": {
            "id": "bhcg3bKbJJpDmkCY",
            "name": "Gmail account 2"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          2048,
          -688
        ],
        "id": "b83c68eb-d8ee-497d-8b38-1c6335d74b95",
        "name": "Respond to Webhook4"
      },
      {
        "parameters": {
          "content": "## 📊 GENERADOR DE REPORTES (A DEMANDA)\n**Objetivo:** Enviar resumen cuando el usuario lo pide.\n\n**⚙️ LÓGICA:**\n1. Recibe el rango de fechas solicitado.\n2. Genera un HTML dinámico con tablas y totales.\n3. Envía el reporte PDF/HTML al correo del usuario.",
          "height": 800,
          "width": 1888,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          672,
          -1088
        ],
        "id": "b84afa1a-d8f5-470a-b812-4fbd02400541",
        "name": "Sticky Note13"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a3ebfb04-8d05-4acf-ba2f-ee50e426f3a9",
                "name": "rango_inicio",
                "value": "={{ $json.body.periodo == 'anio' ? $today.format('yyyy') + '-01-01 00:00:00' : $json.body.fecha_desde + ' 00:00:00' }}",
                "type": "string"
              },
              {
                "id": "367b9152-0ef8-4945-955e-728b4b14c930",
                "name": "rango_fin",
                "value": "={{ $json.body.fecha_hasta }} 23:59:59",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1040,
          -688
        ],
        "id": "9468b9de-7661-4365-affd-b9e30997293b",
        "name": "Preparar Fechas"
      },
      {
        "parameters": {
          "jsCode": "// ✅ CÓDIGO ACTUALIZADO PARA \"Preparar Reporte\"\n\n// 1. Capturar datos de la función RPC\nconst respuestaRPC = $input.first().json;\n\n// Verificar si la RPC respondió correctamente\nif (!respuestaRPC.success) {\n  throw new Error(respuestaRPC.error || 'Error obteniendo transacciones');\n}\n\n// Extraer array de transacciones\nconst transaccionesArray = respuestaRPC.transacciones || [];\n\n// 2. Datos del comerciante y webhook\nconst comerciante = $('Obtener Comerciante').first()?.json || {};\nconst webhookData = $('Webhook2').first()?.json?.body || {};\n\nconst emailFinal = webhookData.email_destinacion || comerciante.email || \"soporte@arnaldoayala.com\";\nconst nombreNegocio = comerciante.nombre_local || \"tu negocio\";\nconst periodoReporte = (webhookData.periodo || \"periodo solicitado\").toUpperCase();\n\n// 3. Variables para cálculos\nlet totalVentas = 0;\nlet totalGastos = 0;\nlet filasTabla = \"\";\n\n// 4. Procesar cada transacción\nfor (const tx of transaccionesArray) {\n  const monto = parseFloat(tx.monto || 0);\n  \n  const fechaRaw = tx.fecha_hora;\n  const fecha = fechaRaw ? new Date(fechaRaw).toLocaleDateString('es-AR', {\n    day: '2-digit',\n    month: '2-digit',\n    year: 'numeric'\n  }) : \"S/F\";\n\n  const concepto = tx.descripcion || (tx.tipo === 'INGRESO' ? 'Venta de productos' : 'Gasto general');\n\n  if (tx.tipo === 'INGRESO') {\n    totalVentas += monto;\n    filasTabla += `\n      <tr>\n        <td style=\"padding: 12px; border-bottom: 1px solid #edf2f7; color: #4a5568;\">${fecha}</td>\n        <td style=\"padding: 12px; border-bottom: 1px solid #edf2f7; color: #4a5568;\">${concepto}</td>\n        <td style=\"padding: 12px; border-bottom: 1px solid #edf2f7; color: #2f855a; font-weight: bold; text-align: right;\">+$${monto.toLocaleString('es-AR', {minimumFractionDigits: 2})}</td>\n      </tr>`;\n  } else {\n    totalGastos += monto;\n    filasTabla += `\n      <tr>\n        <td style=\"padding: 12px; border-bottom: 1px solid #edf2f7; color: #4a5568;\">${fecha}</td>\n        <td style=\"padding: 12px; border-bottom: 1px solid #edf2f7; color: #4a5568;\">${concepto}</td>\n        <td style=\"padding: 12px; border-bottom: 1px solid #edf2f7; color: #c53030; font-weight: bold; text-align: right;\">-$${monto.toLocaleString('es-AR', {minimumFractionDigits: 2})}</td>\n      </tr>`;\n  }\n}\n\n// 5. Análisis de Consultoría\nconst balanceNeto = totalVentas - totalGastos;\nlet mensajeConsultor = \"\";\nlet colorPrincipal = \"#3182ce\"; \n\nif (balanceNeto > 0) {\n  colorPrincipal = \"#2f855a\"; \n  mensajeConsultor = `\n    <div style=\"background-color: #f0fff4; border-left: 4px solid #38a169; padding: 15px; margin-top: 20px;\">\n      <h4 style=\"margin: 0; color: #276749;\">¡Excelente trabajo! 👏</h4>\n      <p style=\"margin: 5px 0 0 0; color: #2f855a; font-size: 14px;\">\n        Tu negocio está dando frutos. Estas ganancias son el resultado de tu esfuerzo y buena gestión. \n        ¡A seguir por este camino para escalar al siguiente nivel!\n      </p>\n    </div>`;\n} else if (balanceNeto < 0) {\n  colorPrincipal = \"#c53030\"; \n  mensajeConsultor = `\n    <div style=\"background-color: #fff5f5; border-left: 4px solid #e53e3e; padding: 15px; margin-top: 20px;\">\n      <h4 style=\"margin: 0; color: #9b2c2c;\">¡A no bajar los brazos! 💪</h4>\n      <p style=\"margin: 5px 0 0 0; color: #c53030; font-size: 14px;\">\n        Este periodo cerró en negativo, pero cada número es una lección. Revisa los gastos y \n        ajusta la estrategia. ¡Tú tienes la capacidad de revertir esto y volver a crecer!\n      </p>\n    </div>`;\n} else {\n  mensajeConsultor = `\n    <div style=\"background-color: #ebf8ff; border-left: 4px solid #3182ce; padding: 15px; margin-top: 20px;\">\n      <h4 style=\"margin: 0; color: #2c5282;\">Periodo en equilibrio</h4>\n      <p style=\"margin: 5px 0 0 0; color: #2b6cb0; font-size: 14px;\">\n        Tus ingresos cubrieron exactamente tus gastos. Es un buen momento para analizar \n        cómo aumentar el margen de beneficio en el próximo periodo.\n      </p>\n    </div>`;\n}\n\n// 6. Construcción del HTML (igual que antes)\nconst htmlReporte = `\n<div style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #f7fafc; padding: 20px;\">\n  <div style=\"max-width: 600px; margin: 0 auto; background-color: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 4px 6px rgba(0,0,0,0.1);\">\n    \n    <div style=\"background-color: ${colorPrincipal}; padding: 30px; text-align: center;\">\n      <h1 style=\"color: #ffffff; margin: 0; font-size: 24px; text-transform: uppercase; letter-spacing: 2px;\">Reporte de Resultados</h1>\n      <p style=\"color: rgba(255,255,255,0.8); margin: 5px 0 0 0;\">${nombreNegocio} | Periodo: ${periodoReporte}</p>\n    </div>\n\n    <div style=\"padding: 30px;\">\n      <table style=\"width: 100%; margin-bottom: 30px; border-collapse: collapse;\">\n        <tr>\n          <td style=\"width: 33.33%; text-align: center; padding: 10px;\">\n            <span style=\"display: block; font-size: 11px; color: #718096; text-transform: uppercase; margin-bottom: 5px;\">Ingresos</span>\n            <strong style=\"font-size: 18px; color: #2f855a;\">$${totalVentas.toLocaleString('es-AR', {minimumFractionDigits: 2})}</strong>\n          </td>\n          <td style=\"width: 33.33%; text-align: center; padding: 10px; border-left: 1px solid #edf2f7; border-right: 1px solid #edf2f7;\">\n            <span style=\"display: block; font-size: 11px; color: #718096; text-transform: uppercase; margin-bottom: 5px;\">Gastos</span>\n            <strong style=\"font-size: 18px; color: #c53030;\">$${totalGastos.toLocaleString('es-AR', {minimumFractionDigits: 2})}</strong>\n          </td>\n          <td style=\"width: 33.33%; text-align: center; padding: 10px;\">\n            <span style=\"display: block; font-size: 11px; color: #718096; text-transform: uppercase; margin-bottom: 5px;\">Balance</span>\n            <strong style=\"font-size: 18px; color: ${colorPrincipal};\">$${balanceNeto.toLocaleString('es-AR', {minimumFractionDigits: 2})}</strong>\n          </td>\n        </tr>\n      </table>\n\n      <h3 style=\"color: #2d3748; border-bottom: 2px solid #edf2f7; padding-bottom: 10px; margin-bottom: 15px; font-size: 16px;\">Detalle de Movimientos</h3>\n      <table style=\"width: 100%; border-collapse: collapse;\">\n        <thead>\n          <tr style=\"background-color: #f8fafc;\">\n            <th style=\"padding: 12px; text-align: left; font-size: 11px; color: #718096; text-transform: uppercase;\">Fecha</th>\n            <th style=\"padding: 12px; text-align: left; font-size: 11px; color: #718096; text-transform: uppercase;\">Concepto</th>\n            <th style=\"padding: 12px; text-align: right; font-size: 11px; color: #718096; text-transform: uppercase;\">Monto</th>\n          </tr>\n        </thead>\n        <tbody>\n          ${filasTabla}\n        </tbody>\n        <tfoot>\n          <tr style=\"background-color: #f8fafc; font-weight: bold;\">\n            <td colspan=\"2\" style=\"padding: 12px; border-top: 2px solid #edf2f7; color: #2d3748; font-size: 14px;\">RESULTADO TOTAL FINAL</td>\n            <td style=\"padding: 12px; border-top: 2px solid #edf2f7; text-align: right; color: ${colorPrincipal}; font-size: 18px;\">$${balanceNeto.toLocaleString('es-AR', {minimumFractionDigits: 2})}</td>\n          </tr>\n        </tfoot>\n      </table>\n\n      ${mensajeConsultor}\n\n      <div style=\"margin-top: 40px; padding-top: 20px; border-top: 1px solid #edf2f7; color: #4a5568;\">\n        <p style=\"margin: 0; font-size: 14px; font-weight: bold;\">Arnaldo Ayala</p>\n        <p style=\"margin: 2px 0; font-size: 13px; color: #718096;\">Estratega en IA y Marketing</p>\n        <p style=\"margin: 10px 0 0 0; font-size: 12px; color: #3182ce;\">\n          📞 WhatsApp Soporte: <a href=\"https://wa.me/543765384843\" style=\"color: #3182ce; text-decoration: none;\">3765384843</a>\n        </p>\n      </div>\n    </div>\n\n    <div style=\"background-color: #f8fafc; padding: 20px; text-align: center; border-top: 1px solid #edf2f7;\">\n      <p style=\"margin: 0; font-size: 11px; color: #a0aec0;\">Reporte generado automáticamente por la Agencia Arnaldo Ayala.</p>\n    </div>\n  </div>\n</div>\n`;\n\n// 7. Retorno\nreturn {\n  json: {\n    asunto: `📊 Reporte ${periodoReporte} - ${nombreNegocio}`,\n    destinatario: emailFinal,\n    resumen_ventas: totalVentas,\n    resumen_gastos: totalGastos,\n    balance: balanceNeto,\n    html_email: htmlReporte\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1680,
          -688
        ],
        "id": "97330213-f5aa-4dba-917c-7def06e38011",
        "name": "Preparar Reporte"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://pczrezpmdugdsjrxspjh.supabase.co/rest/v1/rpc/obtener_historial_transacciones",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NzAzNjg5NCwiZXhwIjoyMDgyNjEyODk0fQ.DoRhW9e10ACffio4erVzDwy1Uxa47VxUNXffLVdC49k"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"p_comercio_id\": \"{{ $('Webhook2').item.json.body.id_comerciante }}\",\n  \"p_fecha_desde\": \"{{ $('Preparar Fechas').item.json.rango_inicio }}\",\n  \"p_fecha_hasta\": \"{{ $('Preparar Fechas').item.json.rango_fin }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1472,
          -688
        ],
        "id": "56f54ec8-61cd-437f-9ea0-da28b21dad22",
        "name": "Obtener Reporte",
        "credentials": {
          "httpBearerAuth": {
            "id": "cAsFCRAMg8tGIVH4",
            "name": "Bearer Auth account"
          }
        }
      },
      {
        "parameters": {
          "content": "# 📄 FICHA TÉCNICA: REPORTES & RETENCIÓN\n**📅 Última Actualización:** 29/01/2026\n**👤 Responsable:** Agencia Arnaldo Ayala\n**🤖 IA:** Google Gemini (Análisis de Negocio)\n**🔗 Integraciones:** Gmail, Notion, Supabase\n\n## 📊 GENERADOR DE REPORTES (A DEMANDA)\n**Objetivo:** Enviar resumen cuando el usuario lo pide.\n\n**⚙️ LÓGICA:**\n1. Recibe el rango de fechas solicitado.\n2. Genera un HTML dinámico con tablas y totales.\n3. Envía el reporte PDF/HTML al correo del usuario.\n\n## 🧠 MENTORÍA AUTOMATIZADA (7:00 AM)\n**Objetivo:** Fidelizar al cliente con valor diario.\n\n**⚙️ LÓGICA:**\n1. Se activa automáticamente a las 7:00 AM.\n2. Consulta el rendimiento del comercio en la base de datos.\n3. Gemini redacta un consejo de negocios personalizado.\n4. Envía el correo motivacional al cliente.",
          "height": 1648,
          "width": 672,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -192,
          -1088
        ],
        "id": "84477a3c-2b6b-462b-8edf-e0516a5c4ee5",
        "name": "Sticky Note1"
      }
    ],
    "connections": {
      "Schedule Trigger - 7 AM1": {
        "main": [
          [
            {
              "node": "Obtener Comercios Activos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Comercios1": {
        "main": [
          [],
          [
            {
              "node": "Wait 5 s",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar Email1": {
        "main": [
          [
            {
              "node": "Loop Back1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Back1": {
        "main": [
          [
            {
              "node": "Loop Comercios1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Obtener Comercios Activos": {
        "main": [
          [
            {
              "node": "Loop Comercios1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait 5 s": {
        "main": [
          [
            {
              "node": "Message a model",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Message a model": {
        "main": [
          [
            {
              "node": "Enviar Email1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook2": {
        "main": [
          [
            {
              "node": "Preparar Fechas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Obtener Comerciante": {
        "main": [
          [
            {
              "node": "Obtener Reporte",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar Reporte": {
        "main": [
          [
            {
              "node": "Respond to Webhook4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Fechas": {
        "main": [
          [
            {
              "node": "Obtener Comerciante",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Reporte": {
        "main": [
          [
            {
              "node": "Enviar Reporte",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Obtener Reporte": {
        "main": [
          [
            {
              "node": "Preparar Reporte",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Arnaldo Ayala",
    "name": "Version a693f952",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2026-01-23T14:01:22.970Z",
      "createdAt": "2026-01-23T14:01:22.970Z",
      "id": "gy1rAhYFoAQXIZ9u",
      "name": "App 360"
    }
  ]
}