[app-360]---historial-App 360.json
{
  "updatedAt": "2026-01-23T15:23:53.353Z",
  "createdAt": "2026-01-23T13:51:10.798Z",
  "id": "vHNfr13ZD91TcnnamYi7f",
  "name": "[App 360] - Historial",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "dd2a9ad6-5c30-497b-934a-53613bd8b5fd",
      "name": "Responder Historial",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1184,
        624
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    success: true,\n    message: 'Transacción actualizada correctamente'\n  }\n};"
      },
      "id": "ae7a739b-3f85-407c-a7d8-5df1ac880d13",
      "name": "Formatear Respuesta Editar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2736,
        960
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "fa53a0d3-0ca1-47af-ae1f-0181f01503d9",
      "name": "Responder Editar",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3088,
        960
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    id: $json.query.id\n  }\n};"
      },
      "id": "d92a4f5b-b141-4e5c-bde1-bdcb1cd79b08",
      "name": "Formatear Respuesta Eliminar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2752,
        336
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "cdc5fd2e-dce8-4359-8218-b912593fe0cf",
      "name": "Responder Eliminar",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3120,
        336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pczrezpmdugdsjrxspjh.supabase.co/rest/v1/rpc/obtener_historial_transacciones",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_comercio_id\": \"{{ $json.slug }}\",\n  \"p_fecha_desde\": \"{{ ($node[\"GET Historial\"].json.body.fecha_desde || $node[\"GET Historial\"].json.query.fecha_desde) }} 00:00:00\",\n  \"p_fecha_hasta\": \"{{ ($node[\"GET Historial\"].json.body.fecha_hasta || $node[\"GET Historial\"].json.query.fecha_hasta) }} 23:59:59\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        928,
        624
      ],
      "id": "907406e2-39c5-4285-985b-10c2d492970e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "httpMethod": "=PUT",
        "path": "transaccion-actualizar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "815940e1-907a-4934-b447-de7f8744f13a",
      "name": "Webhook - Actualizar",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        1712,
        960
      ],
      "webhookId": "transaccion-ops"
    },
    {
      "parameters": {
        "httpMethod": "=DELETE",
        "path": "transaccion-eliminar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1789d7cc-17a4-4ec5-9687-511d4d8e1779",
      "name": "Webhook - Eliminar",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        1680,
        336
      ],
      "webhookId": "transaccion-ops"
    },
    {
      "parameters": {
        "content": "## 📅 CONSULTA DE MOVIMIENTOS\n**Objetivo:** Obtener el listado de ventas y gastos.\n\n**📥 INPUT:**\n- Fecha Desde / Fecha Hasta\n- ID del Comerciante\n\n**⚙️ PROCESO:**\n1. Valida las fechas solicitadas.\n2. Ejecuta función RPC en Supabase (optimizado para velocidad).\n3. Devuelve lista limpia al frontend.",
        "height": 576,
        "width": 1264,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        288,
        304
      ],
      "id": "ae9092b9-a434-475a-97ba-df772871870f",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://pczrezpmdugdsjrxspjh.supabase.co/rest/v1/transacciones",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $json.id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"monto\": {{ $json.monto }},\n  \"descripcion\": \"{{ $json.descripcion }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2368,
        960
      ],
      "id": "bf6dc58e-7680-477b-8dc1-585e84eec725",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "content": "## ✏️ CORRECCIÓN DE ERRORES (EDICIÓN)\n**Objetivo:** Modificar una transacción mal cargada.\n\n**⚠️ ALCANCE:**\nPermite cambiar el monto o la descripción de una venta\nya registrada. Útil para errores de tipeo.",
        "height": 544,
        "width": 1760
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1600,
        48
      ],
      "id": "c4d04a35-2e0b-4d07-85de-e652f351cebf",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "https://pczrezpmdugdsjrxspjh.supabase.co/rest/v1/transacciones",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $json.id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2336,
        336
      ],
      "id": "901a88e4-7609-4959-9e8d-72a8e3cc264d",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body;\n\nreturn {\n  json: {\n    id: body.id,\n    monto: parseFloat(body.monto),\n    descripcion: body.descripcion\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        960
      ],
      "id": "a635c502-6fea-4d0a-a438-545ab5ec5a5b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body;\n\nreturn {\n  json: {\n    id: body.id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        336
      ],
      "id": "9f130f00-9d5c-4293-ab8a-c3599dcd3e6b",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "comercios",
        "filters": {
          "conditions": [
            {
              "keyName": "slug",
              "keyValue": "={{ $json.query.id_comerciante }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        736,
        624
      ],
      "id": "6cc916bb-f907-41f8-9a06-6065a34ba112",
      "name": "Obtener Comerciante1",
      "credentials": {
        "supabaseApi": {
          "id": "VE7fLcHe01BYK4SQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "path": "historial",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b9b5bce3-6120-4c03-af92-1e061e199e7c",
      "name": "GET Historial",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        512,
        624
      ],
      "webhookId": "historial-transacciones"
    },
    {
      "parameters": {
        "content": "# 📄 FICHA TÉCNICA: AUDITORÍA HISTÓRICA\n---------------------------------\n📅 Última Actualización: 23/01/2026\n👤 Responsable: Agencia Arnaldo Ayala\n🔗 Dependencias: Supabase (RPC: obtener_historial)\n---------------------------------\nDESCRIPCIÓN:\nMicroservicio encargado de la consulta de registros\npasados. Permite filtrar por fechas y realizar\ncorrecciones (Edición/Eliminación) sobre ventas cerradas.",
        "height": 1136,
        "width": 672,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -432,
        16
      ],
      "id": "10db3c5e-e65c-4c6d-8333-fc728844d9eb",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 🗑️ ANULACIÓN DE TRANSACCIONES\n**Objetivo:** Borrar permanentemente un registro.\n\n**⛔ ZONA DE PELIGRO:**\nEsta acción elimina la venta de la base de datos\ny recalcula los totales. No se puede deshacer.",
        "height": 544,
        "width": 1760,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1600,
        640
      ],
      "id": "b8ac3df6-aa5b-4fb0-a457-0707171cd308",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Formatear Respuesta Editar": {
      "main": [
        [
          {
            "node": "Responder Editar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Respuesta Eliminar": {
      "main": [
        [
          {
            "node": "Responder Eliminar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Responder Historial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Actualizar": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Eliminar": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Formatear Respuesta Editar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Formatear Respuesta Eliminar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Comerciante1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Historial": {
      "main": [
        [
          {
            "node": "Obtener Comerciante1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "0661287f-b749-453f-b235-078c9eff18b5",
  "activeVersionId": "0661287f-b749-453f-b235-078c9eff18b5",
  "triggerCount": 3,
  "shared": [
    {
      "updatedAt": "2026-01-23T13:51:10.800Z",
      "createdAt": "2026-01-23T13:51:10.800Z",
      "role": "workflow:owner",
      "workflowId": "vHNfr13ZD91TcnnamYi7f",
      "projectId": "EftYNIwW5VkchSsx"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-23T15:23:56.000Z",
    "createdAt": "2026-01-23T15:23:53.354Z",
    "versionId": "0661287f-b749-453f-b235-078c9eff18b5",
    "workflowId": "vHNfr13ZD91TcnnamYi7f",
    "nodes": [
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {}
        },
        "id": "dd2a9ad6-5c30-497b-934a-53613bd8b5fd",
        "name": "Responder Historial",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          1184,
          624
        ]
      },
      {
        "parameters": {
          "jsCode": "return {\n  json: {\n    success: true,\n    message: 'Transacción actualizada correctamente'\n  }\n};"
        },
        "id": "ae7a739b-3f85-407c-a7d8-5df1ac880d13",
        "name": "Formatear Respuesta Editar",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2736,
          960
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {}
        },
        "id": "fa53a0d3-0ca1-47af-ae1f-0181f01503d9",
        "name": "Responder Editar",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          3088,
          960
        ]
      },
      {
        "parameters": {
          "jsCode": "return {\n  json: {\n    id: $json.query.id\n  }\n};"
        },
        "id": "d92a4f5b-b141-4e5c-bde1-bdcb1cd79b08",
        "name": "Formatear Respuesta Eliminar",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2752,
          336
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {}
        },
        "id": "cdc5fd2e-dce8-4359-8218-b912593fe0cf",
        "name": "Responder Eliminar",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          3120,
          336
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://pczrezpmdugdsjrxspjh.supabase.co/rest/v1/rpc/obtener_historial_transacciones",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"p_comercio_id\": \"{{ $json.slug }}\",\n  \"p_fecha_desde\": \"{{ ($node[\"GET Historial\"].json.body.fecha_desde || $node[\"GET Historial\"].json.query.fecha_desde) }} 00:00:00\",\n  \"p_fecha_hasta\": \"{{ ($node[\"GET Historial\"].json.body.fecha_hasta || $node[\"GET Historial\"].json.query.fecha_hasta) }} 23:59:59\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          928,
          624
        ],
        "id": "907406e2-39c5-4285-985b-10c2d492970e",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "httpMethod": "=PUT",
          "path": "transaccion-actualizar",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "815940e1-907a-4934-b447-de7f8744f13a",
        "name": "Webhook - Actualizar",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.1,
        "position": [
          1712,
          960
        ],
        "webhookId": "transaccion-ops"
      },
      {
        "parameters": {
          "httpMethod": "=DELETE",
          "path": "transaccion-eliminar",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "1789d7cc-17a4-4ec5-9687-511d4d8e1779",
        "name": "Webhook - Eliminar",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.1,
        "position": [
          1680,
          336
        ],
        "webhookId": "transaccion-ops"
      },
      {
        "parameters": {
          "content": "## 📅 CONSULTA DE MOVIMIENTOS\n**Objetivo:** Obtener el listado de ventas y gastos.\n\n**📥 INPUT:**\n- Fecha Desde / Fecha Hasta\n- ID del Comerciante\n\n**⚙️ PROCESO:**\n1. Valida las fechas solicitadas.\n2. Ejecuta función RPC en Supabase (optimizado para velocidad).\n3. Devuelve lista limpia al frontend.",
          "height": 576,
          "width": 1264,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          288,
          304
        ],
        "id": "ae9092b9-a434-475a-97ba-df772871870f",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "=https://pczrezpmdugdsjrxspjh.supabase.co/rest/v1/transacciones",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "id",
                "value": "=eq.{{ $json.id }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"monto\": {{ $json.monto }},\n  \"descripcion\": \"{{ $json.descripcion }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2368,
          960
        ],
        "id": "bf6dc58e-7680-477b-8dc1-585e84eec725",
        "name": "HTTP Request1"
      },
      {
        "parameters": {
          "content": "## ✏️ CORRECCIÓN DE ERRORES (EDICIÓN)\n**Objetivo:** Modificar una transacción mal cargada.\n\n**⚠️ ALCANCE:**\nPermite cambiar el monto o la descripción de una venta\nya registrada. Útil para errores de tipeo.",
          "height": 544,
          "width": 1760
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1600,
          48
        ],
        "id": "c4d04a35-2e0b-4d07-85de-e652f351cebf",
        "name": "Sticky Note6"
      },
      {
        "parameters": {
          "method": "DELETE",
          "url": "https://pczrezpmdugdsjrxspjh.supabase.co/rest/v1/transacciones",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "id",
                "value": "=eq.{{ $json.id }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2336,
          336
        ],
        "id": "901a88e4-7609-4959-9e8d-72a8e3cc264d",
        "name": "HTTP Request2"
      },
      {
        "parameters": {
          "jsCode": "const body = $json.body;\n\nreturn {\n  json: {\n    id: body.id,\n    monto: parseFloat(body.monto),\n    descripcion: body.descripcion\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2016,
          960
        ],
        "id": "a635c502-6fea-4d0a-a438-545ab5ec5a5b",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "jsCode": "const body = $json.body;\n\nreturn {\n  json: {\n    id: body.id\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2032,
          336
        ],
        "id": "9f130f00-9d5c-4293-ab8a-c3599dcd3e6b",
        "name": "Code in JavaScript1"
      },
      {
        "parameters": {
          "operation": "get",
          "tableId": "comercios",
          "filters": {
            "conditions": [
              {
                "keyName": "slug",
                "keyValue": "={{ $json.query.id_comerciante }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          736,
          624
        ],
        "id": "6cc916bb-f907-41f8-9a06-6065a34ba112",
        "name": "Obtener Comerciante1",
        "credentials": {
          "supabaseApi": {
            "id": "VE7fLcHe01BYK4SQ",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "path": "historial",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "b9b5bce3-6120-4c03-af92-1e061e199e7c",
        "name": "GET Historial",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.1,
        "position": [
          512,
          624
        ],
        "webhookId": "historial-transacciones"
      },
      {
        "parameters": {
          "content": "# 📄 FICHA TÉCNICA: AUDITORÍA HISTÓRICA\n---------------------------------\n📅 Última Actualización: 23/01/2026\n👤 Responsable: Agencia Arnaldo Ayala\n🔗 Dependencias: Supabase (RPC: obtener_historial)\n---------------------------------\nDESCRIPCIÓN:\nMicroservicio encargado de la consulta de registros\npasados. Permite filtrar por fechas y realizar\ncorrecciones (Edición/Eliminación) sobre ventas cerradas.",
          "height": 1136,
          "width": 672,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -432,
          16
        ],
        "id": "10db3c5e-e65c-4c6d-8333-fc728844d9eb",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## 🗑️ ANULACIÓN DE TRANSACCIONES\n**Objetivo:** Borrar permanentemente un registro.\n\n**⛔ ZONA DE PELIGRO:**\nEsta acción elimina la venta de la base de datos\ny recalcula los totales. No se puede deshacer.",
          "height": 544,
          "width": 1760,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1600,
          640
        ],
        "id": "b8ac3df6-aa5b-4fb0-a457-0707171cd308",
        "name": "Sticky Note"
      }
    ],
    "connections": {
      "Formatear Respuesta Editar": {
        "main": [
          [
            {
              "node": "Responder Editar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Formatear Respuesta Eliminar": {
        "main": [
          [
            {
              "node": "Responder Eliminar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Responder Historial",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook - Actualizar": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook - Eliminar": {
        "main": [
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request1": {
        "main": [
          [
            {
              "node": "Formatear Respuesta Editar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request2": {
        "main": [
          [
            {
              "node": "Formatear Respuesta Eliminar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript1": {
        "main": [
          [
            {
              "node": "HTTP Request2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Obtener Comerciante1": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GET Historial": {
        "main": [
          [
            {
              "node": "Obtener Comerciante1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Arnaldo Ayala",
    "name": "Version 0661287f",
    "description": "",
    "autosaved": false
  },
  "tags": [
    {
      "updatedAt": "2026-01-23T14:01:22.970Z",
      "createdAt": "2026-01-23T14:01:22.970Z",
      "id": "gy1rAhYFoAQXIZ9u",
      "name": "App 360"
    }
  ]
}