[app-360]---inventario-App 360.json
{
  "updatedAt": "2026-01-23T14:02:16.520Z",
  "createdAt": "2026-01-23T13:29:20.032Z",
  "id": "y7VgcASFrW9dkSyd1iXP3",
  "name": "[App 360] - Inventario",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inventario",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ff3b15de-abc8-48f1-82d4-e36e1b49d5c2",
      "name": "Webhook Inventario",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        384,
        416
      ],
      "webhookId": "inventario-v1"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nreturn [{\n  json: {\n    comercio_id: body.id_comerciante, // Unificamos a comercio_id\n    nombre: body.nombre ? body.nombre.trim() : \"Sin Nombre\",\n    precio_final: parseFloat(body.precio_final) || 0,\n    precio_costo: parseFloat(body.precio_costo) || 0,\n    ganancia_porcentaje: parseFloat(body.ganancia_porcentaje) || 0,\n    categoria: body.categoria || 'Sin Categoría',\n    stock: parseInt(body.stock) || 0,\n    codigo_barra: body.codigo_barra ? body.codigo_barra.trim() : null,\n    codigo: body.codigo || null \n  }\n}];"
      },
      "id": "832ced30-6fca-4974-a5de-f6d934abd3eb",
      "name": "Validar Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        416
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "comercios",
        "filters": {
          "conditions": [
            {
              "keyName": "slug",
              "keyValue": "={{ $json.comercio_id }}"
            }
          ]
        }
      },
      "id": "a51e4860-c675-4dbc-96ad-63ce53a49906",
      "name": "Buscar Comercio",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        832,
        416
      ],
      "credentials": {
        "supabaseApi": {
          "id": "VE7fLcHe01BYK4SQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const comercio = $input.first().json;\nconst producto = $('Validar Datos').first().json;\n\nif (!comercio || !comercio.id) {\n  throw new Error('Comercio no encontrado');\n}\n\nreturn [{\n  json: {\n    comercio_id: comercio.id, // Unificamos a comercio_id\n    nombre: producto.nombre,\n    precio_final: producto.precio_final,\n    precio_costo: producto.precio_costo,\n    ganancia_porcentaje: producto.ganancia_porcentaje,\n    categoria: producto.categoria,\n    stock: producto.stock,\n    codigo_barra: producto.codigo_barra,\n    activo: true\n  }\n}];"
      },
      "id": "51ca515b-84dc-4ddb-a6b9-9d4e5075ce3c",
      "name": "Preparar Inserción",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        416
      ]
    },
    {
      "parameters": {
        "tableId": "inventario",
        "dataToSend": "autoMapInputData"
      },
      "id": "e69fa688-6ef2-4aec-85d2-d0876cb17e62",
      "name": "Guardar Producto",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1264,
        416
      ],
      "credentials": {
        "supabaseApi": {
          "id": "VE7fLcHe01BYK4SQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Producto guardado exitosamente\", \"producto\": { \"id\": $json.id, \"codigo\": $json.codigo, \"nombre\": $json.nombre, \"precio\": $json.precio } } }}",
        "options": {}
      },
      "id": "13bb7803-6eaa-4e00-b298-42f791406fe5",
      "name": "Responder Éxito",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1488,
        416
      ]
    },
    {
      "parameters": {
        "content": "CARGAR-INVENTARIO",
        "height": 416,
        "width": 1728
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        224,
        304
      ],
      "id": "155c4491-0ab6-4c8e-b8e6-d17a63b12462",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "CONSULTAR-INVENTARIO",
        "height": 352,
        "width": 1744,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        208,
        816
      ],
      "id": "ed878a79-1448-41d0-bae3-b97a2d78e77b",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "path": "consulta-inventario",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "59d68fe8-4de3-4370-ac9f-a3d0f10b6037",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        336,
        928
      ],
      "webhookId": "consulta-inventario-simple"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "comercios",
        "filters": {
          "conditions": [
            {
              "keyName": "slug",
              "keyValue": "={{ $json.query.id_comerciante }}"
            }
          ]
        }
      },
      "id": "f517a715-54da-424c-9982-08aa5d8e05c4",
      "name": "Buscar Comercio1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        592,
        928
      ],
      "credentials": {
        "supabaseApi": {
          "id": "VE7fLcHe01BYK4SQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://pczrezpmdugdsjrxspjh.supabase.co/rest/v1/inventario?comercio_id=eq.{{ $('Buscar Comercio1').item.json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        848,
        928
      ],
      "id": "fc7dd5ba-65b5-40c3-8bcc-cc468200ba47",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "jsCode": "// Obtenemos los productos que vinieron de la base de datos\nconst items = $input.all();\n\n// Los transformamos incluyendo TODOS los campos necesarios para la App\nreturn items.map(item => {\n  return {\n    json: {\n      id: item.json.id,\n      codigo: item.json.codigo,\n      nombre: item.json.nombre,\n      // Mapeamos 'precio_final' pero también enviamos 'precio' como respaldo\n      precio_final: item.json.precio_final, \n      precio: item.json.precio_final, // Para compatibilidad\n      precio_costo: item.json.precio_costo || 0, // ✅ Nuevo\n      ganancia_porcentaje: item.json.ganancia_porcentaje || 0, // ✅ Nuevo\n      categoria: item.json.categoria || 'Sin Categoría',\n      stock: item.json.stock || 0,\n      codigo_barra: item.json.codigo_barra || null // ✅ Muy importante para el escáner\n    }\n  };\n});"
      },
      "id": "632d46d5-4c7c-4f3f-93cc-af2bbc34d07e",
      "name": "Formatear Respuesta1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        928
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "id": "1573b0fa-94e3-4440-bdb2-209a01baa07e",
      "name": "Responder1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1360,
        928
      ]
    },
    {
      "parameters": {
        "content": "EDITAR INVENTARIO",
        "height": 352,
        "width": 1792
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        1296
      ],
      "id": "0c74057a-0c6f-410d-ac1c-fa028535abbc",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "ELIMINAR INVENTARIO",
        "height": 368,
        "width": 1936
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        208,
        1744
      ],
      "id": "d0ca09ad-f3c5-4217-b23e-70552e41094e",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "httpMethod": "PUT",
        "path": "inventario-actualizar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3ce4cc0d-347c-4364-b92c-e0525add819b",
      "name": "Webhook - Actualizar Inventario",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        384,
        1392
      ],
      "webhookId": "inv-update-ops"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body;\n\nreturn {\n  json: {\n    // 🔑 EL IDENTIFICADOR: Usamos 'codigo' para que Supabase encuentre el producto\n    codigo: body.codigo, \n    \n    // 📝 DATOS A ACTUALIZAR\n    nombre: body.nombre,\n    categoria: body.categoria,\n    precio_final: parseFloat(body.precio) || 0,\n    precio_costo: parseFloat(body.precio_costo) || 0,\n    stock: parseInt(body.stock) || 0,\n    \n    // 🛡️ SEGURIDAD: Para asegurar que el producto pertenece a este comerciante\n    id_comerciante: body.id_comerciante \n  }\n};"
      },
      "id": "863c9f87-0206-48e7-8244-8e454891047e",
      "name": "Preparar Datos Inventario",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        1392
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://pczrezpmdugdsjrxspjh.supabase.co/rest/v1/inventario?codigo=eq.{{ $json.codigo }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "codigo",
              "value": "=eq.{{ $json.codigo }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"nombre\": \"{{ $json.nombre }}\",\n  \"categoria\": \"{{ $json.categoria }}\",\n  \"precio_final\": {{ $json.precio_final }},\n  \"precio_costo\": {{ $json.precio_costo }},\n  \"stock\": {{ $json.stock }}\n}",
        "options": {}
      },
      "id": "5b47fb5d-dbb8-4ecf-8869-d3c2a9e9a365",
      "name": "HTTP Request Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1040,
        1392
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    success: true,\n    message: 'Producto actualizado correctamente'\n  }\n};"
      },
      "id": "1252095c-e0b1-4f27-ad19-c978f7dc0241",
      "name": "Formatear Respuesta2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        1392
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "97619b73-52d9-40e3-acb7-6b4e1251ae87",
      "name": "Responder2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1760,
        1392
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    id: $input.first().json.id\n  }\n};"
      },
      "id": "e27f4cc8-758c-429b-bd9d-640bff8b8cc2",
      "name": "Formatear Respuesta Eliminar Inventario1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        1888
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "6df3e01b-016a-4e4a-ad25-24684d131642",
      "name": "Responder Eliminar Inventario1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1792,
        1888
      ]
    },
    {
      "parameters": {
        "httpMethod": "DELETE",
        "path": "inventario-eliminar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "954edc5d-0be8-405e-a405-8f50b68c1890",
      "name": "Webhook - Eliminar Inventario1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        352,
        1888
      ],
      "webhookId": "inv-delete-ops"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "https://pczrezpmdugdsjrxspjh.supabase.co/rest/v1/inventario",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "codigo",
              "value": "=eq.{{ $json.codigo }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1008,
        1888
      ],
      "id": "2952e003-cb65-4b40-8001-fe4e8505f878",
      "name": "HTTP Request Delete Inventario1"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body;\n\nreturn {\n  json: {\n    codigo: body.id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        1888
      ],
      "id": "27c272a8-b064-4868-b785-8d8915ae7829",
      "name": "Extract ID JavaScript1"
    }
  ],
  "connections": {
    "Webhook Inventario": {
      "main": [
        [
          {
            "node": "Validar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Datos": {
      "main": [
        [
          {
            "node": "Buscar Comercio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Comercio": {
      "main": [
        [
          {
            "node": "Preparar Inserción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Inserción": {
      "main": [
        [
          {
            "node": "Guardar Producto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Producto": {
      "main": [
        [
          {
            "node": "Responder Éxito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Buscar Comercio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Comercio1": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Formatear Respuesta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Respuesta1": {
      "main": [
        [
          {
            "node": "Responder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Actualizar Inventario": {
      "main": [
        [
          {
            "node": "Preparar Datos Inventario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Datos Inventario": {
      "main": [
        [
          {
            "node": "HTTP Request Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Supabase": {
      "main": [
        [
          {
            "node": "Formatear Respuesta2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Respuesta2": {
      "main": [
        [
          {
            "node": "Responder2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Respuesta Eliminar Inventario1": {
      "main": [
        [
          {
            "node": "Responder Eliminar Inventario1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Eliminar Inventario1": {
      "main": [
        [
          {
            "node": "Extract ID JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Delete Inventario1": {
      "main": [
        [
          {
            "node": "Formatear Respuesta Eliminar Inventario1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract ID JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request Delete Inventario1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "9c4f5644-8bd6-4d2c-82be-f36376b0f987",
  "activeVersionId": "9c4f5644-8bd6-4d2c-82be-f36376b0f987",
  "triggerCount": 4,
  "shared": [
    {
      "updatedAt": "2026-01-23T13:29:20.034Z",
      "createdAt": "2026-01-23T13:29:20.034Z",
      "role": "workflow:owner",
      "workflowId": "y7VgcASFrW9dkSyd1iXP3",
      "projectId": "EftYNIwW5VkchSsx"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-23T14:08:06.000Z",
    "createdAt": "2026-01-23T13:44:49.783Z",
    "versionId": "9c4f5644-8bd6-4d2c-82be-f36376b0f987",
    "workflowId": "y7VgcASFrW9dkSyd1iXP3",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "inventario",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "ff3b15de-abc8-48f1-82d4-e36e1b49d5c2",
        "name": "Webhook Inventario",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          384,
          416
        ],
        "webhookId": "inventario-v1"
      },
      {
        "parameters": {
          "jsCode": "const body = $input.first().json.body;\n\nreturn [{\n  json: {\n    comercio_id: body.id_comerciante, // Unificamos a comercio_id\n    nombre: body.nombre ? body.nombre.trim() : \"Sin Nombre\",\n    precio_final: parseFloat(body.precio_final) || 0,\n    precio_costo: parseFloat(body.precio_costo) || 0,\n    ganancia_porcentaje: parseFloat(body.ganancia_porcentaje) || 0,\n    categoria: body.categoria || 'Sin Categoría',\n    stock: parseInt(body.stock) || 0,\n    codigo_barra: body.codigo_barra ? body.codigo_barra.trim() : null,\n    codigo: body.codigo || null \n  }\n}];"
        },
        "id": "832ced30-6fca-4974-a5de-f6d934abd3eb",
        "name": "Validar Datos",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          608,
          416
        ]
      },
      {
        "parameters": {
          "operation": "get",
          "tableId": "comercios",
          "filters": {
            "conditions": [
              {
                "keyName": "slug",
                "keyValue": "={{ $json.comercio_id }}"
              }
            ]
          }
        },
        "id": "a51e4860-c675-4dbc-96ad-63ce53a49906",
        "name": "Buscar Comercio",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          832,
          416
        ],
        "credentials": {
          "supabaseApi": {
            "id": "VE7fLcHe01BYK4SQ",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const comercio = $input.first().json;\nconst producto = $('Validar Datos').first().json;\n\nif (!comercio || !comercio.id) {\n  throw new Error('Comercio no encontrado');\n}\n\nreturn [{\n  json: {\n    comercio_id: comercio.id, // Unificamos a comercio_id\n    nombre: producto.nombre,\n    precio_final: producto.precio_final,\n    precio_costo: producto.precio_costo,\n    ganancia_porcentaje: producto.ganancia_porcentaje,\n    categoria: producto.categoria,\n    stock: producto.stock,\n    codigo_barra: producto.codigo_barra,\n    activo: true\n  }\n}];"
        },
        "id": "51ca515b-84dc-4ddb-a6b9-9d4e5075ce3c",
        "name": "Preparar Inserción",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1056,
          416
        ]
      },
      {
        "parameters": {
          "tableId": "inventario",
          "dataToSend": "autoMapInputData"
        },
        "id": "e69fa688-6ef2-4aec-85d2-d0876cb17e62",
        "name": "Guardar Producto",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1264,
          416
        ],
        "credentials": {
          "supabaseApi": {
            "id": "VE7fLcHe01BYK4SQ",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ { \"success\": true, \"message\": \"Producto guardado exitosamente\", \"producto\": { \"id\": $json.id, \"codigo\": $json.codigo, \"nombre\": $json.nombre, \"precio\": $json.precio } } }}",
          "options": {}
        },
        "id": "13bb7803-6eaa-4e00-b298-42f791406fe5",
        "name": "Responder Éxito",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1488,
          416
        ]
      },
      {
        "parameters": {
          "content": "CARGAR-INVENTARIO",
          "height": 416,
          "width": 1728
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          224,
          304
        ],
        "id": "155c4491-0ab6-4c8e-b8e6-d17a63b12462",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "CONSULTAR-INVENTARIO",
          "height": 352,
          "width": 1744,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          208,
          816
        ],
        "id": "ed878a79-1448-41d0-bae3-b97a2d78e77b",
        "name": "Sticky Note8"
      },
      {
        "parameters": {
          "path": "consulta-inventario",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "59d68fe8-4de3-4370-ac9f-a3d0f10b6037",
        "name": "Webhook1",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          336,
          928
        ],
        "webhookId": "consulta-inventario-simple"
      },
      {
        "parameters": {
          "operation": "get",
          "tableId": "comercios",
          "filters": {
            "conditions": [
              {
                "keyName": "slug",
                "keyValue": "={{ $json.query.id_comerciante }}"
              }
            ]
          }
        },
        "id": "f517a715-54da-424c-9982-08aa5d8e05c4",
        "name": "Buscar Comercio1",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          592,
          928
        ],
        "credentials": {
          "supabaseApi": {
            "id": "VE7fLcHe01BYK4SQ",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://pczrezpmdugdsjrxspjh.supabase.co/rest/v1/inventario?comercio_id=eq.{{ $('Buscar Comercio1').item.json.id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          848,
          928
        ],
        "id": "fc7dd5ba-65b5-40c3-8bcc-cc468200ba47",
        "name": "HTTP Request4"
      },
      {
        "parameters": {
          "jsCode": "// Obtenemos los productos que vinieron de la base de datos\nconst items = $input.all();\n\n// Los transformamos incluyendo TODOS los campos necesarios para la App\nreturn items.map(item => {\n  return {\n    json: {\n      id: item.json.id,\n      codigo: item.json.codigo,\n      nombre: item.json.nombre,\n      // Mapeamos 'precio_final' pero también enviamos 'precio' como respaldo\n      precio_final: item.json.precio_final, \n      precio: item.json.precio_final, // Para compatibilidad\n      precio_costo: item.json.precio_costo || 0, // ✅ Nuevo\n      ganancia_porcentaje: item.json.ganancia_porcentaje || 0, // ✅ Nuevo\n      categoria: item.json.categoria || 'Sin Categoría',\n      stock: item.json.stock || 0,\n      codigo_barra: item.json.codigo_barra || null // ✅ Muy importante para el escáner\n    }\n  };\n});"
        },
        "id": "632d46d5-4c7c-4f3f-93cc-af2bbc34d07e",
        "name": "Formatear Respuesta1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1104,
          928
        ]
      },
      {
        "parameters": {
          "respondWith": "allIncomingItems",
          "options": {
            "responseCode": 200
          }
        },
        "id": "1573b0fa-94e3-4440-bdb2-209a01baa07e",
        "name": "Responder1",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1360,
          928
        ]
      },
      {
        "parameters": {
          "content": "EDITAR INVENTARIO",
          "height": 352,
          "width": 1792
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          256,
          1296
        ],
        "id": "0c74057a-0c6f-410d-ac1c-fa028535abbc",
        "name": "Sticky Note11"
      },
      {
        "parameters": {
          "content": "ELIMINAR INVENTARIO",
          "height": 368,
          "width": 1936
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          208,
          1744
        ],
        "id": "d0ca09ad-f3c5-4217-b23e-70552e41094e",
        "name": "Sticky Note12"
      },
      {
        "parameters": {
          "httpMethod": "PUT",
          "path": "inventario-actualizar",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "3ce4cc0d-347c-4364-b92c-e0525add819b",
        "name": "Webhook - Actualizar Inventario",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.1,
        "position": [
          384,
          1392
        ],
        "webhookId": "inv-update-ops"
      },
      {
        "parameters": {
          "jsCode": "const body = $json.body;\n\nreturn {\n  json: {\n    // 🔑 EL IDENTIFICADOR: Usamos 'codigo' para que Supabase encuentre el producto\n    codigo: body.codigo, \n    \n    // 📝 DATOS A ACTUALIZAR\n    nombre: body.nombre,\n    categoria: body.categoria,\n    precio_final: parseFloat(body.precio) || 0,\n    precio_costo: parseFloat(body.precio_costo) || 0,\n    stock: parseInt(body.stock) || 0,\n    \n    // 🛡️ SEGURIDAD: Para asegurar que el producto pertenece a este comerciante\n    id_comerciante: body.id_comerciante \n  }\n};"
        },
        "id": "863c9f87-0206-48e7-8244-8e454891047e",
        "name": "Preparar Datos Inventario",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          688,
          1392
        ]
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "=https://pczrezpmdugdsjrxspjh.supabase.co/rest/v1/inventario?codigo=eq.{{ $json.codigo }}",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "codigo",
                "value": "=eq.{{ $json.codigo }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"nombre\": \"{{ $json.nombre }}\",\n  \"categoria\": \"{{ $json.categoria }}\",\n  \"precio_final\": {{ $json.precio_final }},\n  \"precio_costo\": {{ $json.precio_costo }},\n  \"stock\": {{ $json.stock }}\n}",
          "options": {}
        },
        "id": "5b47fb5d-dbb8-4ecf-8869-d3c2a9e9a365",
        "name": "HTTP Request Supabase",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1040,
          1392
        ]
      },
      {
        "parameters": {
          "jsCode": "return {\n  json: {\n    success: true,\n    message: 'Producto actualizado correctamente'\n  }\n};"
        },
        "id": "1252095c-e0b1-4f27-ad19-c978f7dc0241",
        "name": "Formatear Respuesta2",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1408,
          1392
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {}
        },
        "id": "97619b73-52d9-40e3-acb7-6b4e1251ae87",
        "name": "Responder2",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          1760,
          1392
        ]
      },
      {
        "parameters": {
          "jsCode": "return {\n  json: {\n    id: $input.first().json.id\n  }\n};"
        },
        "id": "e27f4cc8-758c-429b-bd9d-640bff8b8cc2",
        "name": "Formatear Respuesta Eliminar Inventario1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1424,
          1888
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {}
        },
        "id": "6df3e01b-016a-4e4a-ad25-24684d131642",
        "name": "Responder Eliminar Inventario1",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          1792,
          1888
        ]
      },
      {
        "parameters": {
          "httpMethod": "DELETE",
          "path": "inventario-eliminar",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "954edc5d-0be8-405e-a405-8f50b68c1890",
        "name": "Webhook - Eliminar Inventario1",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.1,
        "position": [
          352,
          1888
        ],
        "webhookId": "inv-delete-ops"
      },
      {
        "parameters": {
          "method": "DELETE",
          "url": "https://pczrezpmdugdsjrxspjh.supabase.co/rest/v1/inventario",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "codigo",
                "value": "=eq.{{ $json.codigo }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1008,
          1888
        ],
        "id": "2952e003-cb65-4b40-8001-fe4e8505f878",
        "name": "HTTP Request Delete Inventario1"
      },
      {
        "parameters": {
          "jsCode": "const body = $json.body;\n\nreturn {\n  json: {\n    codigo: body.id\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          704,
          1888
        ],
        "id": "27c272a8-b064-4868-b785-8d8915ae7829",
        "name": "Extract ID JavaScript1"
      }
    ],
    "connections": {
      "Webhook Inventario": {
        "main": [
          [
            {
              "node": "Validar Datos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validar Datos": {
        "main": [
          [
            {
              "node": "Buscar Comercio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Comercio": {
        "main": [
          [
            {
              "node": "Preparar Inserción",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Inserción": {
        "main": [
          [
            {
              "node": "Guardar Producto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Guardar Producto": {
        "main": [
          [
            {
              "node": "Responder Éxito",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook1": {
        "main": [
          [
            {
              "node": "Buscar Comercio1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Comercio1": {
        "main": [
          [
            {
              "node": "HTTP Request4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request4": {
        "main": [
          [
            {
              "node": "Formatear Respuesta1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Formatear Respuesta1": {
        "main": [
          [
            {
              "node": "Responder1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook - Actualizar Inventario": {
        "main": [
          [
            {
              "node": "Preparar Datos Inventario",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Datos Inventario": {
        "main": [
          [
            {
              "node": "HTTP Request Supabase",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request Supabase": {
        "main": [
          [
            {
              "node": "Formatear Respuesta2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Formatear Respuesta2": {
        "main": [
          [
            {
              "node": "Responder2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Formatear Respuesta Eliminar Inventario1": {
        "main": [
          [
            {
              "node": "Responder Eliminar Inventario1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook - Eliminar Inventario1": {
        "main": [
          [
            {
              "node": "Extract ID JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request Delete Inventario1": {
        "main": [
          [
            {
              "node": "Formatear Respuesta Eliminar Inventario1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract ID JavaScript1": {
        "main": [
          [
            {
              "node": "HTTP Request Delete Inventario1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Arnaldo Ayala",
    "name": "Version 9c4f5644",
    "description": "",
    "autosaved": false
  },
  "tags": [
    {
      "updatedAt": "2026-01-23T14:01:22.970Z",
      "createdAt": "2026-01-23T14:01:22.970Z",
      "id": "gy1rAhYFoAQXIZ9u",
      "name": "App 360"
    }
  ]
}