[app-360]---admin-login-App 360.json
{
  "updatedAt": "2026-02-02T20:04:25.906Z",
  "createdAt": "2026-01-23T13:30:03.211Z",
  "id": "i5EuVsH4nTcfqxiyup9Sb",
  "name": "[App 360] - Admin-Login",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "comerciante",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://app.arnaldoayalaestratega.com"
        }
      },
      "id": "f8ac7b2a-72f9-4635-9ad1-8b9908d1f454",
      "name": "Webhook - GET Comerciante",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        320,
        1168
      ],
      "webhookId": "obtener-comerciante-supabase"
    },
    {
      "parameters": {
        "jsCode": "// Obtener el comercio del nodo Supabase\nconst data = $input.first().json;\n\n// Si Supabase devuelve array, tomar el primer elemento\nconst comercio = Array.isArray(data) ? data[0] : data;\n\n// Verificar si existe el comercio\nif (!comercio || !comercio.slug) {\n  return [{\n    json: {\n      error: true,\n      message: 'Comerciante no encontrado'\n    }\n  }];\n}\n\n// Formatear respuesta para la app\nreturn [{\n  json: {\n    id: comercio.slug,\n    nombre: comercio.nombre_local,\n    email: comercio.email,\n    whatsapp: comercio.whatsapp || '',\n    tipo_negocio: comercio.tipo_negocio || '',\n    activo: comercio.activo,\n    url_app: comercio.url_app || ''\n  }\n}];"
      },
      "id": "80126600-f0ca-4fe0-abdb-7e8aea21ebca",
      "name": "Formatear Respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        1168
      ],
      "notes": "Transforma los datos de Supabase al formato que espera la app"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "26ff5fa9-2a02-4fa6-bc66-f133d0dbd909",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        992,
        1168
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "comercios",
        "filters": {
          "conditions": [
            {
              "keyName": "slug",
              "keyValue": "={{ $json.query.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        544,
        1168
      ],
      "id": "87cb5fa6-6498-4c84-8e10-e54d92a46154",
      "name": "Leer Comerciante",
      "credentials": {
        "supabaseApi": {
          "id": "VE7fLcHe01BYK4SQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "login",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        304,
        480
      ],
      "id": "b47c49b5-1fcc-4c4c-beae-40bf801c715e",
      "name": "Webhook",
      "webhookId": "b5f9cebe-1f41-4b7c-8eef-b9d3c7927280"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "comercios",
        "filters": {
          "conditions": [
            {
              "keyName": "slug",
              "keyValue": "={{ $json.body.cliente_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        528,
        480
      ],
      "id": "367d2b3f-a034-4238-a539-e61a12e0d84d",
      "name": "Buscar Comerciante",
      "credentials": {
        "supabaseApi": {
          "id": "VE7fLcHe01BYK4SQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener datos del webhook y de Supabase\nconst inputData = $input.first().json;\nconst pinIngresado = $('Webhook').item.json.body.pin;\n\n// Verificar si se encontró el comerciante\nif (!inputData || !inputData.id) {\n  return {\n    json: {\n      success: false,\n      message: \"ID de comerciante no encontrado\"\n    }\n  };\n}\n\n// Verificar si el comerciante tiene PIN configurado\nif (!inputData.pin) {\n  return {\n    json: {\n      success: false,\n      message: \"Este comerciante no tiene PIN configurado\"\n    }\n  };\n}\n\n// Comparar PINs\nconst pinCorrecto = inputData.pin.toString();\nconst pinIntentado = pinIngresado.toString();\n\nif (pinCorrecto === pinIntentado) {\n  // ✅ LOGIN EXITOSO - Devolver todos los datos necesarios\n  return {\n    json: {\n      success: true,\n      message: \"Login exitoso\",\n      \n      // ✅ NUEVOS CAMPOS PARA EL INDEX.HTML\n      bloqueado: inputData.bloqueado || false,\n      tipo_cuenta: inputData.tipo_cuenta || \"DEMO\",\n      dias_restantes: inputData.dias_restantes || 0,\n      nombre_local: inputData.nombre_local || \"\",\n      slug: inputData.slug || \"\",\n      \n      // Mantener compatibilidad con código anterior\n      comerciante: {\n        id: inputData.slug,\n        nombre: inputData.nombre_local\n      }\n    }\n  };\n} else {\n  // ❌ PIN INCORRECTO\n  return {\n    json: {\n      success: false,\n      message: \"PIN incorrecto\"\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        480
      ],
      "id": "5992b81c-00e9-4af1-83f8-b13680d30df8",
      "name": "Verificar PIN"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        928,
        480
      ],
      "id": "85eeffcc-59e8-484b-b3de-42407f3d28c0",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "content": "## 🔐 MÓDULO DE AUTENTICACIÓN (LOGIN)\n**Objetivo:** Validar credenciales (ID y PIN) enviadas desde la App Móvil.\n\n**📥 INPUT (Webhook POST):**\n- body.cliente_id (Slug del comercio)\n- body.pin (Contraseña numérica)\n\n**⚙️ PROCESO:**\n1. Busca el comercio en Supabase por su Slug.\n2. Compara el PIN almacenado vs. el recibido (JS Code).\n3. Determina éxito o fallo.\n\n**out OUTPUT:**\n- JSON { success: true, token: \"...\" } o Error 401.",
        "height": 640,
        "width": 1728,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -192,
        48
      ],
      "id": "e771c950-17ae-44a0-8a8b-7e7eb94f2ecd",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## 🆔 RESOLUCIÓN DE IDENTIDAD\n**Objetivo:** Traducir el 'slug' público (ej: kiosco-pepe) al ID interno de BD.\n\n**📥 INPUT (Webhook GET):**\n- query.id (Slug público)\n\n**⚙️ PROCESO:**\n1. Consulta tabla 'comercios' filtrando por slug.\n2. Formatea la respuesta eliminando datos sensibles.\n\n**out OUTPUT:**\n- JSON con datos públicos del comercio (Nombre, Configuración, IDs).",
        "height": 576,
        "width": 1728,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -192,
        784
      ],
      "id": "68dfad66-c778-45e5-b84d-91faf44c53f9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# 📄 FICHA TÉCNICA: ADMIN & LOGIN\n---------------------------------\n📅 Última Actualización: 23/01/2026\n👤 Responsable: Agencia Arnaldo Ayala\n🔗 Dependencias: Supabase (Tabla: Comercios)\n---------------------------------\nDESCRIPCIÓN:\nMicroservicio encargado de gestionar el acceso\ny la identificación inicial de los usuarios\nen la App Reporte 360.",
        "height": 1296,
        "width": 672,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1088,
        48
      ],
      "id": "9452b511-87d6-4bb3-82e3-acf4fb24f619",
      "name": "Sticky Note1"
    }
  ],
  "connections": {
    "Webhook - GET Comerciante": {
      "main": [
        [
          {
            "node": "Leer Comerciante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Respuesta": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Comerciante": {
      "main": [
        [
          {
            "node": "Formatear Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Buscar Comerciante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Comerciante": {
      "main": [
        [
          {
            "node": "Verificar PIN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar PIN": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "6130f0fe-bbe6-4b2b-9850-a7f6fb534c7b",
  "activeVersionId": "6130f0fe-bbe6-4b2b-9850-a7f6fb534c7b",
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-01-23T13:30:03.212Z",
      "createdAt": "2026-01-23T13:30:03.212Z",
      "role": "workflow:owner",
      "workflowId": "i5EuVsH4nTcfqxiyup9Sb",
      "projectId": "EftYNIwW5VkchSsx"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-02T20:04:36.000Z",
    "createdAt": "2026-02-02T20:04:25.907Z",
    "versionId": "6130f0fe-bbe6-4b2b-9850-a7f6fb534c7b",
    "workflowId": "i5EuVsH4nTcfqxiyup9Sb",
    "nodes": [
      {
        "parameters": {
          "path": "comerciante",
          "responseMode": "responseNode",
          "options": {
            "allowedOrigins": "https://app.arnaldoayalaestratega.com"
          }
        },
        "id": "f8ac7b2a-72f9-4635-9ad1-8b9908d1f454",
        "name": "Webhook - GET Comerciante",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          320,
          1168
        ],
        "webhookId": "obtener-comerciante-supabase"
      },
      {
        "parameters": {
          "jsCode": "// Obtener el comercio del nodo Supabase\nconst data = $input.first().json;\n\n// Si Supabase devuelve array, tomar el primer elemento\nconst comercio = Array.isArray(data) ? data[0] : data;\n\n// Verificar si existe el comercio\nif (!comercio || !comercio.slug) {\n  return [{\n    json: {\n      error: true,\n      message: 'Comerciante no encontrado'\n    }\n  }];\n}\n\n// Formatear respuesta para la app\nreturn [{\n  json: {\n    id: comercio.slug,\n    nombre: comercio.nombre_local,\n    email: comercio.email,\n    whatsapp: comercio.whatsapp || '',\n    tipo_negocio: comercio.tipo_negocio || '',\n    activo: comercio.activo,\n    url_app: comercio.url_app || ''\n  }\n}];"
        },
        "id": "80126600-f0ca-4fe0-abdb-7e8aea21ebca",
        "name": "Formatear Respuesta",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          768,
          1168
        ],
        "notes": "Transforma los datos de Supabase al formato que espera la app"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify($json) }}",
          "options": {}
        },
        "id": "26ff5fa9-2a02-4fa6-bc66-f133d0dbd909",
        "name": "Respond to Webhook1",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          992,
          1168
        ]
      },
      {
        "parameters": {
          "operation": "get",
          "tableId": "comercios",
          "filters": {
            "conditions": [
              {
                "keyName": "slug",
                "keyValue": "={{ $json.query.id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          544,
          1168
        ],
        "id": "87cb5fa6-6498-4c84-8e10-e54d92a46154",
        "name": "Leer Comerciante",
        "credentials": {
          "supabaseApi": {
            "id": "VE7fLcHe01BYK4SQ",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "login",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          304,
          480
        ],
        "id": "b47c49b5-1fcc-4c4c-beae-40bf801c715e",
        "name": "Webhook",
        "webhookId": "b5f9cebe-1f41-4b7c-8eef-b9d3c7927280"
      },
      {
        "parameters": {
          "operation": "get",
          "tableId": "comercios",
          "filters": {
            "conditions": [
              {
                "keyName": "slug",
                "keyValue": "={{ $json.body.cliente_id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          528,
          480
        ],
        "id": "367d2b3f-a034-4238-a539-e61a12e0d84d",
        "name": "Buscar Comerciante",
        "credentials": {
          "supabaseApi": {
            "id": "VE7fLcHe01BYK4SQ",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Obtener datos del webhook y de Supabase\nconst inputData = $input.first().json;\nconst pinIngresado = $('Webhook').item.json.body.pin;\n\n// Verificar si se encontró el comerciante\nif (!inputData || !inputData.id) {\n  return {\n    json: {\n      success: false,\n      message: \"ID de comerciante no encontrado\"\n    }\n  };\n}\n\n// Verificar si el comerciante tiene PIN configurado\nif (!inputData.pin) {\n  return {\n    json: {\n      success: false,\n      message: \"Este comerciante no tiene PIN configurado\"\n    }\n  };\n}\n\n// Comparar PINs\nconst pinCorrecto = inputData.pin.toString();\nconst pinIntentado = pinIngresado.toString();\n\nif (pinCorrecto === pinIntentado) {\n  // ✅ LOGIN EXITOSO - Devolver todos los datos necesarios\n  return {\n    json: {\n      success: true,\n      message: \"Login exitoso\",\n      \n      // ✅ NUEVOS CAMPOS PARA EL INDEX.HTML\n      bloqueado: inputData.bloqueado || false,\n      tipo_cuenta: inputData.tipo_cuenta || \"DEMO\",\n      dias_restantes: inputData.dias_restantes || 0,\n      nombre_local: inputData.nombre_local || \"\",\n      slug: inputData.slug || \"\",\n      \n      // Mantener compatibilidad con código anterior\n      comerciante: {\n        id: inputData.slug,\n        nombre: inputData.nombre_local\n      }\n    }\n  };\n} else {\n  // ❌ PIN INCORRECTO\n  return {\n    json: {\n      success: false,\n      message: \"PIN incorrecto\"\n    }\n  };\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          720,
          480
        ],
        "id": "5992b81c-00e9-4af1-83f8-b13680d30df8",
        "name": "Verificar PIN"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          928,
          480
        ],
        "id": "85eeffcc-59e8-484b-b3de-42407f3d28c0",
        "name": "Respond to Webhook2"
      },
      {
        "parameters": {
          "content": "## 🔐 MÓDULO DE AUTENTICACIÓN (LOGIN)\n**Objetivo:** Validar credenciales (ID y PIN) enviadas desde la App Móvil.\n\n**📥 INPUT (Webhook POST):**\n- body.cliente_id (Slug del comercio)\n- body.pin (Contraseña numérica)\n\n**⚙️ PROCESO:**\n1. Busca el comercio en Supabase por su Slug.\n2. Compara el PIN almacenado vs. el recibido (JS Code).\n3. Determina éxito o fallo.\n\n**out OUTPUT:**\n- JSON { success: true, token: \"...\" } o Error 401.",
          "height": 640,
          "width": 1728,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -192,
          48
        ],
        "id": "e771c950-17ae-44a0-8a8b-7e7eb94f2ecd",
        "name": "Sticky Note9"
      },
      {
        "parameters": {
          "content": "## 🆔 RESOLUCIÓN DE IDENTIDAD\n**Objetivo:** Traducir el 'slug' público (ej: kiosco-pepe) al ID interno de BD.\n\n**📥 INPUT (Webhook GET):**\n- query.id (Slug público)\n\n**⚙️ PROCESO:**\n1. Consulta tabla 'comercios' filtrando por slug.\n2. Formatea la respuesta eliminando datos sensibles.\n\n**out OUTPUT:**\n- JSON con datos públicos del comercio (Nombre, Configuración, IDs).",
          "height": 576,
          "width": 1728,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -192,
          784
        ],
        "id": "68dfad66-c778-45e5-b84d-91faf44c53f9",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "# 📄 FICHA TÉCNICA: ADMIN & LOGIN\n---------------------------------\n📅 Última Actualización: 23/01/2026\n👤 Responsable: Agencia Arnaldo Ayala\n🔗 Dependencias: Supabase (Tabla: Comercios)\n---------------------------------\nDESCRIPCIÓN:\nMicroservicio encargado de gestionar el acceso\ny la identificación inicial de los usuarios\nen la App Reporte 360.",
          "height": 1296,
          "width": 672,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1088,
          48
        ],
        "id": "9452b511-87d6-4bb3-82e3-acf4fb24f619",
        "name": "Sticky Note1"
      }
    ],
    "connections": {
      "Webhook - GET Comerciante": {
        "main": [
          [
            {
              "node": "Leer Comerciante",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Formatear Respuesta": {
        "main": [
          [
            {
              "node": "Respond to Webhook1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Leer Comerciante": {
        "main": [
          [
            {
              "node": "Formatear Respuesta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Buscar Comerciante",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Comerciante": {
        "main": [
          [
            {
              "node": "Verificar PIN",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verificar PIN": {
        "main": [
          [
            {
              "node": "Respond to Webhook2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Arnaldo Ayala",
    "name": "Version 6130f0fe",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2026-01-23T14:01:22.970Z",
      "createdAt": "2026-01-23T14:01:22.970Z",
      "id": "gy1rAhYFoAQXIZ9u",
      "name": "App 360"
    }
  ]
}