[app-360]--soporte-y-ayuda-App 360.json
{
  "updatedAt": "2026-01-23T20:24:33.113Z",
  "createdAt": "2026-01-17T11:40:47.311Z",
  "id": "xsKwZlySarztS7XbS9Qb1",
  "name": "[App 360] -Soporte y Ayuda",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1ySt1WNQrACPL2VqsDzvY7uyrbcGjZHTz",
          "mode": "list",
          "cachedResultName": "Guía Técnica de Gestión Reporte Automatizado 360.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1ySt1WNQrACPL2VqsDzvY7uyrbcGjZHTz/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "6bee1530-38fa-4aa2-b1ac-275bb989c1e4",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "nRB62SNEYjMTMNYH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "aut-comerciantes",
          "mode": "list",
          "cachedResultName": "aut-comerciantes"
        },
        "embeddingBatchSize": 1200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "c55475e9-1e2f-4b55-8ade-593248428ff4",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "o0d4caNkW4BkUWUm",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        352,
        176
      ],
      "id": "5b643732-03a0-4d29-800d-5a3eff3c9580",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "u86n2rwNcUBwKUCi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "pdfLoader",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        528,
        176
      ],
      "id": "4588b018-ac18-4a59-82bd-8aa94e2919f1",
      "name": "Default Data Loader"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "45036512-d009-46b7-90e0-e4f95f49ce72",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {
          "systemPromptTemplate": "Eres El Asistente de Soporte Técnico y Estratégico de \"Reporte Automatizado 360\", la plataforma de gestión creada por la Agencia Arnaldo Ayala.\n\nTU OBJETIVO: Ayudar a comerciantes y emprendedores a resolver dudas sobre la App, transmitiendo seguridad, profesionalismo y visión de negocio.\n\nBASE DE CONOCIMIENTO (Reglas inquebrantables):\n1. MODALIDAD OFFLINE: Si preguntan por falta de internet, recuérdales que la App tiene \"Persistencia Local\".\n2. ACCESO: El ingreso es SIEMPRE con el \"ID de Comercio\" y el \"PIN de 4 dígitos\".\n3. REPORTES: Existen el \"Reporte del Día\" (botón app) y el \"Email Matutino\" (7:00 AM).\n4. INVENTARIO: Recalca la importancia de cargar el Costo vs Precio Venta para ver la rentabilidad real.\n\nTONO DE VOZ:\n- Profesional pero cercano (como Arnaldo Ayala).\n- Didáctico y Estratégico.\n\nRESTRICCIONES:\n- Responde SOLO basándote en el CONTEXTO proporcionado abajo.\n- Si la respuesta NO está en el contexto, indica que deben hablar con un humano.\n- Si el usuario pregunta sobre temas ajenos a la App, responde: \"Soy un asistente especializado en Reporte 360 y no tengo información sobre ese tema.\"\n\nCUÁNDO INCLUIR BOTONES DE CONTACTO:\nIncluye botones de contacto cuando:\n- El usuario pide hablar con alguien, soporte humano o ayuda personalizada\n- Mencionas \"contactar\", \"hablar con\", \"comunicarse\"\n- La pregunta requiere intervención humana o casos especiales\n- El usuario pregunta por servicios adicionales, precios o contratar\n- Quiere conocer más sobre la agencia o Arnaldo Ayala\n\nFORMATO DE SALIDA (ESTRICTO):\nTu respuesta debe ser SIEMPRE un objeto JSON válido. No incluyas markdown ni texto fuera del JSON.\n\nEJEMPLO CON BOTONES:\n{{ \"respuesta\": \"¡Claro! Te ayudo con eso. Para soporte personalizado puedes contactar directamente.\", \"botones\": [ {{ \"etiqueta\": \"WhatsApp\", \"url\": \"https://wa.me/543765384843\" }}, {{ \"etiqueta\": \"Instagram\", \"url\": \"https://instagram.com/arnaldoayalaestratega\" }}, {{ \"etiqueta\": \"Sitio Web\", \"url\": \"https://arnaldoayalaestratega.com\" }} ] }}\n\nEJEMPLO SIN BOTONES:\n{{ \"respuesta\": \"Para ingresar a la app usa tu ID de Comercio y PIN de 4 dígitos.\", \"botones\": [] }}\n\nIMPORTANTE: Usa doble llave {{}} para abrir y cerrar el JSON principal. Usa corchetes [] para el array de botones.\n\nINFORMACIÓN RECUPERADA (CONTEXTO):\n{context}\n\nPREGUNTA DEL USUARIO:\n{input}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.7,
      "position": [
        1040,
        0
      ],
      "id": "40ae7da9-5efc-4cc7-8b01-12c17f914667",
      "name": "Question and Answer Chain"
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        880,
        0
      ],
      "id": "773bff8a-d2ab-4be1-ad2e-a3a8396894d6",
      "name": "When chat message received",
      "webhookId": "d13fd268-2d98-4538-b7a6-fcc82e46be6d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        928,
        208
      ],
      "id": "7ff1e491-b3f8-44f7-a01b-64489604fdef",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "H2xYjvZkFQ7zA2QV",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        1088,
        144
      ],
      "id": "bdf7c899-7848-4c91-a268-84f520743a85",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "aut-comerciantes",
          "mode": "list",
          "cachedResultName": "aut-comerciantes"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1088,
        256
      ],
      "id": "c3059423-1ced-429d-9b0f-8f0cb1d45472",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "o0d4caNkW4BkUWUm",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1152,
        384
      ],
      "id": "efbbb1e0-bb98-4088-8233-bcea80f36088",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "u86n2rwNcUBwKUCi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "# 📄 FICHA TÉCNICA: AGENTE DE SOPORTE (RAG)\n---------------------------------\n📅 Última Actualización: 23/01/2026\n👤 Responsable: Agencia Arnaldo Ayala\n🤖 Cerebro: Gemini / DeepSeek\n🧠 Memoria: Pinecone (Vector Store)\n---------------------------------\nDESCRIPCIÓN:\nSistema de Inteligencia Artificial que responde dudas\nde los comerciantes leyendo tu documentación técnica.\nUtiliza RAG (Retrieval-Augmented Generation) para\nno alucinar y dar respuestas precisas.",
        "height": 944,
        "width": 672,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -912,
        -368
      ],
      "id": "a7aa9b55-6614-4bd2-ae97-5bb8109f67d4",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 🗣️ RECEPCIÓN DE CONSULTA\n**Objetivo:** Escuchar al usuario desde la App.\n\n**📥 INPUT:**\n- body.mensaje (La duda del comerciante)\n- body.historial (Contexto de la charla)\n\n**⚙️ PROCESO:**\nRecibe la pregunta en lenguaje natural y la prepara\npara ser procesada por el motor vectorial.",
        "height": 944,
        "width": 1024,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        752,
        -368
      ],
      "id": "392be8ff-cde2-4b27-9523-e2ca7756c053",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 🧠 MOTOR DE INTELIGENCIA (RAG)\n**Objetivo:** Pensar la respuesta basada en tus datos.\n\n**⚙️ EL PROCESO DE 3 PASOS:**\n1. **Búsqueda:** Convierte la duda en vectores y busca en Pinecone los fragmentos de tu manual que mejor responden.\n2. **Contexto:** Une la duda del usuario + la información encontrada.\n3. **Generación:** La IA redacta una respuesta amable y experta usando solo tu información real.",
        "height": 944,
        "width": 896,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -192,
        -368
      ],
      "id": "e3eb8f14-a7bc-479d-8fe3-217856a1ff7b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// PARSEADOR CORREGIDO - Compatible con n8n Chat Widget\n// ============================================\n// Este código va en el nodo \"Parseador de Respuesta JSON\" en n8n\n\nconst respuestaTexto = $json.response;\n\ntry {\n  let textoLimpio = respuestaTexto.trim();\n  \n  // Limpiar markdown si viene envuelto en ```json\n  if (textoLimpio.startsWith('```json')) {\n    textoLimpio = textoLimpio.replace(/```json\\n?/g, '').replace(/```\\n?/g, '');\n  }\n  \n  // Parsear el JSON de la respuesta del LLM\n  const datosLimpios = JSON.parse(textoLimpio);\n  \n  // Extraer texto y botones\n  let texto = datosLimpios.respuesta || datosLimpios.text || textoLimpio;\n  let botones = datosLimpios.botones || datosLimpios.buttons || [];\n  \n  // 🔥 FORZAR botones de contacto si la respuesta menciona \"contactar\" o \"hablar\"\n  const textoLower = texto.toLowerCase();\n  if ((textoLower.includes('contactar') || textoLower.includes('hablar') || textoLower.includes('comunicar')) && botones.length === 0) {\n    botones = [\n      { etiqueta: \"WhatsApp\", url: \"https://wa.me/543765384843\" },\n      { etiqueta: \"Instagram\", url: \"https://instagram.com/arnaldoayalaestratega\" },\n      { etiqueta: \"Sitio Web\", url: \"https://arnaldoayalaestratega.com\" }\n    ];\n  }\n  \n  // ✅ NUEVO: Convertir botones a formato Markdown DENTRO del texto\n  if (botones.length > 0) {\n    texto += '\\n\\n';\n    botones.forEach(btn => {\n      const etiqueta = btn.etiqueta || btn.label || 'Enlace';\n      const url = btn.url;\n      \n      let emoji = '🔗';\n      const labelLower = etiqueta.toLowerCase();\n      if (labelLower.includes('whatsapp')) emoji = '💬';\n      else if (labelLower.includes('instagram')) emoji = '📸';\n      else if (labelLower.includes('web') || labelLower.includes('sitio')) emoji = '🌐';\n      \n      // Agregar enlaces en formato Markdown directamente al texto\n      texto += `${emoji} [${etiqueta}](${url})\\n`;\n    });\n  }\n  \n  // Devolver SOLO el texto con los enlaces integrados\n  return {\n    json: {\n      output: texto\n    }\n  };\n  \n} catch (error) {\n  console.error('Error parseando respuesta:', error);\n  \n  // Si falla el parseo, devolver la respuesta como texto plano\n  return {\n    json: {\n      output: respuestaTexto\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        0
      ],
      "id": "ae5c4e82-54c8-45f7-a84b-0c82179bb2de",
      "name": "Parseador de Respuesta JSON"
    }
  ],
  "connections": {
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Parseador de Respuesta JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parseador de Respuesta JSON": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "5259a624-06af-443e-a850-67f4e35c61bc",
  "activeVersionId": "5259a624-06af-443e-a850-67f4e35c61bc",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-17T11:40:47.317Z",
      "createdAt": "2026-01-17T11:40:47.317Z",
      "role": "workflow:owner",
      "workflowId": "xsKwZlySarztS7XbS9Qb1",
      "projectId": "EftYNIwW5VkchSsx"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-23T20:24:35.000Z",
    "createdAt": "2026-01-23T20:24:33.114Z",
    "versionId": "5259a624-06af-443e-a850-67f4e35c61bc",
    "workflowId": "xsKwZlySarztS7XbS9Qb1",
    "nodes": [
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "1ySt1WNQrACPL2VqsDzvY7uyrbcGjZHTz",
            "mode": "list",
            "cachedResultName": "Guía Técnica de Gestión Reporte Automatizado 360.pdf",
            "cachedResultUrl": "https://drive.google.com/file/d/1ySt1WNQrACPL2VqsDzvY7uyrbcGjZHTz/view?usp=drivesdk"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          208,
          0
        ],
        "id": "6bee1530-38fa-4aa2-b1ac-275bb989c1e4",
        "name": "Download file",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "nRB62SNEYjMTMNYH",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "mode": "insert",
          "pineconeIndex": {
            "__rl": true,
            "value": "aut-comerciantes",
            "mode": "list",
            "cachedResultName": "aut-comerciantes"
          },
          "embeddingBatchSize": 1200,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
        "typeVersion": 1.3,
        "position": [
          416,
          0
        ],
        "id": "c55475e9-1e2f-4b55-8ade-593248428ff4",
        "name": "Pinecone Vector Store",
        "credentials": {
          "pineconeApi": {
            "id": "o0d4caNkW4BkUWUm",
            "name": "PineconeApi account"
          }
        }
      },
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
        "typeVersion": 1,
        "position": [
          352,
          176
        ],
        "id": "5b643732-03a0-4d29-800d-5a3eff3c9580",
        "name": "Embeddings Google Gemini",
        "credentials": {
          "googlePalmApi": {
            "id": "u86n2rwNcUBwKUCi",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "dataType": "binary",
          "loader": "pdfLoader",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
        "typeVersion": 1.1,
        "position": [
          528,
          176
        ],
        "id": "4588b018-ac18-4a59-82bd-8aa94e2919f1",
        "name": "Default Data Loader"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "45036512-d009-46b7-90e0-e4f95f49ce72",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "options": {
            "systemPromptTemplate": "Eres El Asistente de Soporte Técnico y Estratégico de \"Reporte Automatizado 360\", la plataforma de gestión creada por la Agencia Arnaldo Ayala.\n\nTU OBJETIVO: Ayudar a comerciantes y emprendedores a resolver dudas sobre la App, transmitiendo seguridad, profesionalismo y visión de negocio.\n\nBASE DE CONOCIMIENTO (Reglas inquebrantables):\n1. MODALIDAD OFFLINE: Si preguntan por falta de internet, recuérdales que la App tiene \"Persistencia Local\".\n2. ACCESO: El ingreso es SIEMPRE con el \"ID de Comercio\" y el \"PIN de 4 dígitos\".\n3. REPORTES: Existen el \"Reporte del Día\" (botón app) y el \"Email Matutino\" (7:00 AM).\n4. INVENTARIO: Recalca la importancia de cargar el Costo vs Precio Venta para ver la rentabilidad real.\n\nTONO DE VOZ:\n- Profesional pero cercano (como Arnaldo Ayala).\n- Didáctico y Estratégico.\n\nRESTRICCIONES:\n- Responde SOLO basándote en el CONTEXTO proporcionado abajo.\n- Si la respuesta NO está en el contexto, indica que deben hablar con un humano.\n- Si el usuario pregunta sobre temas ajenos a la App, responde: \"Soy un asistente especializado en Reporte 360 y no tengo información sobre ese tema.\"\n\nCUÁNDO INCLUIR BOTONES DE CONTACTO:\nIncluye botones de contacto cuando:\n- El usuario pide hablar con alguien, soporte humano o ayuda personalizada\n- Mencionas \"contactar\", \"hablar con\", \"comunicarse\"\n- La pregunta requiere intervención humana o casos especiales\n- El usuario pregunta por servicios adicionales, precios o contratar\n- Quiere conocer más sobre la agencia o Arnaldo Ayala\n\nFORMATO DE SALIDA (ESTRICTO):\nTu respuesta debe ser SIEMPRE un objeto JSON válido. No incluyas markdown ni texto fuera del JSON.\n\nEJEMPLO CON BOTONES:\n{{ \"respuesta\": \"¡Claro! Te ayudo con eso. Para soporte personalizado puedes contactar directamente.\", \"botones\": [ {{ \"etiqueta\": \"WhatsApp\", \"url\": \"https://wa.me/543765384843\" }}, {{ \"etiqueta\": \"Instagram\", \"url\": \"https://instagram.com/arnaldoayalaestratega\" }}, {{ \"etiqueta\": \"Sitio Web\", \"url\": \"https://arnaldoayalaestratega.com\" }} ] }}\n\nEJEMPLO SIN BOTONES:\n{{ \"respuesta\": \"Para ingresar a la app usa tu ID de Comercio y PIN de 4 dígitos.\", \"botones\": [] }}\n\nIMPORTANTE: Usa doble llave {{}} para abrir y cerrar el JSON principal. Usa corchetes [] para el array de botones.\n\nINFORMACIÓN RECUPERADA (CONTEXTO):\n{context}\n\nPREGUNTA DEL USUARIO:\n{input}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
        "typeVersion": 1.7,
        "position": [
          1040,
          0
        ],
        "id": "40ae7da9-5efc-4cc7-8b01-12c17f914667",
        "name": "Question and Answer Chain"
      },
      {
        "parameters": {
          "public": true,
          "mode": "webhook",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.4,
        "position": [
          880,
          0
        ],
        "id": "773bff8a-d2ab-4be1-ad2e-a3a8396894d6",
        "name": "When chat message received",
        "webhookId": "d13fd268-2d98-4538-b7a6-fcc82e46be6d"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
        "typeVersion": 1,
        "position": [
          928,
          208
        ],
        "id": "7ff1e491-b3f8-44f7-a01b-64489604fdef",
        "name": "DeepSeek Chat Model",
        "credentials": {
          "deepSeekApi": {
            "id": "H2xYjvZkFQ7zA2QV",
            "name": "DeepSeek account"
          }
        }
      },
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
        "typeVersion": 1,
        "position": [
          1088,
          144
        ],
        "id": "bdf7c899-7848-4c91-a268-84f520743a85",
        "name": "Vector Store Retriever"
      },
      {
        "parameters": {
          "pineconeIndex": {
            "__rl": true,
            "value": "aut-comerciantes",
            "mode": "list",
            "cachedResultName": "aut-comerciantes"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
        "typeVersion": 1.3,
        "position": [
          1088,
          256
        ],
        "id": "c3059423-1ced-429d-9b0f-8f0cb1d45472",
        "name": "Pinecone Vector Store1",
        "credentials": {
          "pineconeApi": {
            "id": "o0d4caNkW4BkUWUm",
            "name": "PineconeApi account"
          }
        }
      },
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
        "typeVersion": 1,
        "position": [
          1152,
          384
        ],
        "id": "efbbb1e0-bb98-4088-8233-bcea80f36088",
        "name": "Embeddings Google Gemini1",
        "credentials": {
          "googlePalmApi": {
            "id": "u86n2rwNcUBwKUCi",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "content": "# 📄 FICHA TÉCNICA: AGENTE DE SOPORTE (RAG)\n---------------------------------\n📅 Última Actualización: 23/01/2026\n👤 Responsable: Agencia Arnaldo Ayala\n🤖 Cerebro: Gemini / DeepSeek\n🧠 Memoria: Pinecone (Vector Store)\n---------------------------------\nDESCRIPCIÓN:\nSistema de Inteligencia Artificial que responde dudas\nde los comerciantes leyendo tu documentación técnica.\nUtiliza RAG (Retrieval-Augmented Generation) para\nno alucinar y dar respuestas precisas.",
          "height": 944,
          "width": 672,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -912,
          -368
        ],
        "id": "a7aa9b55-6614-4bd2-ae97-5bb8109f67d4",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## 🗣️ RECEPCIÓN DE CONSULTA\n**Objetivo:** Escuchar al usuario desde la App.\n\n**📥 INPUT:**\n- body.mensaje (La duda del comerciante)\n- body.historial (Contexto de la charla)\n\n**⚙️ PROCESO:**\nRecibe la pregunta en lenguaje natural y la prepara\npara ser procesada por el motor vectorial.",
          "height": 944,
          "width": 1024,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          752,
          -368
        ],
        "id": "392be8ff-cde2-4b27-9523-e2ca7756c053",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## 🧠 MOTOR DE INTELIGENCIA (RAG)\n**Objetivo:** Pensar la respuesta basada en tus datos.\n\n**⚙️ EL PROCESO DE 3 PASOS:**\n1. **Búsqueda:** Convierte la duda en vectores y busca en Pinecone los fragmentos de tu manual que mejor responden.\n2. **Contexto:** Une la duda del usuario + la información encontrada.\n3. **Generación:** La IA redacta una respuesta amable y experta usando solo tu información real.",
          "height": 944,
          "width": 896,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -192,
          -368
        ],
        "id": "e3eb8f14-a7bc-479d-8fe3-217856a1ff7b",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "jsCode": "// ============================================\n// PARSEADOR CORREGIDO - Compatible con n8n Chat Widget\n// ============================================\n// Este código va en el nodo \"Parseador de Respuesta JSON\" en n8n\n\nconst respuestaTexto = $json.response;\n\ntry {\n  let textoLimpio = respuestaTexto.trim();\n  \n  // Limpiar markdown si viene envuelto en ```json\n  if (textoLimpio.startsWith('```json')) {\n    textoLimpio = textoLimpio.replace(/```json\\n?/g, '').replace(/```\\n?/g, '');\n  }\n  \n  // Parsear el JSON de la respuesta del LLM\n  const datosLimpios = JSON.parse(textoLimpio);\n  \n  // Extraer texto y botones\n  let texto = datosLimpios.respuesta || datosLimpios.text || textoLimpio;\n  let botones = datosLimpios.botones || datosLimpios.buttons || [];\n  \n  // 🔥 FORZAR botones de contacto si la respuesta menciona \"contactar\" o \"hablar\"\n  const textoLower = texto.toLowerCase();\n  if ((textoLower.includes('contactar') || textoLower.includes('hablar') || textoLower.includes('comunicar')) && botones.length === 0) {\n    botones = [\n      { etiqueta: \"WhatsApp\", url: \"https://wa.me/543765384843\" },\n      { etiqueta: \"Instagram\", url: \"https://instagram.com/arnaldoayalaestratega\" },\n      { etiqueta: \"Sitio Web\", url: \"https://arnaldoayalaestratega.com\" }\n    ];\n  }\n  \n  // ✅ NUEVO: Convertir botones a formato Markdown DENTRO del texto\n  if (botones.length > 0) {\n    texto += '\\n\\n';\n    botones.forEach(btn => {\n      const etiqueta = btn.etiqueta || btn.label || 'Enlace';\n      const url = btn.url;\n      \n      let emoji = '🔗';\n      const labelLower = etiqueta.toLowerCase();\n      if (labelLower.includes('whatsapp')) emoji = '💬';\n      else if (labelLower.includes('instagram')) emoji = '📸';\n      else if (labelLower.includes('web') || labelLower.includes('sitio')) emoji = '🌐';\n      \n      // Agregar enlaces en formato Markdown directamente al texto\n      texto += `${emoji} [${etiqueta}](${url})\\n`;\n    });\n  }\n  \n  // Devolver SOLO el texto con los enlaces integrados\n  return {\n    json: {\n      output: texto\n    }\n  };\n  \n} catch (error) {\n  console.error('Error parseando respuesta:', error);\n  \n  // Si falla el parseo, devolver la respuesta como texto plano\n  return {\n    json: {\n      output: respuestaTexto\n    }\n  };\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1360,
          0
        ],
        "id": "ae5c4e82-54c8-45f7-a84b-0c82179bb2de",
        "name": "Parseador de Respuesta JSON"
      }
    ],
    "connections": {
      "Download file": {
        "main": [
          [
            {
              "node": "Pinecone Vector Store",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings Google Gemini": {
        "ai_embedding": [
          [
            {
              "node": "Pinecone Vector Store",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Default Data Loader": {
        "ai_document": [
          [
            {
              "node": "Pinecone Vector Store",
              "type": "ai_document",
              "index": 0
            }
          ]
        ]
      },
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Download file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When chat message received": {
        "main": [
          [
            {
              "node": "Question and Answer Chain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DeepSeek Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Question and Answer Chain",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Vector Store Retriever": {
        "ai_retriever": [
          [
            {
              "node": "Question and Answer Chain",
              "type": "ai_retriever",
              "index": 0
            }
          ]
        ]
      },
      "Pinecone Vector Store1": {
        "ai_vectorStore": [
          [
            {
              "node": "Vector Store Retriever",
              "type": "ai_vectorStore",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings Google Gemini1": {
        "ai_embedding": [
          [
            {
              "node": "Pinecone Vector Store1",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Question and Answer Chain": {
        "main": [
          [
            {
              "node": "Parseador de Respuesta JSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parseador de Respuesta JSON": {
        "main": [
          []
        ]
      }
    },
    "authors": "Arnaldo Ayala",
    "name": "Version 5259a624",
    "description": "",
    "autosaved": false
  },
  "tags": [
    {
      "updatedAt": "2026-01-23T14:01:22.970Z",
      "createdAt": "2026-01-23T14:01:22.970Z",
      "id": "gy1rAhYFoAQXIZ9u",
      "name": "App 360"
    }
  ]
}