automatizaciones-comerciantes-.json
{
  "updatedAt": "2026-01-17T01:17:37.883Z",
  "createdAt": "2026-01-15T13:53:29.264Z",
  "id": "_DGhEcFyFUEWpZHnU6tYe",
  "name": "AUTOMATIZACIONES-COMERCIANTES",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "GUARDAR TRANSACCION - DE LA APP A SUPABASE",
        "height": 272,
        "width": 1568,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        208,
        832
      ],
      "id": "e155e888-2c9e-49b0-8191-475b1e156f0d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "path": "comerciante",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b7e8c324-b173-458a-b0a4-b35e01c75237",
      "name": "Webhook - GET Comerciante",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        384,
        624
      ],
      "webhookId": "obtener-comerciante-supabase"
    },
    {
      "parameters": {
        "jsCode": "// Obtener el comercio del nodo Supabase\nconst data = $input.first().json;\n\n// Si Supabase devuelve array, tomar el primer elemento\nconst comercio = Array.isArray(data) ? data[0] : data;\n\n// Verificar si existe el comercio\nif (!comercio || !comercio.slug) {\n  return [{\n    json: {\n      error: true,\n      message: 'Comerciante no encontrado'\n    }\n  }];\n}\n\n// Formatear respuesta para la app\nreturn [{\n  json: {\n    id: comercio.slug,\n    nombre: comercio.nombre_local,\n    email: comercio.email,\n    whatsapp: comercio.whatsapp || '',\n    tipo_negocio: comercio.tipo_negocio || '',\n    activo: comercio.activo,\n    url_app: comercio.url_app || ''\n  }\n}];"
      },
      "id": "28a2bf95-9118-48d8-a4df-e44f457ff586",
      "name": "Formatear Respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        624
      ],
      "notes": "Transforma los datos de Supabase al formato que espera la app"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "4fcec678-4cc6-47f3-a395-8164e55e1651",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1056,
        624
      ]
    },
    {
      "parameters": {
        "content": "OBTENER ID COMERCIANTE\n",
        "height": 272,
        "width": 1216
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        208,
        528
      ],
      "id": "47e90cbc-d5f2-4659-9326-93899fb4409e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "comercios",
        "filters": {
          "conditions": [
            {
              "keyName": "slug",
              "keyValue": "={{ $json.query.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        608,
        624
      ],
      "id": "6dc842ac-105b-44f5-99fb-409bb13f9a45",
      "name": "Leer Comerciante",
      "credentials": {
        "supabaseApi": {
          "id": "VE7fLcHe01BYK4SQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pos-guardar-venta",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        352,
        896
      ],
      "id": "4c77afa0-3744-45c0-a8d3-24e82ead4963",
      "name": "Webhook Guardar Transaccion",
      "webhookId": "a20c8ec7-8506-4a53-af0b-5b9a4cbd1900"
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook Guardar Transaccion').first().json.body;\nconst comercio = $input.first().json;\n\nif (!comercio || !comercio.id) {\n  throw new Error('Comerciante no encontrado');\n}\n\n// ✅ Calculamos el costo total sumando el costo de cada ítem enviado por la App\nconst items = body.items || [];\nconst costoTotal = items.reduce((sum, item) => sum + (parseFloat(item.costo) || 0), 0);\n\nconst transaccion = {\n  comercio_id: comercio.id,\n  tipo: body.tipo,\n  monto: parseFloat(body.monto),\n  costo_total: costoTotal, // ✅ NUEVO: Guardamos cuánto nos costó lo que vendimos\n  descripcion: body.descripcion || null,\n  productos: body.items || null, \n  fecha_hora: body.fecha_hora || new Date().toISOString(),\n  id_local: body.id_local\n};\n\n// Manejo de Ventas\nif (body.tipo === 'INGRESO') {\n  transaccion.metodo_pago = body.metodo || 'Efectivo';\n  transaccion.categoria_gasto = null;\n}\n\n// Manejo de Gastos\nif (body.tipo === 'GASTO') {\n  transaccion.categoria_gasto = body.categoria || 'Otros';\n  // En un gasto, el costo es el mismo monto\n  transaccion.costo_total = transaccion.monto; \n}\n\nreturn { json: transaccion };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        896
      ],
      "id": "7a9f1acf-a471-4923-98de-63c4b5a88576",
      "name": "Preparar Datos"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "comercios",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "slug",
              "condition": "eq",
              "keyValue": "={{ $json.body.id_comerciante }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        576,
        896
      ],
      "id": "dbf224dc-5baf-4c38-a261-0a07922b636a",
      "name": "Buscar comerciante",
      "credentials": {
        "supabaseApi": {
          "id": "VE7fLcHe01BYK4SQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Transacción guardada\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1248,
        896
      ],
      "id": "f250da21-13c0-4330-9e43-b9757bdd326e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "tableId": "transacciones",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1024,
        896
      ],
      "id": "28247a1e-2c5b-4a92-a6ca-bc4d06c7d3d7",
      "name": "Guardar en Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "VE7fLcHe01BYK4SQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "REGISTRO DE NUEVOS COMERCIANTES",
        "height": 400,
        "width": 2064,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        224,
        1568
      ],
      "id": "04cbb29d-5315-4be5-9207-c45bfc16272e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "e9f0f150-e277-41bb-bb45-0b9f66ba685d",
      "name": "Responder Historial",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1184,
        2176
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    success: true,\n    message: 'Transacción actualizada correctamente'\n  }\n};"
      },
      "id": "d9a3b384-a694-4308-afab-e803e3062bc9",
      "name": "Formatear Respuesta Editar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        2672
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "b3e345ed-46ae-4357-9d30-2b840549294e",
      "name": "Responder Editar",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1744,
        2672
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    id: $json.query.id\n  }\n};"
      },
      "id": "0dcb4049-4b78-41d1-9424-4b0358dbe54b",
      "name": "Formatear Respuesta Eliminar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        3056
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "ac52b8a9-951a-4828-bee3-2c13d0d23fc9",
      "name": "Responder Eliminar",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1824,
        3056
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pczrezpmdugdsjrxspjh.supabase.co/rest/v1/rpc/obtener_historial_transacciones",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_comercio_id\": \"{{ $json.slug }}\",\n  \"p_fecha_desde\": \"{{ ($node[\"GET Historial\"].json.body.fecha_desde || $node[\"GET Historial\"].json.query.fecha_desde) }} 00:00:00\",\n  \"p_fecha_hasta\": \"{{ ($node[\"GET Historial\"].json.body.fecha_hasta || $node[\"GET Historial\"].json.query.fecha_hasta) }} 23:59:59\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        928,
        2176
      ],
      "id": "c2b0e19d-95b7-4100-bae5-be7b5ebb261f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "httpMethod": "=PUT",
        "path": "transaccion-actualizar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3c86650c-f6d2-4006-8151-9d03c1855970",
      "name": "Webhook - Actualizar",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        368,
        2672
      ],
      "webhookId": "transaccion-ops"
    },
    {
      "parameters": {
        "httpMethod": "=DELETE",
        "path": "transaccion-eliminar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a3160463-d85b-441c-8e7b-b47a5fdf0f71",
      "name": "Webhook - Eliminar",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        384,
        3056
      ],
      "webhookId": "transaccion-ops"
    },
    {
      "parameters": {
        "content": "WORKFLOW-OBTENER HISTORIAL",
        "height": 304,
        "width": 2064,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        2080
      ],
      "id": "420a77ea-ba53-491d-b282-6c05881244c6",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://pczrezpmdugdsjrxspjh.supabase.co/rest/v1/transacciones",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $json.id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"monto\": {{ $json.monto }},\n  \"descripcion\": \"{{ $json.descripcion }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1024,
        2672
      ],
      "id": "8c505a0d-b35b-469f-a79f-9d383b239f67",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "content": "EDITAR TRANSACCION HISTORIAL",
        "height": 352,
        "width": 1840,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        272,
        2544
      ],
      "id": "b9cc3a4b-9af7-4560-97ed-b5e529e4ad19",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "ELIMINAR TRANSACCION HISTORIAL",
        "height": 352,
        "width": 1840
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        288,
        2976
      ],
      "id": "936c44b9-177f-4be1-8fda-77549b715ab5",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "https://pczrezpmdugdsjrxspjh.supabase.co/rest/v1/transacciones",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $json.id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1040,
        3056
      ],
      "id": "a2dfb8e3-6d0c-4ab9-8f2e-65918b6c976a",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body;\n\nreturn {\n  json: {\n    id: body.id,\n    monto: parseFloat(body.monto),\n    descripcion: body.descripcion\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        2672
      ],
      "id": "dbef8315-8599-4c29-b7d1-5bf3ae8b2a47",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body;\n\nreturn {\n  json: {\n    id: body.id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        3056
      ],
      "id": "9dc8780d-1579-45b4-8d04-329f3f3f5002",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "registro-comerciante",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "6d0218ae-030d-4e37-bcf6-6c0db4a0a7e7",
      "name": "Webhook Registro",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        400,
        1712
      ],
      "webhookId": "registro-comerciante-v1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "comercios",
        "returnAll": true
      },
      "id": "a435c608-65f2-419b-967f-9ff1faf83158",
      "name": "Obtener Todos los Comercios",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        608,
        1712
      ],
      "credentials": {
        "supabaseApi": {
          "id": "VE7fLcHe01BYK4SQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Capturamos los datos que vienen del formulario\nconst body = $('Webhook Registro').first().json.body;\n\n// 2. Traemos la lista de comercios actuales para saber cuál sigue\nconst comercios = $input.all();\n\n// 3. Función para calcular el siguiente ID (C001, C002...)\nfunction generarSiguienteSlug(comerciosExistentes) {\n  if (comerciosExistentes.length === 0) return 'C001';\n  \n  const numeros = comerciosExistentes\n    .map(c => c.json.slug)\n    .filter(slug => slug && slug.startsWith('C'))\n    .map(slug => parseInt(slug.substring(1)))\n    .filter(num => !isNaN(num));\n  \n  if (numeros.length === 0) return 'C001';\n  \n  const maxNumero = Math.max(...numeros);\n  return 'C' + (maxNumero + 1).toString().padStart(3, '0');\n}\n\n// 4. Generamos el nuevo ID y el PIN aleatorio\nconst nuevoSlug = generarSiguienteSlug(comercios);\nconst nuevoPin = Math.floor(1000 + Math.random() * 9000).toString();\n\n// 5. URL limpia para la App\nconst urlApp = `https://arnaldoayalaestratega.com/pos/`;\n\n// 6. Resultado final para Supabase y Email\nreturn {\n  json: {\n    slug: nuevoSlug,\n    pin: nuevoPin,\n    nombre_local: body.nombre_local,\n    email: body.email,\n    whatsapp: body.whatsapp,\n    tipo_negocio: body.tipo_negocio,\n    direccion: body.direccion,\n    ciudad: body.ciudad,\n    activo: true,\n    url_app: urlApp\n  }\n};"
      },
      "id": "55e24b65-54f2-4122-a05d-c141357ecae1",
      "name": "Generar Slug y URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        1712
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "🎉 ¡Bienvenido/a al Sistema de Gestión de Transacciones!",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <style>\n    body {\n      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n      line-height: 1.6;\n      color: #1a1a1a;\n      max-width: 600px;\n      margin: 0 auto;\n      padding: 20px;\n      background-color: #f0f2f5;\n    }\n    .container {\n      background-color: white;\n      border-radius: 15px;\n      padding: 30px;\n      box-shadow: 0 4px 20px rgba(0,0,0,0.08);\n    }\n    .header {\n      text-align: center;\n      border-bottom: 2px solid #00ff88;\n      padding-bottom: 20px;\n      margin-bottom: 25px;\n    }\n    h1 {\n      color: #008f4c;\n      font-size: 26px;\n      margin: 0;\n    }\n    .greeting {\n      font-size: 17px;\n      color: #444;\n      margin-bottom: 20px;\n    }\n    .button-container {\n      text-align: center;\n      margin: 35px 0;\n    }\n    .app-button {\n      display: inline-block;\n      padding: 20px 45px;\n      background: linear-gradient(135deg, #00ff88, #008f4c);\n      color: white !important;\n      text-decoration: none;\n      border-radius: 15px;\n      font-size: 1.3rem;\n      font-weight: 800;\n      box-shadow: 0 6px 20px rgba(0, 255, 136, 0.3);\n      transition: all 0.3s;\n    }\n    .feature-card {\n      background-color: #f8f9fa;\n      border-radius: 10px;\n      padding: 15px;\n      margin-bottom: 15px;\n      border-left: 5px solid #00d4ff;\n    }\n    .feature-title {\n      font-weight: bold;\n      color: #0056b3;\n      display: block;\n      margin-bottom: 5px;\n    }\n    .access-box {\n      background-color: #fff9c4;\n      padding: 20px;\n      border-radius: 10px;\n      margin: 25px 0;\n      border: 2px dashed #fbc02d;\n    }\n    .highlight-box {\n      background-color: #e3f2fd;\n      padding: 20px;\n      border-radius: 10px;\n      margin: 25px 0;\n      border: 1px dashed #00d4ff;\n    }\n    .footer {\n      text-align: center;\n      color: #888;\n      font-size: 12px;\n      margin-top: 35px;\n      border-top: 1px solid #eee;\n      padding-top: 20px;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n        <h1>¡Bienvenido/a {{ $json.nombre_local }}! 🚀</h1>\n    </div>\n    \n    <p class=\"greeting\">\n      Hola, soy <strong>Arnaldo Ayala</strong>. Hemos activado tu sistema profesional para que lleves el control total de tu negocio de forma automatizada.\n    </p>\n\n    <div class=\"access-box\">\n      <h3 style=\"margin-top: 0; color: #bc5100;\">🔑 Tus Datos de Acceso:</h3>\n      <p style=\"font-size: 18px; margin: 10px 0;\">\n        <strong>ID de Comercio:</strong> <span style=\"color: #008f4c; font-weight: bold;\">{{ $json.slug }}</span><br>\n        <strong>Tu PIN Secreto:</strong> <span style=\"color: #008f4c; font-weight: bold;\">{{ $json.pin }}</span>\n      </p>\n      <small>Utiliza estos datos para iniciar sesión en tu App.</small>\n    </div>\n\n    <div class=\"button-container\">\n      <a href=\"{{ $json.url_app }}\" class=\"app-button\">ENTRAR A MI SISTEMA</a>\n    </div>\n\n    <h2 style=\"color: #008f4c; font-size: 20px;\">🛡️ Tu Panel de Control 360°</h2>\n    \n    <div class=\"feature-card\">\n      <span class=\"feature-title\">📦 Gestión de Inventario Inteligente</span>\n      Podrás cargar tus productos con <strong>código, nombre y precio</strong>. Al momento de vender, ¡solo tendrás que seleccionarlos!\n    </div>\n\n    <div class=\"feature-card\">\n      <span class=\"feature-title\">📜 Historial con \"Superpoderes\"</span>\n      Consulta todas tus ventas y gastos. <strong>¿Te equivocaste en un registro?</strong> No te preocupes: puedes <strong>editar o eliminar</strong> cualquier movimiento en segundos.\n    </div>\n\n    <div class=\"feature-card\">\n      <span class=\"feature-title\">💡 Consejos Estratégicos</span>\n      Periódicamente recibirás en tu correo <strong>consejos útiles y estrategias de marketing</strong> para ayudarte a escalar tus ventas usando IA.\n    </div>\n\n    <div class=\"highlight-box\">\n      <strong>💡 Recomendación de Oro:</strong> Si estás en Pc arriba al lado del buscador tendras el boton para descargar la App, o presiona los \"tres puntitos\" de tu navegador móvil y selecciona <strong>\"Descargar Aplicacion\"</strong>. Así tendrás el Sistema en tu celular.\n    </div>\n\n    <h2 style=\"color: #008f4c; font-size: 18px;\">💬 Soporte Directo</h2>\n    <p style=\"font-size: 14px;\">\n      Si necesitas ayuda para cargar tu inventario o ajustar algún detalle:<br>\n      <strong>WhatsApp:</strong> <a href=\"https://wa.me/5493765384843\" style=\"color: #00d4ff; font-weight: bold;\">+54 9 3765 38-4843</a>\n    </p>\n\n    <p style=\"margin-top: 30px; font-weight: bold; color: #444;\">\n      ¡A darle con todo a esas ventas! 📈<br><br>\n      Arnaldo Ayala<br>\n      <span style=\"color: #008f4c; font-weight: normal;\">Estratega en IA y Marketing</span>\n    </p>\n\n    <div class=\"footer\">\n      <p>Agencia Arnaldo Ayala - Automatización para Comerciantes</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "beab279d-3566-43cf-94e0-7c40312c4974",
      "name": "Enviar Email Bienvenida",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1280,
        1712
      ],
      "webhookId": "ba902d0d-f549-4d43-a6e0-055e7665a804",
      "credentials": {
        "gmailOAuth2": {
          "id": "hRodmfLyiI5TNo4a",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true, \n  \"message\": \"Comerciante registrado exitosamente\", \n  \"slug\": $('Generar Slug y URL').first().json.slug, \n  \"url_app\": $('Generar Slug y URL').first().json.url_app \n} }}",
        "options": {}
      },
      "id": "e1f33ddb-0ad6-4f44-b29e-9f79e5a47945",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1504,
        1712
      ]
    },
    {
      "parameters": {
        "tableId": "comercios",
        "dataToSend": "autoMapInputData"
      },
      "id": "e3646843-2fc4-4ca3-830a-33ab22e7b972",
      "name": "Guardar en Supabase3",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1056,
        1712
      ],
      "credentials": {
        "supabaseApi": {
          "id": "VE7fLcHe01BYK4SQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "9f702b01-341c-4735-9c5d-74da37d55c52",
      "name": "Schedule Trigger - 7 AM1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        1264
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "44169ee8-313b-45d1-9d2b-16721b4b9f2b",
      "name": "Loop Comercios1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        688,
        1264
      ],
      "notes": "Procesa cada comercio uno por uno"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Wait 5 s').item.json.email }}",
        "subject": "=🚀 Consejo del Dia {{ $('Wait 5 s').item.json.nombre_local }}: Ideas para una Mejor Gestión",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    .container { font-family: sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; border: 1px solid #eee; border-radius: 10px; }\n    .header { color: #008f4c; font-size: 24px; font-weight: bold; text-align: center; margin-bottom: 20px; }\n    .content { line-height: 1.6; color: #333; font-size: 16px; margin-bottom: 30px; }\n    .button-wrapper { text-align: center; margin-top: 20px; }\n    .btn { display: inline-block; padding: 12px 25px; margin: 10px; color: white !important; text-decoration: none; border-radius: 8px; font-weight: bold; }\n    .btn-ws { background-color: #25D366; }\n    .btn-web { background-color: #008f4c; }\n    /* Estilo para el nuevo botón */\n    .btn-ig { background-color: #E1306C; } \n    .footer { font-size: 12px; color: #888; text-align: center; margin-top: 30px; border-top: 1px solid #eee; padding-top: 10px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">¡Hola, {{ $('Wait 5 s').item.json.nombre_local }}! 💡</div>\n    \n    <div class=\"content\">\n      {{ $json.content.parts[0].text }}\n    </div>\n\n    <div class=\"button-wrapper\">\n      <a href=\"https://instagram.com/arnaldoestratega\" class=\"btn btn-ig\">Seguir en Instagram</a>\n      <a href=\"https://wa.me/543765384843\" class=\"btn btn-ws\">Escribirme al WhatsApp</a>\n      <a href=\"https://arnaldoayalaestratega.com\" class=\"btn btn-web\">Visitar mi Sitio Web</a>\n    </div>\n\n    <div class=\"footer\">\n      Agencia Arnaldo Ayala - Consultoría en IA y Marketing<br>\n      Este es un mensaje de mentoría diaria para tu negocio.\n    </div>\n  </div>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "0ff0062e-403d-48ae-88e5-8312e2a4567e",
      "name": "Enviar Email1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1664,
        1184
      ],
      "webhookId": "678fd532-6073-41a8-b72c-715820d3add0",
      "credentials": {
        "gmailOAuth2": {
          "id": "hRodmfLyiI5TNo4a",
          "name": "Gmail account"
        }
      },
      "notes": "Envía el reporte por email"
    },
    {
      "parameters": {},
      "id": "6cbc331f-9da3-431c-8753-f8a560bd943c",
      "name": "Loop Back1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1920,
        1264
      ]
    },
    {
      "parameters": {
        "content": "REPORTE AUTOMATICO 7AM ",
        "height": 352,
        "width": 1904,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        208,
        1152
      ],
      "id": "ccf7a98b-3fd8-4634-acbe-2722168e2018",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "comercios",
        "returnAll": true,
        "filterType": "none"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        448,
        1264
      ],
      "id": "aa79d382-e294-4b43-9c5e-dbb0431c27ff",
      "name": "Obtener Comercios Activos",
      "credentials": {
        "supabaseApi": {
          "id": "VE7fLcHe01BYK4SQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1024,
        1184
      ],
      "id": "802e8fd7-33b4-4e05-b413-537eb5581c1d",
      "name": "Wait 5 s",
      "webhookId": "70450871-98b4-4cb1-b6be-df5707fa63ce"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "Actúa como Arnaldo, Consultor Senior de Negocios y Experto en Automatización. Tu audiencia NO son principiantes; son comerciantes que facturan pero sufren desorden y falta de tiempo.\n\nTu objetivo: Romper una creencia limitante o entregar una táctica de negocio avanzada, pero explicada en lenguaje simple.\n\nINSTRUCCIONES ESTRICTAS:\n1. Elige UNO de estos 4 marcos mentales avanzados para el mensaje de hoy:\n   - La Ley de Pareto (80/20): (Ej: \"El 20% de tus productos te da el 80% de ganancia. ¿Sabes cuáles son o sigues reponiendo todo por igual?\").\n   - El Mito del Emprendedor: (Ej: \"Si tu negocio no funciona cuando no estás, no tienes un negocio, tienes un auto-empleo. Empieza a documentar procesos hoy\").\n   - Costo de Oportunidad: (Ej: \"Pasar 1 hora acomodando latas te cuesta dinero. Esa hora deberías usarla negociando proveedores o configurando tu IA\").\n   - Psicología de Precios: (Ej: \"No bajes precios por miedo. Sube el valor percibido. Un cliente que viene por precio, se va por precio\").\n\n2. ESTRUCTURA DEL MENSAJE (Sin saludos cursis):\n   - EL GOLPE DE REALIDAD: Una pregunta o afirmación directa que incomode constructivamente. (Ej: \"¿Tu negocio te posee a ti o tú posees a tu negocio?\").\n   - LA TÁCTICA: Explica el concepto brevemente y cómo aplicarlo YA MISMO. Nada de teoría abstracta.\n   - EL PUENTE TECNOLÓGICO: Conecta ese problema con la solución: Sistematizar.\n   - CTA: \"No te conformes con sobrevivir. Profesionalízate con n8n y Estrategia. Sígueme en instagram.com/arnaldoestratega o escríbeme abajo para escalar.\"\n\nRESTRICCIONES NEGATIVAS (Lo que NO debes hacer):\n- NO uses frases motivacionales vacías como \"Tú puedes\", \"Sigue adelante\", \"Sonríe\".\n- NO uses signos de exclamación excesivos (!!). Mantén un tono serio, sobrio y de autoridad experta.\n- NO superes los 600 caracteres.\n\nFormato: Texto plano, directo al grano."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1280,
        1184
      ],
      "id": "0f0aa77c-153a-4498-a6ee-48ce8b38ed4d",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "u86n2rwNcUBwKUCi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inventario",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "9aa98cb2-870b-4f17-858f-624ff61c933d",
      "name": "Webhook Inventario",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2976,
        624
      ],
      "webhookId": "inventario-v1"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nreturn [{\n  json: {\n    comercio_id: body.id_comerciante, // Unificamos a comercio_id\n    nombre: body.nombre ? body.nombre.trim() : \"Sin Nombre\",\n    precio_final: parseFloat(body.precio_final) || 0,\n    precio_costo: parseFloat(body.precio_costo) || 0,\n    ganancia_porcentaje: parseFloat(body.ganancia_porcentaje) || 0,\n    categoria: body.categoria || 'Sin Categoría',\n    stock: parseInt(body.stock) || 0,\n    codigo_barra: body.codigo_barra ? body.codigo_barra.trim() : null,\n    codigo: body.codigo || null \n  }\n}];"
      },
      "id": "a1fab2e8-045c-45e5-aa2a-ae700f23249c",
      "name": "Validar Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        624
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "comercios",
        "filters": {
          "conditions": [
            {
              "keyName": "slug",
              "keyValue": "={{ $json.comercio_id }}"
            }
          ]
        }
      },
      "id": "cdc7738e-a81f-42e8-9c43-2d2806a6a6ff",
      "name": "Buscar Comercio",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3424,
        624
      ],
      "credentials": {
        "supabaseApi": {
          "id": "VE7fLcHe01BYK4SQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const comercio = $input.first().json;\nconst producto = $('Validar Datos').first().json;\n\nif (!comercio || !comercio.id) {\n  throw new Error('Comercio no encontrado');\n}\n\nreturn [{\n  json: {\n    comercio_id: comercio.id, // Unificamos a comercio_id\n    nombre: producto.nombre,\n    precio_final: producto.precio_final,\n    precio_costo: producto.precio_costo,\n    ganancia_porcentaje: producto.ganancia_porcentaje,\n    categoria: producto.categoria,\n    stock: producto.stock,\n    codigo_barra: producto.codigo_barra,\n    activo: true\n  }\n}];"
      },
      "id": "11d56e43-d13b-4d6f-b076-9fb4c9ac1f7c",
      "name": "Preparar Inserción",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3648,
        624
      ]
    },
    {
      "parameters": {
        "tableId": "inventario",
        "dataToSend": "autoMapInputData"
      },
      "id": "873a97e5-b0a6-41e9-a8b0-a311d7b4cdc2",
      "name": "Guardar Producto",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3856,
        624
      ],
      "credentials": {
        "supabaseApi": {
          "id": "VE7fLcHe01BYK4SQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Producto guardado exitosamente\", \"producto\": { \"id\": $json.id, \"codigo\": $json.codigo, \"nombre\": $json.nombre, \"precio\": $json.precio } } }}",
        "options": {}
      },
      "id": "b604bf05-49c5-48ce-879a-f1c35f849fc1",
      "name": "Responder Éxito",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        4080,
        624
      ]
    },
    {
      "parameters": {
        "content": "CARGAR-INVENTARIO",
        "height": 416,
        "width": 1728
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2816,
        512
      ],
      "id": "98d172a1-9374-45ac-87c1-6e0c6b52bb6d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "CONSULTAR-INVENTARIO",
        "height": 352,
        "width": 1744,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2800,
        1024
      ],
      "id": "5d886a59-74a4-41b6-bb62-9c0459a5a1a0",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "path": "consulta-inventario",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "efc3c17f-719d-4a6b-9d52-a93d0d99ed44",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2928,
        1136
      ],
      "webhookId": "consulta-inventario-simple"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "comercios",
        "filters": {
          "conditions": [
            {
              "keyName": "slug",
              "keyValue": "={{ $json.query.id_comerciante }}"
            }
          ]
        }
      },
      "id": "346dd0fb-4c78-4be3-a582-a2e178c12862",
      "name": "Buscar Comercio1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3184,
        1136
      ],
      "credentials": {
        "supabaseApi": {
          "id": "VE7fLcHe01BYK4SQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://pczrezpmdugdsjrxspjh.supabase.co/rest/v1/inventario?comercio_id=eq.{{ $('Buscar Comercio1').item.json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3440,
        1136
      ],
      "id": "be5a32af-35ab-4c59-bff3-37f19d66c46b",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "jsCode": "// Obtenemos los productos que vinieron de la base de datos\nconst items = $input.all();\n\n// Los transformamos incluyendo TODOS los campos necesarios para la App\nreturn items.map(item => {\n  return {\n    json: {\n      id: item.json.id,\n      codigo: item.json.codigo,\n      nombre: item.json.nombre,\n      // Mapeamos 'precio_final' pero también enviamos 'precio' como respaldo\n      precio_final: item.json.precio_final, \n      precio: item.json.precio_final, // Para compatibilidad\n      precio_costo: item.json.precio_costo || 0, // ✅ Nuevo\n      ganancia_porcentaje: item.json.ganancia_porcentaje || 0, // ✅ Nuevo\n      categoria: item.json.categoria || 'Sin Categoría',\n      stock: item.json.stock || 0,\n      codigo_barra: item.json.codigo_barra || null // ✅ Muy importante para el escáner\n    }\n  };\n});"
      },
      "id": "938de03a-638b-4785-b35e-750af43ce87f",
      "name": "Formatear Respuesta1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3696,
        1136
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "id": "dde0dd89-b199-4cea-9ea2-0a25517e22ce",
      "name": "Responder1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3952,
        1136
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "login",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        320,
        240
      ],
      "id": "64574323-db3a-4757-90d0-7c59b47d24b7",
      "name": "Webhook",
      "webhookId": "b5f9cebe-1f41-4b7c-8eef-b9d3c7927280"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "comercios",
        "filters": {
          "conditions": [
            {
              "keyName": "slug",
              "keyValue": "={{ $json.body.cliente_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        528,
        240
      ],
      "id": "1fa8d479-8e07-43df-b6ec-29255d9996c9",
      "name": "Buscar Comerciante",
      "credentials": {
        "supabaseApi": {
          "id": "VE7fLcHe01BYK4SQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener datos del webhook y de Supabase\nconst inputData = $input.first().json;\nconst pinIngresado = $('Webhook').item.json.body.pin;\n\n// Verificar si se encontró el comerciante\nif (!inputData || !inputData.id) {\n  return {\n    json: {\n      success: false,\n      message: \"ID de comerciante no encontrado\"\n    }\n  };\n}\n\n// Verificar si el comerciante tiene PIN configurado\n// CAMBIO: Buscar \"pin\" en lugar de \"pin_acceso\"\nif (!inputData.pin) {\n  return {\n    json: {\n      success: false,\n      message: \"Este comerciante no tiene PIN configurado\"\n    }\n  };\n}\n\n// Comparar PINs\nconst pinCorrecto = inputData.pin.toString();\nconst pinIntentado = pinIngresado.toString();\n\nif (pinCorrecto === pinIntentado) {\n  return {\n    json: {\n      success: true,\n      message: \"Login exitoso\",\n      comerciante: {\n        id: inputData.slug,\n        nombre: inputData.nombre_local\n      }\n    }\n  };\n} else {\n  return {\n    json: {\n      success: false,\n      message: \"PIN incorrecto\"\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        240
      ],
      "id": "93c71e2e-3a43-45e3-893c-07bbde01347e",
      "name": "Verificar PIN"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        944,
        240
      ],
      "id": "59880f6b-ef37-4322-a7b9-ace4ae47905c",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "content": "FLUJO DE LOGIN",
        "height": 384,
        "width": 1728
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        224,
        48
      ],
      "id": "7ec1d669-dcb0-4e9c-a16c-aa7d64a60fd8",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "guardar-local",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        400,
        3552
      ],
      "id": "d538ca41-8df5-4ae9-a2d3-7fe10058f644",
      "name": "Webhook Guardar Transaccion1",
      "webhookId": "a20c8ec7-8506-4a53-af0b-5b9a4cbd1900"
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtenemos el cuerpo del webhook\nconst body = $('Webhook Guardar Transaccion1').first().json.body;\nconst transacciones = body.transacciones;\n\n// 2. Datos del comerciante\nconst comerciante = $input.first().json;\n\nif (!comerciante || !comerciante.id) {\n  throw new Error('Comerciante no encontrado en la base de datos');\n}\n\n// 3. Validar si es una lista o una sola\nconst listaAProcesar = Array.isArray(transacciones) ? transacciones : [body];\n\n// 4. Procesar cada una\nreturn listaAProcesar.map(t => {\n  const registro = {\n    comercio_id: comerciante.id,\n    tipo: t.tipo, \n    monto: parseFloat(t.monto) || 0,\n    descripcion: t.descripcion || null,\n    fecha_hora: t.fecha_hora || new Date().toISOString(),\n    metodo_pago: t.metodo_pago || t.metodo || null,  // ✅ Acepta ambos\n    categoria_gasto: t.categoria_gasto || t.categoria || null,  // ✅ Acepta ambos\n    id_local: t.id || t.id_local || null\n  };\n\n  return { json: registro };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        3552
      ],
      "id": "bb2f5c3a-9f0f-4ac4-ad5f-5d0762332616",
      "name": "Preparar Datos1"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "comercios",
        "filters": {
          "conditions": [
            {
              "keyName": "slug",
              "keyValue": "={{ $json.body.id_comerciante }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        624,
        3552
      ],
      "id": "e2b77fb7-e57f-4477-a58a-0efc4c071687",
      "name": "Buscar comerciante1",
      "credentials": {
        "supabaseApi": {
          "id": "VE7fLcHe01BYK4SQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Transacción guardada\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1296,
        3552
      ],
      "id": "e1b7546e-8862-4f41-9121-044a6ef23d5b",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "content": "GUARDAR TRANSACCION LOCAL STORAGE",
        "height": 352,
        "width": 1616
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        320,
        3456
      ],
      "id": "0265c84d-096a-42cd-874b-bec8cd52a216",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pczrezpmdugdsjrxspjh.supabase.co/rest/v1/transacciones?on_conflict=id_local",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1072,
        3552
      ],
      "id": "8205ba08-ccbb-4ba1-a737-9d977b721984",
      "name": "Guardar en Supabase2"
    },
    {
      "parameters": {
        "content": "EDITAR INVENTARIO",
        "height": 352,
        "width": 1792
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2848,
        1504
      ],
      "id": "f9575765-c781-45c8-a8f6-df7be15748dd",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "ELIMINAR INVENTARIO",
        "height": 368,
        "width": 1936
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2800,
        1952
      ],
      "id": "4f04c99e-ffcd-4a4c-9c72-f394aeb8289d",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "httpMethod": "PUT",
        "path": "inventario-actualizar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b3a6f2fc-f53b-4cf0-99d3-c57aaf6acdfe",
      "name": "Webhook - Actualizar Inventario",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        2976,
        1600
      ],
      "webhookId": "inv-update-ops"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body;\n\nreturn {\n  json: {\n    codigo: body.id, // ID original para filtrar\n    nombre: body.nombre,\n    categoria: body.categoria,\n    precio_final: parseFloat(body.precio_final),\n    precio_costo: parseFloat(body.precio_costo) || 0,\n    stock: parseInt(body.stock) || 0,\n    codigo_nuevo: body.codigo_nuevo // Por si el comerciante cambió el código/EAN\n  }\n};"
      },
      "id": "4a80bde4-200c-4f8d-a163-11210b63f8d6",
      "name": "Preparar Datos Inventario",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3280,
        1600
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://pczrezpmdugdsjrxspjh.supabase.co/rest/v1/inventario?codigo=eq.{{ $json.codigo }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "codigo",
              "value": "=eq.{{ $json.codigo }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"nombre\": \"{{ $json.nombre }}\",\n  \"categoria\": \"{{ $json.categoria }}\",\n  \"precio_final\": {{ $json.precio_final }},\n  \"precio_costo\": {{ $json.precio_costo }},\n  \"stock\": {{ $json.stock }}\n}",
        "options": {}
      },
      "id": "d17a9804-95a0-4c26-8cd7-bfb8f0171092",
      "name": "HTTP Request Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3632,
        1600
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    success: true,\n    message: 'Producto actualizado correctamente'\n  }\n};"
      },
      "id": "624da195-def5-4727-b049-f5cfb08d78a4",
      "name": "Formatear Respuesta2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4000,
        1600
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "2d4c54b2-8dc4-43ab-9ee0-e704c85bd4d0",
      "name": "Responder2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        4352,
        1600
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    id: $input.first().json.id\n  }\n};"
      },
      "id": "6340eb37-73f6-4055-9119-6540b7100930",
      "name": "Formatear Respuesta Eliminar Inventario1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4016,
        2096
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "b9bd1a6b-ceb9-41df-b6a8-8c1b2c0a1fa9",
      "name": "Responder Eliminar Inventario1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        4384,
        2096
      ]
    },
    {
      "parameters": {
        "httpMethod": "DELETE",
        "path": "inventario-eliminar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e9ff5d16-17d0-4b0e-9e28-7e15ef10ea2c",
      "name": "Webhook - Eliminar Inventario1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        2944,
        2096
      ],
      "webhookId": "inv-delete-ops"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "https://pczrezpmdugdsjrxspjh.supabase.co/rest/v1/inventario",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "codigo",
              "value": "=eq.{{ $json.codigo }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3600,
        2096
      ],
      "id": "0d3ab6e2-7770-4ba7-8c19-c1dabf757c49",
      "name": "HTTP Request Delete Inventario1"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body;\n\nreturn {\n  json: {\n    codigo: body.id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3296,
        2096
      ],
      "id": "8f28cdcc-803c-4a7a-a899-46dcd66c1c3c",
      "name": "Extract ID JavaScript1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generar-reporte",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        3024,
        144
      ],
      "id": "b85c3157-8fbd-44ac-af87-15a599b82f26",
      "name": "Webhook2",
      "webhookId": "ebff26f8-e0d9-42b1-a51d-3b2f72b8d885"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "comercios",
        "filters": {
          "conditions": [
            {
              "keyName": "slug",
              "keyValue": "={{ $('Webhook2').item.json.body.id_comerciante }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3456,
        144
      ],
      "id": "371ec134-fdda-4cfe-8be7-0913b04c3a8f",
      "name": "Obtener Comerciante",
      "credentials": {
        "supabaseApi": {
          "id": "VE7fLcHe01BYK4SQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.destinatario }}",
        "subject": "Aquí Tu Reporte ",
        "message": "={{ $json.html_email }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        4064,
        144
      ],
      "id": "f1871c76-aab9-4c70-9733-f2fe687c62a6",
      "name": "Enviar Reporte",
      "webhookId": "7ba3c000-aecf-4f76-8e6c-e9b8b36cf2c7",
      "credentials": {
        "gmailOAuth2": {
          "id": "hRodmfLyiI5TNo4a",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        4240,
        144
      ],
      "id": "941807b9-703c-4c21-8156-a2fedd16e753",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "content": "GENERAR REPORTE ",
        "height": 336,
        "width": 1648
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2864,
        48
      ],
      "id": "0e389d03-1a9c-49da-a45f-c8e88fe34ea1",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a3ebfb04-8d05-4acf-ba2f-ee50e426f3a9",
              "name": "rango_inicio",
              "value": "={{ $json.body.periodo == 'anio' ? $today.format('yyyy') + '-01-01 00:00:00' : $json.body.fecha_desde + ' 00:00:00' }}",
              "type": "string"
            },
            {
              "id": "367b9152-0ef8-4945-955e-728b4b14c930",
              "name": "rango_fin",
              "value": "={{ $json.body.fecha_hasta }} 23:59:59",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3232,
        144
      ],
      "id": "d5fbe675-6d6e-4329-b35c-47c3327935e9",
      "name": "Preparar Fechas"
    },
    {
      "parameters": {
        "jsCode": "// ✅ CÓDIGO ACTUALIZADO PARA \"Preparar Reporte\"\n\n// 1. Capturar datos de la función RPC\nconst respuestaRPC = $input.first().json;\n\n// Verificar si la RPC respondió correctamente\nif (!respuestaRPC.success) {\n  throw new Error(respuestaRPC.error || 'Error obteniendo transacciones');\n}\n\n// Extraer array de transacciones\nconst transaccionesArray = respuestaRPC.transacciones || [];\n\n// 2. Datos del comerciante y webhook\nconst comerciante = $('Obtener Comerciante').first()?.json || {};\nconst webhookData = $('Webhook2').first()?.json?.body || {};\n\nconst emailFinal = webhookData.email_destinacion || comerciante.email || \"soporte@arnaldoayala.com\";\nconst nombreNegocio = comerciante.nombre_local || \"tu negocio\";\nconst periodoReporte = (webhookData.periodo || \"periodo solicitado\").toUpperCase();\n\n// 3. Variables para cálculos\nlet totalVentas = 0;\nlet totalGastos = 0;\nlet filasTabla = \"\";\n\n// 4. Procesar cada transacción\nfor (const tx of transaccionesArray) {\n  const monto = parseFloat(tx.monto || 0);\n  \n  const fechaRaw = tx.fecha_hora;\n  const fecha = fechaRaw ? new Date(fechaRaw).toLocaleDateString('es-AR', {\n    day: '2-digit',\n    month: '2-digit',\n    year: 'numeric'\n  }) : \"S/F\";\n\n  const concepto = tx.descripcion || (tx.tipo === 'INGRESO' ? 'Venta de productos' : 'Gasto general');\n\n  if (tx.tipo === 'INGRESO') {\n    totalVentas += monto;\n    filasTabla += `\n      <tr>\n        <td style=\"padding: 12px; border-bottom: 1px solid #edf2f7; color: #4a5568;\">${fecha}</td>\n        <td style=\"padding: 12px; border-bottom: 1px solid #edf2f7; color: #4a5568;\">${concepto}</td>\n        <td style=\"padding: 12px; border-bottom: 1px solid #edf2f7; color: #2f855a; font-weight: bold; text-align: right;\">+$${monto.toLocaleString('es-AR', {minimumFractionDigits: 2})}</td>\n      </tr>`;\n  } else {\n    totalGastos += monto;\n    filasTabla += `\n      <tr>\n        <td style=\"padding: 12px; border-bottom: 1px solid #edf2f7; color: #4a5568;\">${fecha}</td>\n        <td style=\"padding: 12px; border-bottom: 1px solid #edf2f7; color: #4a5568;\">${concepto}</td>\n        <td style=\"padding: 12px; border-bottom: 1px solid #edf2f7; color: #c53030; font-weight: bold; text-align: right;\">-$${monto.toLocaleString('es-AR', {minimumFractionDigits: 2})}</td>\n      </tr>`;\n  }\n}\n\n// 5. Análisis de Consultoría\nconst balanceNeto = totalVentas - totalGastos;\nlet mensajeConsultor = \"\";\nlet colorPrincipal = \"#3182ce\"; \n\nif (balanceNeto > 0) {\n  colorPrincipal = \"#2f855a\"; \n  mensajeConsultor = `\n    <div style=\"background-color: #f0fff4; border-left: 4px solid #38a169; padding: 15px; margin-top: 20px;\">\n      <h4 style=\"margin: 0; color: #276749;\">¡Excelente trabajo! 👏</h4>\n      <p style=\"margin: 5px 0 0 0; color: #2f855a; font-size: 14px;\">\n        Tu negocio está dando frutos. Estas ganancias son el resultado de tu esfuerzo y buena gestión. \n        ¡A seguir por este camino para escalar al siguiente nivel!\n      </p>\n    </div>`;\n} else if (balanceNeto < 0) {\n  colorPrincipal = \"#c53030\"; \n  mensajeConsultor = `\n    <div style=\"background-color: #fff5f5; border-left: 4px solid #e53e3e; padding: 15px; margin-top: 20px;\">\n      <h4 style=\"margin: 0; color: #9b2c2c;\">¡A no bajar los brazos! 💪</h4>\n      <p style=\"margin: 5px 0 0 0; color: #c53030; font-size: 14px;\">\n        Este periodo cerró en negativo, pero cada número es una lección. Revisa los gastos y \n        ajusta la estrategia. ¡Tú tienes la capacidad de revertir esto y volver a crecer!\n      </p>\n    </div>`;\n} else {\n  mensajeConsultor = `\n    <div style=\"background-color: #ebf8ff; border-left: 4px solid #3182ce; padding: 15px; margin-top: 20px;\">\n      <h4 style=\"margin: 0; color: #2c5282;\">Periodo en equilibrio</h4>\n      <p style=\"margin: 5px 0 0 0; color: #2b6cb0; font-size: 14px;\">\n        Tus ingresos cubrieron exactamente tus gastos. Es un buen momento para analizar \n        cómo aumentar el margen de beneficio en el próximo periodo.\n      </p>\n    </div>`;\n}\n\n// 6. Construcción del HTML (igual que antes)\nconst htmlReporte = `\n<div style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #f7fafc; padding: 20px;\">\n  <div style=\"max-width: 600px; margin: 0 auto; background-color: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 4px 6px rgba(0,0,0,0.1);\">\n    \n    <div style=\"background-color: ${colorPrincipal}; padding: 30px; text-align: center;\">\n      <h1 style=\"color: #ffffff; margin: 0; font-size: 24px; text-transform: uppercase; letter-spacing: 2px;\">Reporte de Resultados</h1>\n      <p style=\"color: rgba(255,255,255,0.8); margin: 5px 0 0 0;\">${nombreNegocio} | Periodo: ${periodoReporte}</p>\n    </div>\n\n    <div style=\"padding: 30px;\">\n      <table style=\"width: 100%; margin-bottom: 30px; border-collapse: collapse;\">\n        <tr>\n          <td style=\"width: 33.33%; text-align: center; padding: 10px;\">\n            <span style=\"display: block; font-size: 11px; color: #718096; text-transform: uppercase; margin-bottom: 5px;\">Ingresos</span>\n            <strong style=\"font-size: 18px; color: #2f855a;\">$${totalVentas.toLocaleString('es-AR', {minimumFractionDigits: 2})}</strong>\n          </td>\n          <td style=\"width: 33.33%; text-align: center; padding: 10px; border-left: 1px solid #edf2f7; border-right: 1px solid #edf2f7;\">\n            <span style=\"display: block; font-size: 11px; color: #718096; text-transform: uppercase; margin-bottom: 5px;\">Gastos</span>\n            <strong style=\"font-size: 18px; color: #c53030;\">$${totalGastos.toLocaleString('es-AR', {minimumFractionDigits: 2})}</strong>\n          </td>\n          <td style=\"width: 33.33%; text-align: center; padding: 10px;\">\n            <span style=\"display: block; font-size: 11px; color: #718096; text-transform: uppercase; margin-bottom: 5px;\">Balance</span>\n            <strong style=\"font-size: 18px; color: ${colorPrincipal};\">$${balanceNeto.toLocaleString('es-AR', {minimumFractionDigits: 2})}</strong>\n          </td>\n        </tr>\n      </table>\n\n      <h3 style=\"color: #2d3748; border-bottom: 2px solid #edf2f7; padding-bottom: 10px; margin-bottom: 15px; font-size: 16px;\">Detalle de Movimientos</h3>\n      <table style=\"width: 100%; border-collapse: collapse;\">\n        <thead>\n          <tr style=\"background-color: #f8fafc;\">\n            <th style=\"padding: 12px; text-align: left; font-size: 11px; color: #718096; text-transform: uppercase;\">Fecha</th>\n            <th style=\"padding: 12px; text-align: left; font-size: 11px; color: #718096; text-transform: uppercase;\">Concepto</th>\n            <th style=\"padding: 12px; text-align: right; font-size: 11px; color: #718096; text-transform: uppercase;\">Monto</th>\n          </tr>\n        </thead>\n        <tbody>\n          ${filasTabla}\n        </tbody>\n        <tfoot>\n          <tr style=\"background-color: #f8fafc; font-weight: bold;\">\n            <td colspan=\"2\" style=\"padding: 12px; border-top: 2px solid #edf2f7; color: #2d3748; font-size: 14px;\">RESULTADO TOTAL FINAL</td>\n            <td style=\"padding: 12px; border-top: 2px solid #edf2f7; text-align: right; color: ${colorPrincipal}; font-size: 18px;\">$${balanceNeto.toLocaleString('es-AR', {minimumFractionDigits: 2})}</td>\n          </tr>\n        </tfoot>\n      </table>\n\n      ${mensajeConsultor}\n\n      <div style=\"margin-top: 40px; padding-top: 20px; border-top: 1px solid #edf2f7; color: #4a5568;\">\n        <p style=\"margin: 0; font-size: 14px; font-weight: bold;\">Arnaldo Ayala</p>\n        <p style=\"margin: 2px 0; font-size: 13px; color: #718096;\">Estratega en IA y Marketing</p>\n        <p style=\"margin: 10px 0 0 0; font-size: 12px; color: #3182ce;\">\n          📞 WhatsApp Soporte: <a href=\"https://wa.me/543765384843\" style=\"color: #3182ce; text-decoration: none;\">3765384843</a>\n        </p>\n      </div>\n    </div>\n\n    <div style=\"background-color: #f8fafc; padding: 20px; text-align: center; border-top: 1px solid #edf2f7;\">\n      <p style=\"margin: 0; font-size: 11px; color: #a0aec0;\">Reporte generado automáticamente por la Agencia Arnaldo Ayala.</p>\n    </div>\n  </div>\n</div>\n`;\n\n// 7. Retorno\nreturn {\n  json: {\n    asunto: `📊 Reporte ${periodoReporte} - ${nombreNegocio}`,\n    destinatario: emailFinal,\n    resumen_ventas: totalVentas,\n    resumen_gastos: totalGastos,\n    balance: balanceNeto,\n    html_email: htmlReporte\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3872,
        144
      ],
      "id": "d96d4fec-6c40-432a-94be-1cab1c8a29b8",
      "name": "Preparar Reporte"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "comercios",
        "filters": {
          "conditions": [
            {
              "keyName": "slug",
              "keyValue": "={{ $json.query.id_comerciante }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        720,
        2176
      ],
      "id": "b562be39-b9da-4089-8a36-8bbd239af506",
      "name": "Obtener Comerciante1",
      "credentials": {
        "supabaseApi": {
          "id": "VE7fLcHe01BYK4SQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "path": "historial",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "23d72c01-c330-498d-a8a5-ed78a22c8839",
      "name": "GET Historial",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        512,
        2176
      ],
      "webhookId": "historial-transacciones"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pczrezpmdugdsjrxspjh.supabase.co/rest/v1/rpc/obtener_historial_transacciones",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NzAzNjg5NCwiZXhwIjoyMDgyNjEyODk0fQ.DoRhW9e10ACffio4erVzDwy1Uxa47VxUNXffLVdC49k"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NzAzNjg5NCwiZXhwIjoyMDgyNjEyODk0fQ.DoRhW9e10ACffio4erVzDwy1Uxa47VxUNXffLVdC49k"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_comercio_id\": \"{{ $('Webhook2').item.json.body.id_comerciante }}\",\n  \"p_fecha_desde\": \"{{ $('Preparar Fechas').item.json.rango_inicio }}\",\n  \"p_fecha_hasta\": \"{{ $('Preparar Fechas').item.json.rango_fin }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3664,
        144
      ],
      "id": "a48735bc-cd73-4bb2-bb51-e3d9f2595efe",
      "name": "Obtener Reporte"
    }
  ],
  "connections": {
    "Webhook - GET Comerciante": {
      "main": [
        [
          {
            "node": "Leer Comerciante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Respuesta": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Comerciante": {
      "main": [
        [
          {
            "node": "Formatear Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Guardar Transaccion": {
      "main": [
        [
          {
            "node": "Buscar comerciante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Datos": {
      "main": [
        [
          {
            "node": "Guardar en Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar comerciante": {
      "main": [
        [
          {
            "node": "Preparar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar en Supabase": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Respuesta Editar": {
      "main": [
        [
          {
            "node": "Responder Editar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Respuesta Eliminar": {
      "main": [
        [
          {
            "node": "Responder Eliminar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Responder Historial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Actualizar": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Eliminar": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Formatear Respuesta Editar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Formatear Respuesta Eliminar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Registro": {
      "main": [
        [
          {
            "node": "Obtener Todos los Comercios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Todos los Comercios": {
      "main": [
        [
          {
            "node": "Generar Slug y URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Slug y URL": {
      "main": [
        [
          {
            "node": "Guardar en Supabase3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Email Bienvenida": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar en Supabase3": {
      "main": [
        [
          {
            "node": "Enviar Email Bienvenida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger - 7 AM1": {
      "main": [
        [
          {
            "node": "Obtener Comercios Activos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Comercios1": {
      "main": [
        [],
        [
          {
            "node": "Wait 5 s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Email1": {
      "main": [
        [
          {
            "node": "Loop Back1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Back1": {
      "main": [
        [
          {
            "node": "Loop Comercios1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Comercios Activos": {
      "main": [
        [
          {
            "node": "Loop Comercios1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5 s": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Enviar Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Inventario": {
      "main": [
        [
          {
            "node": "Validar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Datos": {
      "main": [
        [
          {
            "node": "Buscar Comercio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Comercio": {
      "main": [
        [
          {
            "node": "Preparar Inserción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Inserción": {
      "main": [
        [
          {
            "node": "Guardar Producto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Producto": {
      "main": [
        [
          {
            "node": "Responder Éxito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Buscar Comercio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Comercio1": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Formatear Respuesta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Respuesta1": {
      "main": [
        [
          {
            "node": "Responder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Buscar Comerciante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Comerciante": {
      "main": [
        [
          {
            "node": "Verificar PIN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar PIN": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Guardar Transaccion1": {
      "main": [
        [
          {
            "node": "Buscar comerciante1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Datos1": {
      "main": [
        [
          {
            "node": "Guardar en Supabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar comerciante1": {
      "main": [
        [
          {
            "node": "Preparar Datos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar en Supabase2": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Actualizar Inventario": {
      "main": [
        [
          {
            "node": "Preparar Datos Inventario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Datos Inventario": {
      "main": [
        [
          {
            "node": "HTTP Request Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Supabase": {
      "main": [
        [
          {
            "node": "Formatear Respuesta2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Respuesta2": {
      "main": [
        [
          {
            "node": "Responder2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Respuesta Eliminar Inventario1": {
      "main": [
        [
          {
            "node": "Responder Eliminar Inventario1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Eliminar Inventario1": {
      "main": [
        [
          {
            "node": "Extract ID JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Delete Inventario1": {
      "main": [
        [
          {
            "node": "Formatear Respuesta Eliminar Inventario1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract ID JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request Delete Inventario1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Preparar Fechas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Comerciante": {
      "main": [
        [
          {
            "node": "Obtener Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Reporte": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Fechas": {
      "main": [
        [
          {
            "node": "Obtener Comerciante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Reporte": {
      "main": [
        [
          {
            "node": "Enviar Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Comerciante1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Historial": {
      "main": [
        [
          {
            "node": "Obtener Comerciante1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Reporte": {
      "main": [
        [
          {
            "node": "Preparar Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "OTaNh8sYwCG7cI8uiAKQR",
    "timezone": "America/Argentina/Buenos_Aires"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "77c47e0f-3c75-4095-a1e5-7edfe0e57e02",
  "activeVersionId": "77c47e0f-3c75-4095-a1e5-7edfe0e57e02",
  "triggerCount": 14,
  "shared": [
    {
      "updatedAt": "2026-01-15T13:53:29.270Z",
      "createdAt": "2026-01-15T13:53:29.270Z",
      "role": "workflow:owner",
      "workflowId": "_DGhEcFyFUEWpZHnU6tYe",
      "projectId": "EftYNIwW5VkchSsx"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-17T01:17:43.000Z",
    "createdAt": "2026-01-17T01:17:37.884Z",
    "versionId": "77c47e0f-3c75-4095-a1e5-7edfe0e57e02",
    "workflowId": "_DGhEcFyFUEWpZHnU6tYe",
    "nodes": [
      {
        "parameters": {
          "content": "GUARDAR TRANSACCION - DE LA APP A SUPABASE",
          "height": 272,
          "width": 1568,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          208,
          832
        ],
        "id": "e155e888-2c9e-49b0-8191-475b1e156f0d",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "path": "comerciante",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "b7e8c324-b173-458a-b0a4-b35e01c75237",
        "name": "Webhook - GET Comerciante",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          384,
          624
        ],
        "webhookId": "obtener-comerciante-supabase"
      },
      {
        "parameters": {
          "jsCode": "// Obtener el comercio del nodo Supabase\nconst data = $input.first().json;\n\n// Si Supabase devuelve array, tomar el primer elemento\nconst comercio = Array.isArray(data) ? data[0] : data;\n\n// Verificar si existe el comercio\nif (!comercio || !comercio.slug) {\n  return [{\n    json: {\n      error: true,\n      message: 'Comerciante no encontrado'\n    }\n  }];\n}\n\n// Formatear respuesta para la app\nreturn [{\n  json: {\n    id: comercio.slug,\n    nombre: comercio.nombre_local,\n    email: comercio.email,\n    whatsapp: comercio.whatsapp || '',\n    tipo_negocio: comercio.tipo_negocio || '',\n    activo: comercio.activo,\n    url_app: comercio.url_app || ''\n  }\n}];"
        },
        "id": "28a2bf95-9118-48d8-a4df-e44f457ff586",
        "name": "Formatear Respuesta",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          832,
          624
        ],
        "notes": "Transforma los datos de Supabase al formato que espera la app"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify($json) }}",
          "options": {}
        },
        "id": "4fcec678-4cc6-47f3-a395-8164e55e1651",
        "name": "Respond to Webhook1",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1056,
          624
        ]
      },
      {
        "parameters": {
          "content": "OBTENER ID COMERCIANTE\n",
          "height": 272,
          "width": 1216
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          208,
          528
        ],
        "id": "47e90cbc-d5f2-4659-9326-93899fb4409e",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "operation": "get",
          "tableId": "comercios",
          "filters": {
            "conditions": [
              {
                "keyName": "slug",
                "keyValue": "={{ $json.query.id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          608,
          624
        ],
        "id": "6dc842ac-105b-44f5-99fb-409bb13f9a45",
        "name": "Leer Comerciante",
        "credentials": {
          "supabaseApi": {
            "id": "VE7fLcHe01BYK4SQ",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "pos-guardar-venta",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          352,
          896
        ],
        "id": "4c77afa0-3744-45c0-a8d3-24e82ead4963",
        "name": "Webhook Guardar Transaccion",
        "webhookId": "a20c8ec7-8506-4a53-af0b-5b9a4cbd1900"
      },
      {
        "parameters": {
          "jsCode": "const body = $('Webhook Guardar Transaccion').first().json.body;\nconst comercio = $input.first().json;\n\nif (!comercio || !comercio.id) {\n  throw new Error('Comerciante no encontrado');\n}\n\n// ✅ Calculamos el costo total sumando el costo de cada ítem enviado por la App\nconst items = body.items || [];\nconst costoTotal = items.reduce((sum, item) => sum + (parseFloat(item.costo) || 0), 0);\n\nconst transaccion = {\n  comercio_id: comercio.id,\n  tipo: body.tipo,\n  monto: parseFloat(body.monto),\n  costo_total: costoTotal, // ✅ NUEVO: Guardamos cuánto nos costó lo que vendimos\n  descripcion: body.descripcion || null,\n  productos: body.items || null, \n  fecha_hora: body.fecha_hora || new Date().toISOString(),\n  id_local: body.id_local\n};\n\n// Manejo de Ventas\nif (body.tipo === 'INGRESO') {\n  transaccion.metodo_pago = body.metodo || 'Efectivo';\n  transaccion.categoria_gasto = null;\n}\n\n// Manejo de Gastos\nif (body.tipo === 'GASTO') {\n  transaccion.categoria_gasto = body.categoria || 'Otros';\n  // En un gasto, el costo es el mismo monto\n  transaccion.costo_total = transaccion.monto; \n}\n\nreturn { json: transaccion };"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          800,
          896
        ],
        "id": "7a9f1acf-a471-4923-98de-63c4b5a88576",
        "name": "Preparar Datos"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "comercios",
          "limit": 1,
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "slug",
                "condition": "eq",
                "keyValue": "={{ $json.body.id_comerciante }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          576,
          896
        ],
        "id": "dbf224dc-5baf-4c38-a261-0a07922b636a",
        "name": "Buscar comerciante",
        "credentials": {
          "supabaseApi": {
            "id": "VE7fLcHe01BYK4SQ",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"success\": true,\n  \"message\": \"Transacción guardada\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          1248,
          896
        ],
        "id": "f250da21-13c0-4330-9e43-b9757bdd326e",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "tableId": "transacciones",
          "dataToSend": "autoMapInputData"
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1024,
          896
        ],
        "id": "28247a1e-2c5b-4a92-a6ca-bc4d06c7d3d7",
        "name": "Guardar en Supabase",
        "credentials": {
          "supabaseApi": {
            "id": "VE7fLcHe01BYK4SQ",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "content": "REGISTRO DE NUEVOS COMERCIANTES",
          "height": 400,
          "width": 2064,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          224,
          1568
        ],
        "id": "04cbb29d-5315-4be5-9207-c45bfc16272e",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {}
        },
        "id": "e9f0f150-e277-41bb-bb45-0b9f66ba685d",
        "name": "Responder Historial",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          1184,
          2176
        ]
      },
      {
        "parameters": {
          "jsCode": "return {\n  json: {\n    success: true,\n    message: 'Transacción actualizada correctamente'\n  }\n};"
        },
        "id": "d9a3b384-a694-4308-afab-e803e3062bc9",
        "name": "Formatear Respuesta Editar",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1392,
          2672
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {}
        },
        "id": "b3e345ed-46ae-4357-9d30-2b840549294e",
        "name": "Responder Editar",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          1744,
          2672
        ]
      },
      {
        "parameters": {
          "jsCode": "return {\n  json: {\n    id: $json.query.id\n  }\n};"
        },
        "id": "0dcb4049-4b78-41d1-9424-4b0358dbe54b",
        "name": "Formatear Respuesta Eliminar",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1456,
          3056
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {}
        },
        "id": "ac52b8a9-951a-4828-bee3-2c13d0d23fc9",
        "name": "Responder Eliminar",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          1824,
          3056
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://pczrezpmdugdsjrxspjh.supabase.co/rest/v1/rpc/obtener_historial_transacciones",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"p_comercio_id\": \"{{ $json.slug }}\",\n  \"p_fecha_desde\": \"{{ ($node[\"GET Historial\"].json.body.fecha_desde || $node[\"GET Historial\"].json.query.fecha_desde) }} 00:00:00\",\n  \"p_fecha_hasta\": \"{{ ($node[\"GET Historial\"].json.body.fecha_hasta || $node[\"GET Historial\"].json.query.fecha_hasta) }} 23:59:59\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          928,
          2176
        ],
        "id": "c2b0e19d-95b7-4100-bae5-be7b5ebb261f",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "httpMethod": "=PUT",
          "path": "transaccion-actualizar",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "3c86650c-f6d2-4006-8151-9d03c1855970",
        "name": "Webhook - Actualizar",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.1,
        "position": [
          368,
          2672
        ],
        "webhookId": "transaccion-ops"
      },
      {
        "parameters": {
          "httpMethod": "=DELETE",
          "path": "transaccion-eliminar",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "a3160463-d85b-441c-8e7b-b47a5fdf0f71",
        "name": "Webhook - Eliminar",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.1,
        "position": [
          384,
          3056
        ],
        "webhookId": "transaccion-ops"
      },
      {
        "parameters": {
          "content": "WORKFLOW-OBTENER HISTORIAL",
          "height": 304,
          "width": 2064,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          240,
          2080
        ],
        "id": "420a77ea-ba53-491d-b282-6c05881244c6",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "=https://pczrezpmdugdsjrxspjh.supabase.co/rest/v1/transacciones",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "id",
                "value": "=eq.{{ $json.id }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"monto\": {{ $json.monto }},\n  \"descripcion\": \"{{ $json.descripcion }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1024,
          2672
        ],
        "id": "8c505a0d-b35b-469f-a79f-9d383b239f67",
        "name": "HTTP Request1"
      },
      {
        "parameters": {
          "content": "EDITAR TRANSACCION HISTORIAL",
          "height": 352,
          "width": 1840,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          272,
          2544
        ],
        "id": "b9cc3a4b-9af7-4560-97ed-b5e529e4ad19",
        "name": "Sticky Note5"
      },
      {
        "parameters": {
          "content": "ELIMINAR TRANSACCION HISTORIAL",
          "height": 352,
          "width": 1840
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          288,
          2976
        ],
        "id": "936c44b9-177f-4be1-8fda-77549b715ab5",
        "name": "Sticky Note6"
      },
      {
        "parameters": {
          "method": "DELETE",
          "url": "https://pczrezpmdugdsjrxspjh.supabase.co/rest/v1/transacciones",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "id",
                "value": "=eq.{{ $json.id }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1040,
          3056
        ],
        "id": "a2dfb8e3-6d0c-4ab9-8f2e-65918b6c976a",
        "name": "HTTP Request2"
      },
      {
        "parameters": {
          "jsCode": "const body = $json.body;\n\nreturn {\n  json: {\n    id: body.id,\n    monto: parseFloat(body.monto),\n    descripcion: body.descripcion\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          672,
          2672
        ],
        "id": "dbef8315-8599-4c29-b7d1-5bf3ae8b2a47",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "jsCode": "const body = $json.body;\n\nreturn {\n  json: {\n    id: body.id\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          736,
          3056
        ],
        "id": "9dc8780d-1579-45b4-8d04-329f3f3f5002",
        "name": "Code in JavaScript1"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "registro-comerciante",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "6d0218ae-030d-4e37-bcf6-6c0db4a0a7e7",
        "name": "Webhook Registro",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          400,
          1712
        ],
        "webhookId": "registro-comerciante-v1"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "comercios",
          "returnAll": true
        },
        "id": "a435c608-65f2-419b-967f-9ff1faf83158",
        "name": "Obtener Todos los Comercios",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          608,
          1712
        ],
        "credentials": {
          "supabaseApi": {
            "id": "VE7fLcHe01BYK4SQ",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// 1. Capturamos los datos que vienen del formulario\nconst body = $('Webhook Registro').first().json.body;\n\n// 2. Traemos la lista de comercios actuales para saber cuál sigue\nconst comercios = $input.all();\n\n// 3. Función para calcular el siguiente ID (C001, C002...)\nfunction generarSiguienteSlug(comerciosExistentes) {\n  if (comerciosExistentes.length === 0) return 'C001';\n  \n  const numeros = comerciosExistentes\n    .map(c => c.json.slug)\n    .filter(slug => slug && slug.startsWith('C'))\n    .map(slug => parseInt(slug.substring(1)))\n    .filter(num => !isNaN(num));\n  \n  if (numeros.length === 0) return 'C001';\n  \n  const maxNumero = Math.max(...numeros);\n  return 'C' + (maxNumero + 1).toString().padStart(3, '0');\n}\n\n// 4. Generamos el nuevo ID y el PIN aleatorio\nconst nuevoSlug = generarSiguienteSlug(comercios);\nconst nuevoPin = Math.floor(1000 + Math.random() * 9000).toString();\n\n// 5. URL limpia para la App\nconst urlApp = `https://arnaldoayalaestratega.com/pos/`;\n\n// 6. Resultado final para Supabase y Email\nreturn {\n  json: {\n    slug: nuevoSlug,\n    pin: nuevoPin,\n    nombre_local: body.nombre_local,\n    email: body.email,\n    whatsapp: body.whatsapp,\n    tipo_negocio: body.tipo_negocio,\n    direccion: body.direccion,\n    ciudad: body.ciudad,\n    activo: true,\n    url_app: urlApp\n  }\n};"
        },
        "id": "55e24b65-54f2-4122-a05d-c141357ecae1",
        "name": "Generar Slug y URL",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          832,
          1712
        ]
      },
      {
        "parameters": {
          "sendTo": "={{ $json.email }}",
          "subject": "🎉 ¡Bienvenido/a al Sistema de Gestión de Transacciones!",
          "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <style>\n    body {\n      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n      line-height: 1.6;\n      color: #1a1a1a;\n      max-width: 600px;\n      margin: 0 auto;\n      padding: 20px;\n      background-color: #f0f2f5;\n    }\n    .container {\n      background-color: white;\n      border-radius: 15px;\n      padding: 30px;\n      box-shadow: 0 4px 20px rgba(0,0,0,0.08);\n    }\n    .header {\n      text-align: center;\n      border-bottom: 2px solid #00ff88;\n      padding-bottom: 20px;\n      margin-bottom: 25px;\n    }\n    h1 {\n      color: #008f4c;\n      font-size: 26px;\n      margin: 0;\n    }\n    .greeting {\n      font-size: 17px;\n      color: #444;\n      margin-bottom: 20px;\n    }\n    .button-container {\n      text-align: center;\n      margin: 35px 0;\n    }\n    .app-button {\n      display: inline-block;\n      padding: 20px 45px;\n      background: linear-gradient(135deg, #00ff88, #008f4c);\n      color: white !important;\n      text-decoration: none;\n      border-radius: 15px;\n      font-size: 1.3rem;\n      font-weight: 800;\n      box-shadow: 0 6px 20px rgba(0, 255, 136, 0.3);\n      transition: all 0.3s;\n    }\n    .feature-card {\n      background-color: #f8f9fa;\n      border-radius: 10px;\n      padding: 15px;\n      margin-bottom: 15px;\n      border-left: 5px solid #00d4ff;\n    }\n    .feature-title {\n      font-weight: bold;\n      color: #0056b3;\n      display: block;\n      margin-bottom: 5px;\n    }\n    .access-box {\n      background-color: #fff9c4;\n      padding: 20px;\n      border-radius: 10px;\n      margin: 25px 0;\n      border: 2px dashed #fbc02d;\n    }\n    .highlight-box {\n      background-color: #e3f2fd;\n      padding: 20px;\n      border-radius: 10px;\n      margin: 25px 0;\n      border: 1px dashed #00d4ff;\n    }\n    .footer {\n      text-align: center;\n      color: #888;\n      font-size: 12px;\n      margin-top: 35px;\n      border-top: 1px solid #eee;\n      padding-top: 20px;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n        <h1>¡Bienvenido/a {{ $json.nombre_local }}! 🚀</h1>\n    </div>\n    \n    <p class=\"greeting\">\n      Hola, soy <strong>Arnaldo Ayala</strong>. Hemos activado tu sistema profesional para que lleves el control total de tu negocio de forma automatizada.\n    </p>\n\n    <div class=\"access-box\">\n      <h3 style=\"margin-top: 0; color: #bc5100;\">🔑 Tus Datos de Acceso:</h3>\n      <p style=\"font-size: 18px; margin: 10px 0;\">\n        <strong>ID de Comercio:</strong> <span style=\"color: #008f4c; font-weight: bold;\">{{ $json.slug }}</span><br>\n        <strong>Tu PIN Secreto:</strong> <span style=\"color: #008f4c; font-weight: bold;\">{{ $json.pin }}</span>\n      </p>\n      <small>Utiliza estos datos para iniciar sesión en tu App.</small>\n    </div>\n\n    <div class=\"button-container\">\n      <a href=\"{{ $json.url_app }}\" class=\"app-button\">ENTRAR A MI SISTEMA</a>\n    </div>\n\n    <h2 style=\"color: #008f4c; font-size: 20px;\">🛡️ Tu Panel de Control 360°</h2>\n    \n    <div class=\"feature-card\">\n      <span class=\"feature-title\">📦 Gestión de Inventario Inteligente</span>\n      Podrás cargar tus productos con <strong>código, nombre y precio</strong>. Al momento de vender, ¡solo tendrás que seleccionarlos!\n    </div>\n\n    <div class=\"feature-card\">\n      <span class=\"feature-title\">📜 Historial con \"Superpoderes\"</span>\n      Consulta todas tus ventas y gastos. <strong>¿Te equivocaste en un registro?</strong> No te preocupes: puedes <strong>editar o eliminar</strong> cualquier movimiento en segundos.\n    </div>\n\n    <div class=\"feature-card\">\n      <span class=\"feature-title\">💡 Consejos Estratégicos</span>\n      Periódicamente recibirás en tu correo <strong>consejos útiles y estrategias de marketing</strong> para ayudarte a escalar tus ventas usando IA.\n    </div>\n\n    <div class=\"highlight-box\">\n      <strong>💡 Recomendación de Oro:</strong> Si estás en Pc arriba al lado del buscador tendras el boton para descargar la App, o presiona los \"tres puntitos\" de tu navegador móvil y selecciona <strong>\"Descargar Aplicacion\"</strong>. Así tendrás el Sistema en tu celular.\n    </div>\n\n    <h2 style=\"color: #008f4c; font-size: 18px;\">💬 Soporte Directo</h2>\n    <p style=\"font-size: 14px;\">\n      Si necesitas ayuda para cargar tu inventario o ajustar algún detalle:<br>\n      <strong>WhatsApp:</strong> <a href=\"https://wa.me/5493765384843\" style=\"color: #00d4ff; font-weight: bold;\">+54 9 3765 38-4843</a>\n    </p>\n\n    <p style=\"margin-top: 30px; font-weight: bold; color: #444;\">\n      ¡A darle con todo a esas ventas! 📈<br><br>\n      Arnaldo Ayala<br>\n      <span style=\"color: #008f4c; font-weight: normal;\">Estratega en IA y Marketing</span>\n    </p>\n\n    <div class=\"footer\">\n      <p>Agencia Arnaldo Ayala - Automatización para Comerciantes</p>\n    </div>\n  </div>\n</body>\n</html>",
          "options": {
            "appendAttribution": false
          }
        },
        "id": "beab279d-3566-43cf-94e0-7c40312c4974",
        "name": "Enviar Email Bienvenida",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          1280,
          1712
        ],
        "webhookId": "ba902d0d-f549-4d43-a6e0-055e7665a804",
        "credentials": {
          "gmailOAuth2": {
            "id": "hRodmfLyiI5TNo4a",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ {\n  \"success\": true, \n  \"message\": \"Comerciante registrado exitosamente\", \n  \"slug\": $('Generar Slug y URL').first().json.slug, \n  \"url_app\": $('Generar Slug y URL').first().json.url_app \n} }}",
          "options": {}
        },
        "id": "e1f33ddb-0ad6-4f44-b29e-9f79e5a47945",
        "name": "Responder",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1504,
          1712
        ]
      },
      {
        "parameters": {
          "tableId": "comercios",
          "dataToSend": "autoMapInputData"
        },
        "id": "e3646843-2fc4-4ca3-830a-33ab22e7b972",
        "name": "Guardar en Supabase3",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1056,
          1712
        ],
        "credentials": {
          "supabaseApi": {
            "id": "VE7fLcHe01BYK4SQ",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 7
              }
            ]
          }
        },
        "id": "9f702b01-341c-4735-9c5d-74da37d55c52",
        "name": "Schedule Trigger - 7 AM1",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          240,
          1264
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "44169ee8-313b-45d1-9d2b-16721b4b9f2b",
        "name": "Loop Comercios1",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          688,
          1264
        ],
        "notes": "Procesa cada comercio uno por uno"
      },
      {
        "parameters": {
          "sendTo": "={{ $('Wait 5 s').item.json.email }}",
          "subject": "=🚀 Consejo del Dia {{ $('Wait 5 s').item.json.nombre_local }}: Ideas para una Mejor Gestión",
          "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    .container { font-family: sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; border: 1px solid #eee; border-radius: 10px; }\n    .header { color: #008f4c; font-size: 24px; font-weight: bold; text-align: center; margin-bottom: 20px; }\n    .content { line-height: 1.6; color: #333; font-size: 16px; margin-bottom: 30px; }\n    .button-wrapper { text-align: center; margin-top: 20px; }\n    .btn { display: inline-block; padding: 12px 25px; margin: 10px; color: white !important; text-decoration: none; border-radius: 8px; font-weight: bold; }\n    .btn-ws { background-color: #25D366; }\n    .btn-web { background-color: #008f4c; }\n    /* Estilo para el nuevo botón */\n    .btn-ig { background-color: #E1306C; } \n    .footer { font-size: 12px; color: #888; text-align: center; margin-top: 30px; border-top: 1px solid #eee; padding-top: 10px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">¡Hola, {{ $('Wait 5 s').item.json.nombre_local }}! 💡</div>\n    \n    <div class=\"content\">\n      {{ $json.content.parts[0].text }}\n    </div>\n\n    <div class=\"button-wrapper\">\n      <a href=\"https://instagram.com/arnaldoestratega\" class=\"btn btn-ig\">Seguir en Instagram</a>\n      <a href=\"https://wa.me/543765384843\" class=\"btn btn-ws\">Escribirme al WhatsApp</a>\n      <a href=\"https://arnaldoayalaestratega.com\" class=\"btn btn-web\">Visitar mi Sitio Web</a>\n    </div>\n\n    <div class=\"footer\">\n      Agencia Arnaldo Ayala - Consultoría en IA y Marketing<br>\n      Este es un mensaje de mentoría diaria para tu negocio.\n    </div>\n  </div>\n</body>\n</html>",
          "options": {
            "appendAttribution": false
          }
        },
        "id": "0ff0062e-403d-48ae-88e5-8312e2a4567e",
        "name": "Enviar Email1",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          1664,
          1184
        ],
        "webhookId": "678fd532-6073-41a8-b72c-715820d3add0",
        "credentials": {
          "gmailOAuth2": {
            "id": "hRodmfLyiI5TNo4a",
            "name": "Gmail account"
          }
        },
        "notes": "Envía el reporte por email"
      },
      {
        "parameters": {},
        "id": "6cbc331f-9da3-431c-8753-f8a560bd943c",
        "name": "Loop Back1",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1920,
          1264
        ]
      },
      {
        "parameters": {
          "content": "REPORTE AUTOMATICO 7AM ",
          "height": 352,
          "width": 1904,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          208,
          1152
        ],
        "id": "ccf7a98b-3fd8-4634-acbe-2722168e2018",
        "name": "Sticky Note7"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "comercios",
          "returnAll": true,
          "filterType": "none"
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          448,
          1264
        ],
        "id": "aa79d382-e294-4b43-9c5e-dbb0431c27ff",
        "name": "Obtener Comercios Activos",
        "credentials": {
          "supabaseApi": {
            "id": "VE7fLcHe01BYK4SQ",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1024,
          1184
        ],
        "id": "802e8fd7-33b4-4e05-b413-537eb5581c1d",
        "name": "Wait 5 s",
        "webhookId": "70450871-98b4-4cb1-b6be-df5707fa63ce"
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "models/gemini-2.5-flash",
            "mode": "list",
            "cachedResultName": "models/gemini-2.5-flash"
          },
          "messages": {
            "values": [
              {
                "content": "Actúa como Arnaldo, Consultor Senior de Negocios y Experto en Automatización. Tu audiencia NO son principiantes; son comerciantes que facturan pero sufren desorden y falta de tiempo.\n\nTu objetivo: Romper una creencia limitante o entregar una táctica de negocio avanzada, pero explicada en lenguaje simple.\n\nINSTRUCCIONES ESTRICTAS:\n1. Elige UNO de estos 4 marcos mentales avanzados para el mensaje de hoy:\n   - La Ley de Pareto (80/20): (Ej: \"El 20% de tus productos te da el 80% de ganancia. ¿Sabes cuáles son o sigues reponiendo todo por igual?\").\n   - El Mito del Emprendedor: (Ej: \"Si tu negocio no funciona cuando no estás, no tienes un negocio, tienes un auto-empleo. Empieza a documentar procesos hoy\").\n   - Costo de Oportunidad: (Ej: \"Pasar 1 hora acomodando latas te cuesta dinero. Esa hora deberías usarla negociando proveedores o configurando tu IA\").\n   - Psicología de Precios: (Ej: \"No bajes precios por miedo. Sube el valor percibido. Un cliente que viene por precio, se va por precio\").\n\n2. ESTRUCTURA DEL MENSAJE (Sin saludos cursis):\n   - EL GOLPE DE REALIDAD: Una pregunta o afirmación directa que incomode constructivamente. (Ej: \"¿Tu negocio te posee a ti o tú posees a tu negocio?\").\n   - LA TÁCTICA: Explica el concepto brevemente y cómo aplicarlo YA MISMO. Nada de teoría abstracta.\n   - EL PUENTE TECNOLÓGICO: Conecta ese problema con la solución: Sistematizar.\n   - CTA: \"No te conformes con sobrevivir. Profesionalízate con n8n y Estrategia. Sígueme en instagram.com/arnaldoestratega o escríbeme abajo para escalar.\"\n\nRESTRICCIONES NEGATIVAS (Lo que NO debes hacer):\n- NO uses frases motivacionales vacías como \"Tú puedes\", \"Sigue adelante\", \"Sonríe\".\n- NO uses signos de exclamación excesivos (!!). Mantén un tono serio, sobrio y de autoridad experta.\n- NO superes los 600 caracteres.\n\nFormato: Texto plano, directo al grano."
              }
            ]
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1.1,
        "position": [
          1280,
          1184
        ],
        "id": "0f0aa77c-153a-4498-a6ee-48ce8b38ed4d",
        "name": "Message a model",
        "credentials": {
          "googlePalmApi": {
            "id": "u86n2rwNcUBwKUCi",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "inventario",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "9aa98cb2-870b-4f17-858f-624ff61c933d",
        "name": "Webhook Inventario",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          2976,
          624
        ],
        "webhookId": "inventario-v1"
      },
      {
        "parameters": {
          "jsCode": "const body = $input.first().json.body;\n\nreturn [{\n  json: {\n    comercio_id: body.id_comerciante, // Unificamos a comercio_id\n    nombre: body.nombre ? body.nombre.trim() : \"Sin Nombre\",\n    precio_final: parseFloat(body.precio_final) || 0,\n    precio_costo: parseFloat(body.precio_costo) || 0,\n    ganancia_porcentaje: parseFloat(body.ganancia_porcentaje) || 0,\n    categoria: body.categoria || 'Sin Categoría',\n    stock: parseInt(body.stock) || 0,\n    codigo_barra: body.codigo_barra ? body.codigo_barra.trim() : null,\n    codigo: body.codigo || null \n  }\n}];"
        },
        "id": "a1fab2e8-045c-45e5-aa2a-ae700f23249c",
        "name": "Validar Datos",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3200,
          624
        ]
      },
      {
        "parameters": {
          "operation": "get",
          "tableId": "comercios",
          "filters": {
            "conditions": [
              {
                "keyName": "slug",
                "keyValue": "={{ $json.comercio_id }}"
              }
            ]
          }
        },
        "id": "cdc7738e-a81f-42e8-9c43-2d2806a6a6ff",
        "name": "Buscar Comercio",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          3424,
          624
        ],
        "credentials": {
          "supabaseApi": {
            "id": "VE7fLcHe01BYK4SQ",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const comercio = $input.first().json;\nconst producto = $('Validar Datos').first().json;\n\nif (!comercio || !comercio.id) {\n  throw new Error('Comercio no encontrado');\n}\n\nreturn [{\n  json: {\n    comercio_id: comercio.id, // Unificamos a comercio_id\n    nombre: producto.nombre,\n    precio_final: producto.precio_final,\n    precio_costo: producto.precio_costo,\n    ganancia_porcentaje: producto.ganancia_porcentaje,\n    categoria: producto.categoria,\n    stock: producto.stock,\n    codigo_barra: producto.codigo_barra,\n    activo: true\n  }\n}];"
        },
        "id": "11d56e43-d13b-4d6f-b076-9fb4c9ac1f7c",
        "name": "Preparar Inserción",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3648,
          624
        ]
      },
      {
        "parameters": {
          "tableId": "inventario",
          "dataToSend": "autoMapInputData"
        },
        "id": "873a97e5-b0a6-41e9-a8b0-a311d7b4cdc2",
        "name": "Guardar Producto",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          3856,
          624
        ],
        "credentials": {
          "supabaseApi": {
            "id": "VE7fLcHe01BYK4SQ",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ { \"success\": true, \"message\": \"Producto guardado exitosamente\", \"producto\": { \"id\": $json.id, \"codigo\": $json.codigo, \"nombre\": $json.nombre, \"precio\": $json.precio } } }}",
          "options": {}
        },
        "id": "b604bf05-49c5-48ce-879a-f1c35f849fc1",
        "name": "Responder Éxito",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          4080,
          624
        ]
      },
      {
        "parameters": {
          "content": "CARGAR-INVENTARIO",
          "height": 416,
          "width": 1728
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          2816,
          512
        ],
        "id": "98d172a1-9374-45ac-87c1-6e0c6b52bb6d",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "CONSULTAR-INVENTARIO",
          "height": 352,
          "width": 1744,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          2800,
          1024
        ],
        "id": "5d886a59-74a4-41b6-bb62-9c0459a5a1a0",
        "name": "Sticky Note8"
      },
      {
        "parameters": {
          "path": "consulta-inventario",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "efc3c17f-719d-4a6b-9d52-a93d0d99ed44",
        "name": "Webhook1",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          2928,
          1136
        ],
        "webhookId": "consulta-inventario-simple"
      },
      {
        "parameters": {
          "operation": "get",
          "tableId": "comercios",
          "filters": {
            "conditions": [
              {
                "keyName": "slug",
                "keyValue": "={{ $json.query.id_comerciante }}"
              }
            ]
          }
        },
        "id": "346dd0fb-4c78-4be3-a582-a2e178c12862",
        "name": "Buscar Comercio1",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          3184,
          1136
        ],
        "credentials": {
          "supabaseApi": {
            "id": "VE7fLcHe01BYK4SQ",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://pczrezpmdugdsjrxspjh.supabase.co/rest/v1/inventario?comercio_id=eq.{{ $('Buscar Comercio1').item.json.id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          3440,
          1136
        ],
        "id": "be5a32af-35ab-4c59-bff3-37f19d66c46b",
        "name": "HTTP Request4"
      },
      {
        "parameters": {
          "jsCode": "// Obtenemos los productos que vinieron de la base de datos\nconst items = $input.all();\n\n// Los transformamos incluyendo TODOS los campos necesarios para la App\nreturn items.map(item => {\n  return {\n    json: {\n      id: item.json.id,\n      codigo: item.json.codigo,\n      nombre: item.json.nombre,\n      // Mapeamos 'precio_final' pero también enviamos 'precio' como respaldo\n      precio_final: item.json.precio_final, \n      precio: item.json.precio_final, // Para compatibilidad\n      precio_costo: item.json.precio_costo || 0, // ✅ Nuevo\n      ganancia_porcentaje: item.json.ganancia_porcentaje || 0, // ✅ Nuevo\n      categoria: item.json.categoria || 'Sin Categoría',\n      stock: item.json.stock || 0,\n      codigo_barra: item.json.codigo_barra || null // ✅ Muy importante para el escáner\n    }\n  };\n});"
        },
        "id": "938de03a-638b-4785-b35e-750af43ce87f",
        "name": "Formatear Respuesta1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3696,
          1136
        ]
      },
      {
        "parameters": {
          "respondWith": "allIncomingItems",
          "options": {
            "responseCode": 200
          }
        },
        "id": "dde0dd89-b199-4cea-9ea2-0a25517e22ce",
        "name": "Responder1",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          3952,
          1136
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "login",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          320,
          240
        ],
        "id": "64574323-db3a-4757-90d0-7c59b47d24b7",
        "name": "Webhook",
        "webhookId": "b5f9cebe-1f41-4b7c-8eef-b9d3c7927280"
      },
      {
        "parameters": {
          "operation": "get",
          "tableId": "comercios",
          "filters": {
            "conditions": [
              {
                "keyName": "slug",
                "keyValue": "={{ $json.body.cliente_id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          528,
          240
        ],
        "id": "1fa8d479-8e07-43df-b6ec-29255d9996c9",
        "name": "Buscar Comerciante",
        "credentials": {
          "supabaseApi": {
            "id": "VE7fLcHe01BYK4SQ",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Obtener datos del webhook y de Supabase\nconst inputData = $input.first().json;\nconst pinIngresado = $('Webhook').item.json.body.pin;\n\n// Verificar si se encontró el comerciante\nif (!inputData || !inputData.id) {\n  return {\n    json: {\n      success: false,\n      message: \"ID de comerciante no encontrado\"\n    }\n  };\n}\n\n// Verificar si el comerciante tiene PIN configurado\n// CAMBIO: Buscar \"pin\" en lugar de \"pin_acceso\"\nif (!inputData.pin) {\n  return {\n    json: {\n      success: false,\n      message: \"Este comerciante no tiene PIN configurado\"\n    }\n  };\n}\n\n// Comparar PINs\nconst pinCorrecto = inputData.pin.toString();\nconst pinIntentado = pinIngresado.toString();\n\nif (pinCorrecto === pinIntentado) {\n  return {\n    json: {\n      success: true,\n      message: \"Login exitoso\",\n      comerciante: {\n        id: inputData.slug,\n        nombre: inputData.nombre_local\n      }\n    }\n  };\n} else {\n  return {\n    json: {\n      success: false,\n      message: \"PIN incorrecto\"\n    }\n  };\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          736,
          240
        ],
        "id": "93c71e2e-3a43-45e3-893c-07bbde01347e",
        "name": "Verificar PIN"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          944,
          240
        ],
        "id": "59880f6b-ef37-4322-a7b9-ace4ae47905c",
        "name": "Respond to Webhook2"
      },
      {
        "parameters": {
          "content": "FLUJO DE LOGIN",
          "height": 384,
          "width": 1728
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          224,
          48
        ],
        "id": "7ec1d669-dcb0-4e9c-a16c-aa7d64a60fd8",
        "name": "Sticky Note9"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "guardar-local",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          400,
          3552
        ],
        "id": "d538ca41-8df5-4ae9-a2d3-7fe10058f644",
        "name": "Webhook Guardar Transaccion1",
        "webhookId": "a20c8ec7-8506-4a53-af0b-5b9a4cbd1900"
      },
      {
        "parameters": {
          "jsCode": "// 1. Obtenemos el cuerpo del webhook\nconst body = $('Webhook Guardar Transaccion1').first().json.body;\nconst transacciones = body.transacciones;\n\n// 2. Datos del comerciante\nconst comerciante = $input.first().json;\n\nif (!comerciante || !comerciante.id) {\n  throw new Error('Comerciante no encontrado en la base de datos');\n}\n\n// 3. Validar si es una lista o una sola\nconst listaAProcesar = Array.isArray(transacciones) ? transacciones : [body];\n\n// 4. Procesar cada una\nreturn listaAProcesar.map(t => {\n  const registro = {\n    comercio_id: comerciante.id,\n    tipo: t.tipo, \n    monto: parseFloat(t.monto) || 0,\n    descripcion: t.descripcion || null,\n    fecha_hora: t.fecha_hora || new Date().toISOString(),\n    metodo_pago: t.metodo_pago || t.metodo || null,  // ✅ Acepta ambos\n    categoria_gasto: t.categoria_gasto || t.categoria || null,  // ✅ Acepta ambos\n    id_local: t.id || t.id_local || null\n  };\n\n  return { json: registro };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          848,
          3552
        ],
        "id": "bb2f5c3a-9f0f-4ac4-ad5f-5d0762332616",
        "name": "Preparar Datos1"
      },
      {
        "parameters": {
          "operation": "get",
          "tableId": "comercios",
          "filters": {
            "conditions": [
              {
                "keyName": "slug",
                "keyValue": "={{ $json.body.id_comerciante }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          624,
          3552
        ],
        "id": "e2b77fb7-e57f-4477-a58a-0efc4c071687",
        "name": "Buscar comerciante1",
        "credentials": {
          "supabaseApi": {
            "id": "VE7fLcHe01BYK4SQ",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"success\": true,\n  \"message\": \"Transacción guardada\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          1296,
          3552
        ],
        "id": "e1b7546e-8862-4f41-9121-044a6ef23d5b",
        "name": "Respond to Webhook3"
      },
      {
        "parameters": {
          "content": "GUARDAR TRANSACCION LOCAL STORAGE",
          "height": 352,
          "width": 1616
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          320,
          3456
        ],
        "id": "0265c84d-096a-42cd-874b-bec8cd52a216",
        "name": "Sticky Note10"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://pczrezpmdugdsjrxspjh.supabase.co/rest/v1/transacciones?on_conflict=id_local",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "resolution=merge-duplicates"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1072,
          3552
        ],
        "id": "8205ba08-ccbb-4ba1-a737-9d977b721984",
        "name": "Guardar en Supabase2"
      },
      {
        "parameters": {
          "content": "EDITAR INVENTARIO",
          "height": 352,
          "width": 1792
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          2848,
          1504
        ],
        "id": "f9575765-c781-45c8-a8f6-df7be15748dd",
        "name": "Sticky Note11"
      },
      {
        "parameters": {
          "content": "ELIMINAR INVENTARIO",
          "height": 368,
          "width": 1936
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          2800,
          1952
        ],
        "id": "4f04c99e-ffcd-4a4c-9c72-f394aeb8289d",
        "name": "Sticky Note12"
      },
      {
        "parameters": {
          "httpMethod": "PUT",
          "path": "inventario-actualizar",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "b3a6f2fc-f53b-4cf0-99d3-c57aaf6acdfe",
        "name": "Webhook - Actualizar Inventario",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.1,
        "position": [
          2976,
          1600
        ],
        "webhookId": "inv-update-ops"
      },
      {
        "parameters": {
          "jsCode": "const body = $json.body;\n\nreturn {\n  json: {\n    codigo: body.id, // ID original para filtrar\n    nombre: body.nombre,\n    categoria: body.categoria,\n    precio_final: parseFloat(body.precio_final),\n    precio_costo: parseFloat(body.precio_costo) || 0,\n    stock: parseInt(body.stock) || 0,\n    codigo_nuevo: body.codigo_nuevo // Por si el comerciante cambió el código/EAN\n  }\n};"
        },
        "id": "4a80bde4-200c-4f8d-a163-11210b63f8d6",
        "name": "Preparar Datos Inventario",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3280,
          1600
        ]
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "=https://pczrezpmdugdsjrxspjh.supabase.co/rest/v1/inventario?codigo=eq.{{ $json.codigo }}",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "codigo",
                "value": "=eq.{{ $json.codigo }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"nombre\": \"{{ $json.nombre }}\",\n  \"categoria\": \"{{ $json.categoria }}\",\n  \"precio_final\": {{ $json.precio_final }},\n  \"precio_costo\": {{ $json.precio_costo }},\n  \"stock\": {{ $json.stock }}\n}",
          "options": {}
        },
        "id": "d17a9804-95a0-4c26-8cd7-bfb8f0171092",
        "name": "HTTP Request Supabase",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          3632,
          1600
        ]
      },
      {
        "parameters": {
          "jsCode": "return {\n  json: {\n    success: true,\n    message: 'Producto actualizado correctamente'\n  }\n};"
        },
        "id": "624da195-def5-4727-b049-f5cfb08d78a4",
        "name": "Formatear Respuesta2",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4000,
          1600
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {}
        },
        "id": "2d4c54b2-8dc4-43ab-9ee0-e704c85bd4d0",
        "name": "Responder2",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          4352,
          1600
        ]
      },
      {
        "parameters": {
          "jsCode": "return {\n  json: {\n    id: $input.first().json.id\n  }\n};"
        },
        "id": "6340eb37-73f6-4055-9119-6540b7100930",
        "name": "Formatear Respuesta Eliminar Inventario1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4016,
          2096
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {}
        },
        "id": "b9bd1a6b-ceb9-41df-b6a8-8c1b2c0a1fa9",
        "name": "Responder Eliminar Inventario1",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          4384,
          2096
        ]
      },
      {
        "parameters": {
          "httpMethod": "DELETE",
          "path": "inventario-eliminar",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "e9ff5d16-17d0-4b0e-9e28-7e15ef10ea2c",
        "name": "Webhook - Eliminar Inventario1",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.1,
        "position": [
          2944,
          2096
        ],
        "webhookId": "inv-delete-ops"
      },
      {
        "parameters": {
          "method": "DELETE",
          "url": "https://pczrezpmdugdsjrxspjh.supabase.co/rest/v1/inventario",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "codigo",
                "value": "=eq.{{ $json.codigo }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwMzY4OTQsImV4cCI6MjA4MjYxMjg5NH0.mBuOcarBuFDs5lkR6y4733UfvLV9jiQWQNDJh0c5KlE"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          3600,
          2096
        ],
        "id": "0d3ab6e2-7770-4ba7-8c19-c1dabf757c49",
        "name": "HTTP Request Delete Inventario1"
      },
      {
        "parameters": {
          "jsCode": "const body = $json.body;\n\nreturn {\n  json: {\n    codigo: body.id\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3296,
          2096
        ],
        "id": "8f28cdcc-803c-4a7a-a899-46dcd66c1c3c",
        "name": "Extract ID JavaScript1"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "generar-reporte",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          3024,
          144
        ],
        "id": "b85c3157-8fbd-44ac-af87-15a599b82f26",
        "name": "Webhook2",
        "webhookId": "ebff26f8-e0d9-42b1-a51d-3b2f72b8d885"
      },
      {
        "parameters": {
          "operation": "get",
          "tableId": "comercios",
          "filters": {
            "conditions": [
              {
                "keyName": "slug",
                "keyValue": "={{ $('Webhook2').item.json.body.id_comerciante }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          3456,
          144
        ],
        "id": "371ec134-fdda-4cfe-8be7-0913b04c3a8f",
        "name": "Obtener Comerciante",
        "credentials": {
          "supabaseApi": {
            "id": "VE7fLcHe01BYK4SQ",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "={{ $json.destinatario }}",
          "subject": "Aquí Tu Reporte ",
          "message": "={{ $json.html_email }}",
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          4064,
          144
        ],
        "id": "f1871c76-aab9-4c70-9733-f2fe687c62a6",
        "name": "Enviar Reporte",
        "webhookId": "7ba3c000-aecf-4f76-8e6c-e9b8b36cf2c7",
        "credentials": {
          "gmailOAuth2": {
            "id": "hRodmfLyiI5TNo4a",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          4240,
          144
        ],
        "id": "941807b9-703c-4c21-8156-a2fedd16e753",
        "name": "Respond to Webhook4"
      },
      {
        "parameters": {
          "content": "GENERAR REPORTE ",
          "height": 336,
          "width": 1648
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          2864,
          48
        ],
        "id": "0e389d03-1a9c-49da-a45f-c8e88fe34ea1",
        "name": "Sticky Note13"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a3ebfb04-8d05-4acf-ba2f-ee50e426f3a9",
                "name": "rango_inicio",
                "value": "={{ $json.body.periodo == 'anio' ? $today.format('yyyy') + '-01-01 00:00:00' : $json.body.fecha_desde + ' 00:00:00' }}",
                "type": "string"
              },
              {
                "id": "367b9152-0ef8-4945-955e-728b4b14c930",
                "name": "rango_fin",
                "value": "={{ $json.body.fecha_hasta }} 23:59:59",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          3232,
          144
        ],
        "id": "d5fbe675-6d6e-4329-b35c-47c3327935e9",
        "name": "Preparar Fechas"
      },
      {
        "parameters": {
          "jsCode": "// ✅ CÓDIGO ACTUALIZADO PARA \"Preparar Reporte\"\n\n// 1. Capturar datos de la función RPC\nconst respuestaRPC = $input.first().json;\n\n// Verificar si la RPC respondió correctamente\nif (!respuestaRPC.success) {\n  throw new Error(respuestaRPC.error || 'Error obteniendo transacciones');\n}\n\n// Extraer array de transacciones\nconst transaccionesArray = respuestaRPC.transacciones || [];\n\n// 2. Datos del comerciante y webhook\nconst comerciante = $('Obtener Comerciante').first()?.json || {};\nconst webhookData = $('Webhook2').first()?.json?.body || {};\n\nconst emailFinal = webhookData.email_destinacion || comerciante.email || \"soporte@arnaldoayala.com\";\nconst nombreNegocio = comerciante.nombre_local || \"tu negocio\";\nconst periodoReporte = (webhookData.periodo || \"periodo solicitado\").toUpperCase();\n\n// 3. Variables para cálculos\nlet totalVentas = 0;\nlet totalGastos = 0;\nlet filasTabla = \"\";\n\n// 4. Procesar cada transacción\nfor (const tx of transaccionesArray) {\n  const monto = parseFloat(tx.monto || 0);\n  \n  const fechaRaw = tx.fecha_hora;\n  const fecha = fechaRaw ? new Date(fechaRaw).toLocaleDateString('es-AR', {\n    day: '2-digit',\n    month: '2-digit',\n    year: 'numeric'\n  }) : \"S/F\";\n\n  const concepto = tx.descripcion || (tx.tipo === 'INGRESO' ? 'Venta de productos' : 'Gasto general');\n\n  if (tx.tipo === 'INGRESO') {\n    totalVentas += monto;\n    filasTabla += `\n      <tr>\n        <td style=\"padding: 12px; border-bottom: 1px solid #edf2f7; color: #4a5568;\">${fecha}</td>\n        <td style=\"padding: 12px; border-bottom: 1px solid #edf2f7; color: #4a5568;\">${concepto}</td>\n        <td style=\"padding: 12px; border-bottom: 1px solid #edf2f7; color: #2f855a; font-weight: bold; text-align: right;\">+$${monto.toLocaleString('es-AR', {minimumFractionDigits: 2})}</td>\n      </tr>`;\n  } else {\n    totalGastos += monto;\n    filasTabla += `\n      <tr>\n        <td style=\"padding: 12px; border-bottom: 1px solid #edf2f7; color: #4a5568;\">${fecha}</td>\n        <td style=\"padding: 12px; border-bottom: 1px solid #edf2f7; color: #4a5568;\">${concepto}</td>\n        <td style=\"padding: 12px; border-bottom: 1px solid #edf2f7; color: #c53030; font-weight: bold; text-align: right;\">-$${monto.toLocaleString('es-AR', {minimumFractionDigits: 2})}</td>\n      </tr>`;\n  }\n}\n\n// 5. Análisis de Consultoría\nconst balanceNeto = totalVentas - totalGastos;\nlet mensajeConsultor = \"\";\nlet colorPrincipal = \"#3182ce\"; \n\nif (balanceNeto > 0) {\n  colorPrincipal = \"#2f855a\"; \n  mensajeConsultor = `\n    <div style=\"background-color: #f0fff4; border-left: 4px solid #38a169; padding: 15px; margin-top: 20px;\">\n      <h4 style=\"margin: 0; color: #276749;\">¡Excelente trabajo! 👏</h4>\n      <p style=\"margin: 5px 0 0 0; color: #2f855a; font-size: 14px;\">\n        Tu negocio está dando frutos. Estas ganancias son el resultado de tu esfuerzo y buena gestión. \n        ¡A seguir por este camino para escalar al siguiente nivel!\n      </p>\n    </div>`;\n} else if (balanceNeto < 0) {\n  colorPrincipal = \"#c53030\"; \n  mensajeConsultor = `\n    <div style=\"background-color: #fff5f5; border-left: 4px solid #e53e3e; padding: 15px; margin-top: 20px;\">\n      <h4 style=\"margin: 0; color: #9b2c2c;\">¡A no bajar los brazos! 💪</h4>\n      <p style=\"margin: 5px 0 0 0; color: #c53030; font-size: 14px;\">\n        Este periodo cerró en negativo, pero cada número es una lección. Revisa los gastos y \n        ajusta la estrategia. ¡Tú tienes la capacidad de revertir esto y volver a crecer!\n      </p>\n    </div>`;\n} else {\n  mensajeConsultor = `\n    <div style=\"background-color: #ebf8ff; border-left: 4px solid #3182ce; padding: 15px; margin-top: 20px;\">\n      <h4 style=\"margin: 0; color: #2c5282;\">Periodo en equilibrio</h4>\n      <p style=\"margin: 5px 0 0 0; color: #2b6cb0; font-size: 14px;\">\n        Tus ingresos cubrieron exactamente tus gastos. Es un buen momento para analizar \n        cómo aumentar el margen de beneficio en el próximo periodo.\n      </p>\n    </div>`;\n}\n\n// 6. Construcción del HTML (igual que antes)\nconst htmlReporte = `\n<div style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #f7fafc; padding: 20px;\">\n  <div style=\"max-width: 600px; margin: 0 auto; background-color: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 4px 6px rgba(0,0,0,0.1);\">\n    \n    <div style=\"background-color: ${colorPrincipal}; padding: 30px; text-align: center;\">\n      <h1 style=\"color: #ffffff; margin: 0; font-size: 24px; text-transform: uppercase; letter-spacing: 2px;\">Reporte de Resultados</h1>\n      <p style=\"color: rgba(255,255,255,0.8); margin: 5px 0 0 0;\">${nombreNegocio} | Periodo: ${periodoReporte}</p>\n    </div>\n\n    <div style=\"padding: 30px;\">\n      <table style=\"width: 100%; margin-bottom: 30px; border-collapse: collapse;\">\n        <tr>\n          <td style=\"width: 33.33%; text-align: center; padding: 10px;\">\n            <span style=\"display: block; font-size: 11px; color: #718096; text-transform: uppercase; margin-bottom: 5px;\">Ingresos</span>\n            <strong style=\"font-size: 18px; color: #2f855a;\">$${totalVentas.toLocaleString('es-AR', {minimumFractionDigits: 2})}</strong>\n          </td>\n          <td style=\"width: 33.33%; text-align: center; padding: 10px; border-left: 1px solid #edf2f7; border-right: 1px solid #edf2f7;\">\n            <span style=\"display: block; font-size: 11px; color: #718096; text-transform: uppercase; margin-bottom: 5px;\">Gastos</span>\n            <strong style=\"font-size: 18px; color: #c53030;\">$${totalGastos.toLocaleString('es-AR', {minimumFractionDigits: 2})}</strong>\n          </td>\n          <td style=\"width: 33.33%; text-align: center; padding: 10px;\">\n            <span style=\"display: block; font-size: 11px; color: #718096; text-transform: uppercase; margin-bottom: 5px;\">Balance</span>\n            <strong style=\"font-size: 18px; color: ${colorPrincipal};\">$${balanceNeto.toLocaleString('es-AR', {minimumFractionDigits: 2})}</strong>\n          </td>\n        </tr>\n      </table>\n\n      <h3 style=\"color: #2d3748; border-bottom: 2px solid #edf2f7; padding-bottom: 10px; margin-bottom: 15px; font-size: 16px;\">Detalle de Movimientos</h3>\n      <table style=\"width: 100%; border-collapse: collapse;\">\n        <thead>\n          <tr style=\"background-color: #f8fafc;\">\n            <th style=\"padding: 12px; text-align: left; font-size: 11px; color: #718096; text-transform: uppercase;\">Fecha</th>\n            <th style=\"padding: 12px; text-align: left; font-size: 11px; color: #718096; text-transform: uppercase;\">Concepto</th>\n            <th style=\"padding: 12px; text-align: right; font-size: 11px; color: #718096; text-transform: uppercase;\">Monto</th>\n          </tr>\n        </thead>\n        <tbody>\n          ${filasTabla}\n        </tbody>\n        <tfoot>\n          <tr style=\"background-color: #f8fafc; font-weight: bold;\">\n            <td colspan=\"2\" style=\"padding: 12px; border-top: 2px solid #edf2f7; color: #2d3748; font-size: 14px;\">RESULTADO TOTAL FINAL</td>\n            <td style=\"padding: 12px; border-top: 2px solid #edf2f7; text-align: right; color: ${colorPrincipal}; font-size: 18px;\">$${balanceNeto.toLocaleString('es-AR', {minimumFractionDigits: 2})}</td>\n          </tr>\n        </tfoot>\n      </table>\n\n      ${mensajeConsultor}\n\n      <div style=\"margin-top: 40px; padding-top: 20px; border-top: 1px solid #edf2f7; color: #4a5568;\">\n        <p style=\"margin: 0; font-size: 14px; font-weight: bold;\">Arnaldo Ayala</p>\n        <p style=\"margin: 2px 0; font-size: 13px; color: #718096;\">Estratega en IA y Marketing</p>\n        <p style=\"margin: 10px 0 0 0; font-size: 12px; color: #3182ce;\">\n          📞 WhatsApp Soporte: <a href=\"https://wa.me/543765384843\" style=\"color: #3182ce; text-decoration: none;\">3765384843</a>\n        </p>\n      </div>\n    </div>\n\n    <div style=\"background-color: #f8fafc; padding: 20px; text-align: center; border-top: 1px solid #edf2f7;\">\n      <p style=\"margin: 0; font-size: 11px; color: #a0aec0;\">Reporte generado automáticamente por la Agencia Arnaldo Ayala.</p>\n    </div>\n  </div>\n</div>\n`;\n\n// 7. Retorno\nreturn {\n  json: {\n    asunto: `📊 Reporte ${periodoReporte} - ${nombreNegocio}`,\n    destinatario: emailFinal,\n    resumen_ventas: totalVentas,\n    resumen_gastos: totalGastos,\n    balance: balanceNeto,\n    html_email: htmlReporte\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3872,
          144
        ],
        "id": "d96d4fec-6c40-432a-94be-1cab1c8a29b8",
        "name": "Preparar Reporte"
      },
      {
        "parameters": {
          "operation": "get",
          "tableId": "comercios",
          "filters": {
            "conditions": [
              {
                "keyName": "slug",
                "keyValue": "={{ $json.query.id_comerciante }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          720,
          2176
        ],
        "id": "b562be39-b9da-4089-8a36-8bbd239af506",
        "name": "Obtener Comerciante1",
        "credentials": {
          "supabaseApi": {
            "id": "VE7fLcHe01BYK4SQ",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "path": "historial",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "23d72c01-c330-498d-a8a5-ed78a22c8839",
        "name": "GET Historial",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.1,
        "position": [
          512,
          2176
        ],
        "webhookId": "historial-transacciones"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://pczrezpmdugdsjrxspjh.supabase.co/rest/v1/rpc/obtener_historial_transacciones",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NzAzNjg5NCwiZXhwIjoyMDgyNjEyODk0fQ.DoRhW9e10ACffio4erVzDwy1Uxa47VxUNXffLVdC49k"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjenJlenBtZHVnZHNqcnhzcGpoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NzAzNjg5NCwiZXhwIjoyMDgyNjEyODk0fQ.DoRhW9e10ACffio4erVzDwy1Uxa47VxUNXffLVdC49k"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"p_comercio_id\": \"{{ $('Webhook2').item.json.body.id_comerciante }}\",\n  \"p_fecha_desde\": \"{{ $('Preparar Fechas').item.json.rango_inicio }}\",\n  \"p_fecha_hasta\": \"{{ $('Preparar Fechas').item.json.rango_fin }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          3664,
          144
        ],
        "id": "a48735bc-cd73-4bb2-bb51-e3d9f2595efe",
        "name": "Obtener Reporte"
      }
    ],
    "connections": {
      "Webhook - GET Comerciante": {
        "main": [
          [
            {
              "node": "Leer Comerciante",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Formatear Respuesta": {
        "main": [
          [
            {
              "node": "Respond to Webhook1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Leer Comerciante": {
        "main": [
          [
            {
              "node": "Formatear Respuesta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook Guardar Transaccion": {
        "main": [
          [
            {
              "node": "Buscar comerciante",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Datos": {
        "main": [
          [
            {
              "node": "Guardar en Supabase",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar comerciante": {
        "main": [
          [
            {
              "node": "Preparar Datos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Guardar en Supabase": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Formatear Respuesta Editar": {
        "main": [
          [
            {
              "node": "Responder Editar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Formatear Respuesta Eliminar": {
        "main": [
          [
            {
              "node": "Responder Eliminar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Responder Historial",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook - Actualizar": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook - Eliminar": {
        "main": [
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request1": {
        "main": [
          [
            {
              "node": "Formatear Respuesta Editar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request2": {
        "main": [
          [
            {
              "node": "Formatear Respuesta Eliminar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript1": {
        "main": [
          [
            {
              "node": "HTTP Request2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook Registro": {
        "main": [
          [
            {
              "node": "Obtener Todos los Comercios",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Obtener Todos los Comercios": {
        "main": [
          [
            {
              "node": "Generar Slug y URL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generar Slug y URL": {
        "main": [
          [
            {
              "node": "Guardar en Supabase3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar Email Bienvenida": {
        "main": [
          [
            {
              "node": "Responder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Guardar en Supabase3": {
        "main": [
          [
            {
              "node": "Enviar Email Bienvenida",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger - 7 AM1": {
        "main": [
          [
            {
              "node": "Obtener Comercios Activos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Comercios1": {
        "main": [
          [],
          [
            {
              "node": "Wait 5 s",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar Email1": {
        "main": [
          [
            {
              "node": "Loop Back1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Back1": {
        "main": [
          [
            {
              "node": "Loop Comercios1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Obtener Comercios Activos": {
        "main": [
          [
            {
              "node": "Loop Comercios1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait 5 s": {
        "main": [
          [
            {
              "node": "Message a model",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Message a model": {
        "main": [
          [
            {
              "node": "Enviar Email1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook Inventario": {
        "main": [
          [
            {
              "node": "Validar Datos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validar Datos": {
        "main": [
          [
            {
              "node": "Buscar Comercio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Comercio": {
        "main": [
          [
            {
              "node": "Preparar Inserción",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Inserción": {
        "main": [
          [
            {
              "node": "Guardar Producto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Guardar Producto": {
        "main": [
          [
            {
              "node": "Responder Éxito",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook1": {
        "main": [
          [
            {
              "node": "Buscar Comercio1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Comercio1": {
        "main": [
          [
            {
              "node": "HTTP Request4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request4": {
        "main": [
          [
            {
              "node": "Formatear Respuesta1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Formatear Respuesta1": {
        "main": [
          [
            {
              "node": "Responder1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Buscar Comerciante",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Comerciante": {
        "main": [
          [
            {
              "node": "Verificar PIN",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verificar PIN": {
        "main": [
          [
            {
              "node": "Respond to Webhook2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook Guardar Transaccion1": {
        "main": [
          [
            {
              "node": "Buscar comerciante1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Datos1": {
        "main": [
          [
            {
              "node": "Guardar en Supabase2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar comerciante1": {
        "main": [
          [
            {
              "node": "Preparar Datos1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Guardar en Supabase2": {
        "main": [
          [
            {
              "node": "Respond to Webhook3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook - Actualizar Inventario": {
        "main": [
          [
            {
              "node": "Preparar Datos Inventario",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Datos Inventario": {
        "main": [
          [
            {
              "node": "HTTP Request Supabase",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request Supabase": {
        "main": [
          [
            {
              "node": "Formatear Respuesta2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Formatear Respuesta2": {
        "main": [
          [
            {
              "node": "Responder2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Formatear Respuesta Eliminar Inventario1": {
        "main": [
          [
            {
              "node": "Responder Eliminar Inventario1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook - Eliminar Inventario1": {
        "main": [
          [
            {
              "node": "Extract ID JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request Delete Inventario1": {
        "main": [
          [
            {
              "node": "Formatear Respuesta Eliminar Inventario1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract ID JavaScript1": {
        "main": [
          [
            {
              "node": "HTTP Request Delete Inventario1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook2": {
        "main": [
          [
            {
              "node": "Preparar Fechas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Obtener Comerciante": {
        "main": [
          [
            {
              "node": "Obtener Reporte",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar Reporte": {
        "main": [
          [
            {
              "node": "Respond to Webhook4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Fechas": {
        "main": [
          [
            {
              "node": "Obtener Comerciante",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Reporte": {
        "main": [
          [
            {
              "node": "Enviar Reporte",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Obtener Comerciante1": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GET Historial": {
        "main": [
          [
            {
              "node": "Obtener Comerciante1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Obtener Reporte": {
        "main": [
          [
            {
              "node": "Preparar Reporte",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Arnaldo Ayala",
    "name": "Version 77c47e0f",
    "description": "",
    "autosaved": false
  },
  "tags": []
}