cotizador-v2--lSuj7CZLi3yW61eh.json
{
  "updatedAt": "2026-04-13T15:11:05.429Z",
  "createdAt": "2026-04-12T21:32:56.881Z",
  "id": "lSuj7CZLi3yW61eh",
  "name": "Cotizador v2",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Cotización Automatizada",
        "formDescription": "Genera una cotización profesional en PDF a partir de una transcripción de sesión de diagnóstico con tu cliente.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Transcripción",
              "placeholder": "Pega aquí la transcripción completa de la sesión de diagnóstico",
              "requiredField": true
            },
            {
              "fieldLabel": "Datos del cliente",
              "placeholder": "Nombre, empresa, ubicación, teléfono, correo del cliente",
              "requiredField": true
            },
            {
              "fieldLabel": "Datos del proveedor (tú)",
              "placeholder": "Tu nombre, empresa, ubicación, teléfono, correo",
              "requiredField": true
            },
            {
              "fieldLabel": "Colores de cotización",
              "placeholder": "Ej: dorado y negro, azul y blanco",
              "requiredField": true
            },
            {
              "fieldLabel": "Logo de tu agencia",
              "fieldType": "file",
              "acceptFileTypes": ".png,.jpg,.jpeg,.svg,.webp",
              "requiredField": true
            },
            {
              "fieldLabel": "Estilo de cotización",
              "placeholder": "Ej: moderna, elegante, profesional",
              "requiredField": true
            },
            {
              "fieldLabel": "Detalles adicionales",
              "placeholder": "Precio, número de cotización, observaciones, moneda, etc.",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "be531c42-eb6a-4c47-905b-4967f7a6576c",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        64,
        0
      ],
      "webhookId": "c1b89ec0-328f-4cde-9c1b-86523190d20f"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nconst apiSecret = 'TRx41hms7_kweGh61FMy5SZhgLs';\nconst timestamp = Math.floor(Date.now() / 1000);\nconst folder = 'cotizaciones';\nconst paramsToSign = `folder=${folder}&timestamp=${timestamp}${apiSecret}`;\nconst signature = crypto.createHash('sha1').update(paramsToSign).digest('hex');\n\nconst binaryKeys = Object.keys($input.first().binary);\nconst logoKey = binaryKeys.find(k => k.toLowerCase().includes('logo')) || binaryKeys[0];\n\nconst binary = {};\nbinary['file'] = $input.first().binary[logoKey];\n\nreturn [{\n  json: {\n    ...($input.first().json),\n    api_key: '238313899787824',\n    timestamp: timestamp.toString(),\n    signature: signature,\n    folder: folder\n  },\n  binary: binary\n}];"
      },
      "id": "prep-upload",
      "name": "Preparar Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/dmqkqcreo/image/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file"
            },
            {
              "name": "api_key",
              "value": "={{ $json.api_key }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "signature",
              "value": "={{ $json.signature }}"
            },
            {
              "name": "folder",
              "value": "={{ $json.folder }}"
            }
          ]
        },
        "options": {}
      },
      "id": "upload-cloudinary",
      "name": "Upload a Cloudinary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const cloudinaryResponse = $input.first().json;\nconst prevData = $('On form submission').first().json;\n\nreturn [{\n  json: {\n    ...prevData,\n    logo_url: cloudinaryResponse.secure_url || cloudinaryResponse.url\n  }\n}];"
      },
      "id": "extract-url",
      "name": "Extraer URL Logo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "transcripcion",
              "value": "={{ $json['Transcripción'] }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "datos_cliente",
              "value": "={{ $json['Datos del cliente'] }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "datos_proveedor",
              "value": "={{ $json['Datos del proveedor (tú)'] }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "colores",
              "value": "={{ $json['Colores de cotización'] }}",
              "type": "string"
            },
            {
              "id": "a5",
              "name": "url_logo",
              "value": "={{ $json.logo_url }}",
              "type": "string"
            },
            {
              "id": "a6",
              "name": "estilo_cotizacion",
              "value": "={{ $json['Estilo de cotización'] }}",
              "type": "string"
            },
            {
              "id": "a7",
              "name": "detalles_adicionales",
              "value": "={{ $json['Detalles adicionales'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1b82abeb-5d76-46d3-bbde-b069b61ebbd5",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        0
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "cc29f11f-6c9a-4c99-a891-e2f2a6810a88",
      "name": "Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1936,
        416
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "WtjBOwDe17e9xhe1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Genera la cotizacion profesional en formato markdown con TODA la informacion disponible.\n\n## DATOS DE ENTRADA:\n\n### Transcripcion de sesion de diagnostico:\n{{ $json.transcripcion }}\n\n### Datos del cliente:\n{{ $json.datos_cliente }}\n\n### Datos del proveedor:\n{{ $json.datos_proveedor }}\n\n### Detalles adicionales (precio, moneda, numero de cotizacion, observaciones):\n{{ $json.detalles_adicionales }}",
        "options": {
          "systemMessage": "# Rol\n\nEres un consultor senior de ventas de soluciones tecnologicas con IA, especializado en cotizar proyectos de automatizacion para agencias en LATAM. Tienes experiencia cerrando proyectos con clientes de Mexico, Argentina, Colombia, Espana y USA.\n\n# Mision\n\nAnaliza la transcripcion de la sesion de diagnostico y genera una cotizacion profesional, detallada y persuasiva que:\n- Proteja legalmente al proveedor definiendo alcance exacto\n- Justifique el precio con desglose claro\n- Transmita profesionalismo de agencia (no de freelancer)\n- Se adapte al pais, moneda y poder adquisitivo del cliente\n\n# Contexto importante\n\n- La transcripcion puede contener errores de dictado, muletillas, terminos tecnicos mal pronunciados (ej: Samarma = Synthflow/Vapi, levels = ElevenLabs). Corrige silenciosamente.\n- Si el usuario menciona un precio en los detalles adicionales, respetalo. Si no, estima basandote en complejidad + ubicacion del cliente.\n- Fecha actual: {{ $now }}\n- Si no se proporciona ID de cotizacion, genera uno con formato: C-{{ $now.format('yyyy') }}-001\n\n# Estructura OBLIGATORIA de la cotizacion (markdown)\n\nGenera TODAS estas secciones, en este orden:\n\n## 1. ENCABEZADO\n- Titulo: Cotizacion - [nombre descriptivo del proyecto]\n- ID de cotizacion (formato C-YYYY-NNN)\n- Fecha de emision\n- Datos del cliente: nombre, empresa, ubicacion, contacto\n- Datos del proveedor: nombre, agencia, ubicacion, contacto\n\n## 2. OBJETIVO DEL PROYECTO\n- Resumen ejecutivo de 2-3 lineas de que se va a construir y para que\n- Debe ser entendible por alguien NO tecnico\n\n## 3. ALCANCE DETALLADO\n- Desglose por fases (Fase 1, Fase 2, etc.)\n- Cada fase con: nombre, descripcion, tecnologias involucradas\n- Ser ESPECIFICO: que funcionalidades exactas incluye cada fase\n- Esto PROTEGE al proveedor: si no esta aqui, no esta incluido\n\n## 4. ENTREGABLES\n- Lista numerada de todo lo TANGIBLE que recibira el cliente:\n  - Sistema/bot/agente funcionando\n  - Flujos de automatizacion (n8n, Make, etc.)\n  - Integraciones configuradas (listar cada una)\n  - Plantillas de WhatsApp aprobadas (si aplica)\n  - Manual de uso / documentacion\n  - Capacitacion (especificar: X sesiones de Y minutos)\n  - Soporte post-entrega (especificar: X dias, maximo Y sesiones de Z duracion por semana)\n\n## 5. CRONOGRAMA DE IMPLEMENTACION (estimado)\n- Tabla con: Semana | Fase | Actividades | Responsable\n- Aclarar que es ESTIMADO y depende de la entrega oportuna de informacion por parte del cliente\n- Incluir fase de pruebas/ajustes finos DESPUES del desarrollo\n- Incluir periodo de soporte post-entrega\n\n## 6. INVERSION\n- Monto total en la moneda del cliente\n- Desglose de que incluye (resumir las fases)\n- Forma de pago: 50% anticipo al inicio + 50% contraentrega del desarrollo\n- ACLARAR: el segundo pago es al terminar el desarrollo, ANTES del periodo de soporte\n- Si hay IVA/impuestos, aclarar que NO estan incluidos\n- Si el precio fue negociado, respetar el monto exacto\n\n## 7. COSTOS DE TERCEROS (estimados y variables)\n- Tabla: Plataforma | Concepto | Costo mensual estimado\n- Incluir TODOS los servicios externos que el cliente debera pagar\n- ACLARAR: Estos costos son responsabilidad del cliente. Se recomienda que las cuentas esten a nombre del cliente.\n- Dar un rango estimado mensual total\n\n## 8. FLUJOS CLAVE\n- Descripcion paso a paso del flujo principal del sistema\n- Usar formato: Paso 1 -> Paso 2 -> Paso 3\n- Incluir que pasa en casos especiales (handoff a humano, error, etc.)\n\n## 9. TECNOLOGIAS PROPUESTAS\n- Tabla: Categoria | Tecnologia | Funcion\n\n## 10. SUPUESTOS Y CONDICIONES\n- Que debe proveer el cliente ANTES de iniciar:\n  - Base de datos de clientes/productos\n  - Reglas del negocio (tono, comportamiento, palabras prohibidas)\n  - Accesos a plataformas existentes\n  - Ejemplos reales (llamadas, tickets, conversaciones)\n  - Logo e identidad visual\n- El cliente es responsable de abrir cuentas en plataformas de terceros\n\n## 11. INFRAESTRUCTURA\n- Que NO incluye esta cotizacion (renta VPS, costos de APIs, telefonia, etc.)\n- Aclarar quien es dueno de la infraestructura (el cliente)\n\n## 12. RESULTADOS ESPERADOS (primer mes)\n- Metricas realistas (NUNCA prometer 100 por ciento)\n- Ejemplo: 90 por ciento de consultas atendidas sin intervencion humana\n\n## 13. PROXIMOS PASOS\n1. Aprobacion de la propuesta y pago del 50% de anticipo\n2. Kickoff tecnico: accesos, documentacion y reglas del negocio\n3. Desarrollo e integraciones\n4. Pruebas en entorno controlado + ajustes finos\n5. Salida a produccion\n6. Soporte post-entrega\n\n## 14. TERMINOS Y CONDICIONES\n- Vigencia: 15 dias naturales\n- Precios NO incluyen IVA/impuestos\n- Forma de pago: 50% anticipo + 50% contraentrega\n- Soporte incluido post-entrega\n- Funcionalidades fuera del alcance requieren recotizacion\n- Retrasos del cliente pueden aplazar cronograma\n- Confidencialidad mutua\n\n## 15. FIRMAS\n- Dos columnas: proveedor (izquierda) | cliente (derecha)\n- Linea para firma, nombre completo y cargo\n\n# Reglas de redaccion\n- Tono profesional pero cercano, como agencia premium\n- Usar nosotros y nuestro equipo\n- Adaptar moneda y referencias culturales al pais del cliente\n- No inventar datos, si falta algo poner [POR DEFINIR]\n- Ser especifico en tecnologias\n\nResponde UNICAMENTE con la cotizacion completa en markdown."
        }
      },
      "id": "71aaf1a7-3e28-4762-aac9-47f44175fdd7",
      "name": "Agente Cotizador",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1008,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Convierte esta cotizacion markdown a HTML profesional listo para imprimir en PDF.\n\nSolo responde con el HTML completo, nada mas.\n\n## DATOS DE DISENO:\n- Datos del cliente: {{ $('Edit Fields').item.json.datos_cliente }}\n- Datos del proveedor: {{ $('Edit Fields').item.json.datos_proveedor }}\n- Colores: {{ $('Edit Fields').item.json.colores }}\n- URL del logo: {{ $('Edit Fields').item.json.url_logo }}\n- Estilo visual: {{ $('Edit Fields').item.json.estilo_cotizacion }}\n\n## COTIZACION EN MARKDOWN:\n{{ $json.output }}",
        "options": {
          "systemMessage": "# Rol\nEres un Disenador Senior UI/UX y Frontend experto en crear documentos corporativos de alta gama para impresion en PDF. Tu trabajo debe verse como si lo hubiera disenado una agencia de branding premium.\n\n# OBJETIVO\nConvertir la cotizacion markdown en un HTML multipagina profesional que, al convertirse a PDF via Gotenberg, se vea como un documento de Canva premium, no como una factura ni como un simple documento de texto.\n\n# REGLAS IRROMPIBLES\n\n## 1. COLORES - Respetar SIEMPRE los del usuario\n- Interpretar la paleta del usuario y crear un sistema de colores coherente.\n- Definir variables CSS en :root:\n  - --color-primary: color principal (headers, fondos destacados)\n  - --color-secondary: color secundario (acentos, bordes)\n  - --color-accent: variacion para highlights\n  - --color-bg: fondo general (blanco o muy claro)\n  - --color-text: texto principal (#333 o similar oscuro)\n  - --color-text-light: texto secundario (#666)\n- Ejemplos de interpretacion:\n  - dorado y negro: primary=#1A1A1A, secondary=#D4AF37, accent=#F5E6B8, bg=#FFFFFF\n  - azul y blanco: primary=#1E3A5F, secondary=#2E86C1, accent=#EBF5FB, bg=#FFFFFF\n  - rojo y gris: primary=#C0392B, secondary=#2C3E50, accent=#FADBD8, bg=#FAFAFA\n\n## 2. LOGO - OBLIGATORIO, NUNCA omitir\n- Usar la URL de Cloudinary DIRECTAMENTE: <img src=URL_EXACTA alt=Logo>\n- Tamano: max-width: 160px, height: auto\n- Posicion: esquina superior izquierda del header en la primera pagina\n- Si la URL esta vacia, dejar placeholder con nombre de la agencia estilizado\n\n## 3. TIPOGRAFIA - Google Fonts\n- Importar: Montserrat (400,500,600,700) + Playfair Display (700)\n- Jerarquia:\n  - Titulo principal: Playfair Display, 32px, bold\n  - Subtitulo/ID cotizacion: Montserrat, 14px, 500, color secundario\n  - H2 (secciones): Montserrat, 20px, 700, con borde inferior 3px del color primario\n  - H3 (subsecciones): Montserrat, 16px, 600\n  - Cuerpo: Montserrat, 13px, 400, line-height 1.6\n  - Tablas: Montserrat, 12px\n\n## 4. ESTRUCTURA DEL DOCUMENTO (multi-pagina A4)\n\n### Pagina 1 - Portada\n- Header con fondo color primario (full width)\n- Logo a la izquierda\n- Titulo de la cotizacion centrado, color blanco/claro\n- Debajo: datos del cliente (izquierda) | datos del proveedor (derecha) | fecha e ID\n- Seccion Objetivo del Proyecto con fondo accent suave\n- Terminos y condiciones resumidos al pie (font-size: 10px)\n\n### Paginas 2-3 - Alcance detallado\n- Cada fase en un recuadro con borde izquierdo del color secundario (4px)\n- Tecnologias en badges/pills con fondo accent\n- Usar iconos Unicode si es apropiado\n\n### Pagina 4 - Entregables\n- Lista con checkmarks en color secundario\n- Cada entregable como card con padding\n\n### Pagina 5 - Cronograma\n- Tabla estilizada con header en color primario, filas alternadas\n- Nota de estimado en texto italizado\n\n### Pagina 6 - Inversion + Costos de terceros\n- INVERSION en recuadro destacado: fondo primario, texto blanco/claro, tipografia grande\n- Forma de pago en sub-recuadro\n- Costos de terceros en tabla limpia debajo\n- Nota: Costos a cargo del cliente en texto pequeno\n\n### Pagina 7 - Flujos + Tecnologias\n- Flujo como diagrama visual (cajas conectadas con flechas ->)\n- Tecnologias en tabla con categoria | nombre | funcion\n\n### Pagina 8 - Supuestos, Infraestructura, Resultados, Proximos pasos\n- Supuestos como checklist de lo que el cliente debe proveer\n- Resultados esperados con porcentajes visuales (barras de progreso CSS simples)\n- Proximos pasos como timeline vertical con numeros\n\n### Ultima seccion - Firmas\n- Dos columnas con:\n  - Linea horizontal para firma (border-bottom)\n  - Nombre completo debajo\n  - Cargo / Empresa\n- Espacio generoso para firmar\n\n### Footer en todas las paginas\n- (c) [ano] [Nombre Agencia] centrado, font-size 10px, color gris\n\n## 5. REGLAS CSS PARA PDF (Gotenberg)\n- @page { size: A4; margin: 15mm 20mm; }\n- body { -webkit-print-color-adjust: exact; print-color-adjust: exact; }\n- .page-break { page-break-before: always; }\n- section, table { break-inside: avoid; }\n\n## 6. REGLAS TECNICAS\n- HTML crudo completo: desde <!DOCTYPE html> hasta </html>\n- NO usar \\n literales ni comillas escapadas - HTML limpio\n- <meta charset=UTF-8>\n- Todo el CSS en <style> dentro del <head>\n- Google Fonts via <link> en el <head>\n- NO usar JavaScript\n- Tablas con border-collapse: collapse, padding en celdas\n- Imagenes con max-width para no desbordar\n- HTML puro, sin frameworks\n\n## 7. CALIDAD VISUAL\n- Debe verse como una cotizacion de Canva premium\n- Espaciado generoso entre secciones (margin-bottom: 24px minimo)\n- Sombras sutiles en cards: box-shadow: 0 2px 8px rgba(0,0,0,0.08)\n- Border-radius: 8px en recuadros\n- El color primario domina headers y acentos, NO inunda todo\n- Mucho espacio en blanco, no saturar\n\nSalida: SOLO el HTML completo. Sin explicaciones, sin markdown, sin backticks."
        }
      },
      "id": "3ae46ac1-92ca-46fb-ba2a-f604c86a875b",
      "name": "Agente Generador HTML",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1280,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "let htmlContent = $input.first().json.output;\n\n// Limpiar backticks de markdown que Gemini puede agregar\nhtmlContent = htmlContent.replace(/^```html\\s*/i, '').replace(/^```\\s*/i, '').replace(/\\s*```$/i, '').trim();\n\nreturn [{\n  json: { html: htmlContent },\n  binary: {\n    'index.html': {\n      data: Buffer.from(htmlContent, 'utf-8').toString('base64'),\n      mimeType: 'text/html',\n      fileName: 'index.html'\n    }\n  }\n}];"
      },
      "id": "html-to-binary-1",
      "name": "HTML to File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gotenberg-fl3d98h92norx84xv88h0wek:3000/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "index.html"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "9a935212-f3d8-4e82-b217-951b31219198",
      "name": "HTML a PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1728,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const binaryData = $input.first().binary.data;\nreturn [{\n  json: {\n    url: `data:${binaryData.mimeType || 'application/pdf'};base64,${binaryData.data}`,\n    fileName: `cotizacion_${new Date().toISOString().slice(0,10)}.pdf`\n  },\n  binary: $input.first().binary\n}];"
      },
      "id": "conv-pdf-to-url",
      "name": "Preparar PDF Link",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        0
      ]
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Necesitas cambios?",
              "placeholder": "Describe los cambios",
              "requiredField": true
            },
            {
              "fieldType": "html",
              "elementName": "Enlace",
              "html": "Tu cotización PDF. <a href=\"{{ $json.url }}\" target=\"_blank\">Descargar PDF</a>"
            }
          ]
        },
        "options": {}
      },
      "id": "a803edb4-1122-46e9-a66f-a25919f38a31",
      "name": "Form",
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        2128,
        0
      ],
      "webhookId": "b096387b-26f0-4cad-9911-f71ef5b332d9"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## CAMBIOS SOLICITADOS POR EL USUARIO:\n{{ $json['Necesitas cambios?'] }}\n\n## HTML ORIGINAL COMPLETO:\n{{ $('Agente Generador HTML').item.json.output }}",
        "options": {
          "systemMessage": "# Rol\nEres un Disenador Senior UI/UX experto en documentos corporativos para PDF.\n\n# Mision\nAplica los cambios solicitados por el usuario al HTML de la cotizacion, manteniendo la calidad visual premium.\n\n# REGLAS IRROMPIBLES:\n\n1. PRESERVAR SIEMPRE: logo (URL Cloudinary en img src), colores del usuario (variables CSS :root), tipografia Google Fonts (Montserrat + Playfair Display), estructura de secciones, seccion de firmas\n2. NO eliminar secciones a menos que el usuario lo pida explicitamente\n3. NO cambiar colores a menos que el usuario lo pida explicitamente\n4. NO cambiar ni quitar el logo a menos que el usuario lo pida explicitamente\n5. Si el usuario pide cambiar texto/contenido, cambiarlo manteniendo el formato HTML y estilos exactos\n6. Si el usuario pide cambios de diseno, aplicarlos respetando la coherencia visual del documento completo\n7. Si el usuario pide agregar secciones, insertarlas con el mismo estilo CSS que las secciones existentes\n8. Si el usuario dice esta bien, perfecto, ok o similar, devolver el HTML original SIN cambios\n9. Si el usuario pide cambiar precios o montos, actualizar SOLO los numeros manteniendo el formato\n10. Si el usuario pide cambiar datos del cliente o proveedor, actualizar SOLO esos campos\n\n# Reglas CSS para PDF (mantener SIEMPRE en el output):\n- @page { size: A4; margin: 15mm 20mm; }\n- -webkit-print-color-adjust: exact; print-color-adjust: exact;\n- break-inside: avoid; en secciones y tablas\n- Google Fonts via <link> en <head>\n- Variables CSS :root con la paleta de colores original\n- .page-break { page-break-before: always; }\n\n# Calidad\n- El documento debe mantener la calidad visual premium despues de los cambios\n- Verificar que los page-breaks sigan funcionando correctamente\n- Mantener espaciado, sombras, border-radius consistentes\n\n# Salida\nHTML completo desde <!DOCTYPE html> hasta </html>. Sin explicaciones, sin markdown, sin backticks. Solo HTML puro."
        }
      },
      "id": "0c852be5-1a92-499f-883b-b49a8f5d1a09",
      "name": "Agente de cambios",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2352,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "let htmlContent = $input.first().json.output;\n\n// Limpiar backticks de markdown que Gemini puede agregar\nhtmlContent = htmlContent.replace(/^```html\\s*/i, '').replace(/^```\\s*/i, '').replace(/\\s*```$/i, '').trim();\n\nreturn [{\n  json: { html: htmlContent },\n  binary: {\n    'index.html': {\n      data: Buffer.from(htmlContent, 'utf-8').toString('base64'),\n      mimeType: 'text/html',\n      fileName: 'index.html'\n    }\n  }\n}];"
      },
      "id": "html-to-binary-2",
      "name": "HTML to File 2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gotenberg-fl3d98h92norx84xv88h0wek:3000/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "index.html"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "28ba9e83-03da-429b-a387-6e1466b303b0",
      "name": "HTML a PDF 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2784,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const binaryData = $input.first().binary.data;\nreturn [{\n  json: {\n    url: `data:${binaryData.mimeType || 'application/pdf'};base64,${binaryData.data}`,\n    fileName: `cotizacion_v2_${new Date().toISOString().slice(0,10)}.pdf`\n  },\n  binary: $input.first().binary\n}];"
      },
      "id": "conv-pdf-to-url-2",
      "name": "Preparar PDF Link 2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2976,
        0
      ]
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Necesitas mas cambios?",
              "placeholder": "Describe cambios adicionales",
              "requiredField": true
            },
            {
              "fieldType": "html",
              "elementName": "Enlace",
              "html": "PDF actualizado. <a href=\"{{ $json.url }}\" target=\"_blank\">Descargar PDF</a>"
            }
          ]
        },
        "options": {}
      },
      "id": "9aef20db-5aac-4f04-b881-2591239981dc",
      "name": "Form2",
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        3184,
        0
      ],
      "webhookId": "836394d8-40bb-4a0c-b17a-68987aa88e8c"
    },
    {
      "parameters": {
        "content": "# Cotizador v2\n\nGenera cotizaciones PDF profesionales a partir de sesiones de diagnóstico.\n\n## Stack\n- **LLM**: Gemini (3 agentes)\n- **PDF**: Gotenberg (self-hosted, gratis)\n- **Logo**: Cloudinary (upload automático)\n- **Formulario**: n8n Form multi-página",
        "height": 300,
        "width": 500,
        "color": 7
      },
      "id": "d362b557-6c42-413f-9071-443ec791c112",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -720,
        -128
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1712,
        416
      ],
      "id": "3f93e27b-1cb7-4351-a611-a1b9c510b112",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "zrA8o6Rx6jQIRHlC",
          "name": "OpenAi PROPUESTA"
        }
      }
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Preparar Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Upload": {
      "main": [
        [
          {
            "node": "Upload a Cloudinary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a Cloudinary": {
      "main": [
        [
          {
            "node": "Extraer URL Logo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer URL Logo": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Agente Cotizador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini": {
      "ai_languageModel": [
        []
      ]
    },
    "Agente Cotizador": {
      "main": [
        [
          {
            "node": "Agente Generador HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Generador HTML": {
      "main": [
        [
          {
            "node": "HTML to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML to File": {
      "main": [
        [
          {
            "node": "HTML a PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML a PDF": {
      "main": [
        [
          {
            "node": "Preparar PDF Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar PDF Link": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form": {
      "main": [
        [
          {
            "node": "Agente de cambios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente de cambios": {
      "main": [
        [
          {
            "node": "HTML to File 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML to File 2": {
      "main": [
        [
          {
            "node": "HTML a PDF 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML a PDF 2": {
      "main": [
        [
          {
            "node": "Preparar PDF Link 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar PDF Link 2": {
      "main": [
        [
          {
            "node": "Form2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form2": {
      "main": [
        [
          {
            "node": "Agente de cambios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Cotizador",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Agente Generador HTML",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Agente de cambios",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ec13c7bf-0d90-4f42-9f11-e1889c2a234e",
  "activeVersionId": "ec13c7bf-0d90-4f42-9f11-e1889c2a234e",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-12T21:32:56.881Z",
      "createdAt": "2026-04-12T21:32:56.881Z",
      "role": "workflow:owner",
      "workflowId": "lSuj7CZLi3yW61eh",
      "projectId": "0BrGO8NkGfCDSRsb"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-13T15:11:05.431Z",
    "createdAt": "2026-04-13T15:11:05.431Z",
    "versionId": "ec13c7bf-0d90-4f42-9f11-e1889c2a234e",
    "workflowId": "lSuj7CZLi3yW61eh",
    "nodes": [
      {
        "parameters": {
          "formTitle": "Cotización Automatizada",
          "formDescription": "Genera una cotización profesional en PDF a partir de una transcripción de sesión de diagnóstico con tu cliente.",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Transcripción",
                "placeholder": "Pega aquí la transcripción completa de la sesión de diagnóstico",
                "requiredField": true
              },
              {
                "fieldLabel": "Datos del cliente",
                "placeholder": "Nombre, empresa, ubicación, teléfono, correo del cliente",
                "requiredField": true
              },
              {
                "fieldLabel": "Datos del proveedor (tú)",
                "placeholder": "Tu nombre, empresa, ubicación, teléfono, correo",
                "requiredField": true
              },
              {
                "fieldLabel": "Colores de cotización",
                "placeholder": "Ej: dorado y negro, azul y blanco",
                "requiredField": true
              },
              {
                "fieldLabel": "Logo de tu agencia",
                "fieldType": "file",
                "acceptFileTypes": ".png,.jpg,.jpeg,.svg,.webp",
                "requiredField": true
              },
              {
                "fieldLabel": "Estilo de cotización",
                "placeholder": "Ej: moderna, elegante, profesional",
                "requiredField": true
              },
              {
                "fieldLabel": "Detalles adicionales",
                "placeholder": "Precio, número de cotización, observaciones, moneda, etc.",
                "requiredField": true
              }
            ]
          },
          "options": {}
        },
        "id": "be531c42-eb6a-4c47-905b-4967f7a6576c",
        "name": "On form submission",
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.3,
        "position": [
          64,
          0
        ],
        "webhookId": "c1b89ec0-328f-4cde-9c1b-86523190d20f"
      },
      {
        "parameters": {
          "jsCode": "const crypto = require('crypto');\n\nconst apiSecret = 'TRx41hms7_kweGh61FMy5SZhgLs';\nconst timestamp = Math.floor(Date.now() / 1000);\nconst folder = 'cotizaciones';\nconst paramsToSign = `folder=${folder}&timestamp=${timestamp}${apiSecret}`;\nconst signature = crypto.createHash('sha1').update(paramsToSign).digest('hex');\n\nconst binaryKeys = Object.keys($input.first().binary);\nconst logoKey = binaryKeys.find(k => k.toLowerCase().includes('logo')) || binaryKeys[0];\n\nconst binary = {};\nbinary['file'] = $input.first().binary[logoKey];\n\nreturn [{\n  json: {\n    ...($input.first().json),\n    api_key: '238313899787824',\n    timestamp: timestamp.toString(),\n    signature: signature,\n    folder: folder\n  },\n  binary: binary\n}];"
        },
        "id": "prep-upload",
        "name": "Preparar Upload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          240,
          0
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.cloudinary.com/v1_1/dmqkqcreo/image/upload",
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "parameterType": "formBinaryData",
                "name": "file",
                "inputDataFieldName": "file"
              },
              {
                "name": "api_key",
                "value": "={{ $json.api_key }}"
              },
              {
                "name": "timestamp",
                "value": "={{ $json.timestamp }}"
              },
              {
                "name": "signature",
                "value": "={{ $json.signature }}"
              },
              {
                "name": "folder",
                "value": "={{ $json.folder }}"
              }
            ]
          },
          "options": {}
        },
        "id": "upload-cloudinary",
        "name": "Upload a Cloudinary",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          432,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const cloudinaryResponse = $input.first().json;\nconst prevData = $('On form submission').first().json;\n\nreturn [{\n  json: {\n    ...prevData,\n    logo_url: cloudinaryResponse.secure_url || cloudinaryResponse.url\n  }\n}];"
        },
        "id": "extract-url",
        "name": "Extraer URL Logo",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          608,
          0
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a1",
                "name": "transcripcion",
                "value": "={{ $json['Transcripción'] }}",
                "type": "string"
              },
              {
                "id": "a2",
                "name": "datos_cliente",
                "value": "={{ $json['Datos del cliente'] }}",
                "type": "string"
              },
              {
                "id": "a3",
                "name": "datos_proveedor",
                "value": "={{ $json['Datos del proveedor (tú)'] }}",
                "type": "string"
              },
              {
                "id": "a4",
                "name": "colores",
                "value": "={{ $json['Colores de cotización'] }}",
                "type": "string"
              },
              {
                "id": "a5",
                "name": "url_logo",
                "value": "={{ $json.logo_url }}",
                "type": "string"
              },
              {
                "id": "a6",
                "name": "estilo_cotizacion",
                "value": "={{ $json['Estilo de cotización'] }}",
                "type": "string"
              },
              {
                "id": "a7",
                "name": "detalles_adicionales",
                "value": "={{ $json['Detalles adicionales'] }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "1b82abeb-5d76-46d3-bbde-b069b61ebbd5",
        "name": "Edit Fields",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          784,
          0
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "cc29f11f-6c9a-4c99-a891-e2f2a6810a88",
        "name": "Gemini",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          1936,
          416
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "WtjBOwDe17e9xhe1",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Genera la cotizacion profesional en formato markdown con TODA la informacion disponible.\n\n## DATOS DE ENTRADA:\n\n### Transcripcion de sesion de diagnostico:\n{{ $json.transcripcion }}\n\n### Datos del cliente:\n{{ $json.datos_cliente }}\n\n### Datos del proveedor:\n{{ $json.datos_proveedor }}\n\n### Detalles adicionales (precio, moneda, numero de cotizacion, observaciones):\n{{ $json.detalles_adicionales }}",
          "options": {
            "systemMessage": "# Rol\n\nEres un consultor senior de ventas de soluciones tecnologicas con IA, especializado en cotizar proyectos de automatizacion para agencias en LATAM. Tienes experiencia cerrando proyectos con clientes de Mexico, Argentina, Colombia, Espana y USA.\n\n# Mision\n\nAnaliza la transcripcion de la sesion de diagnostico y genera una cotizacion profesional, detallada y persuasiva que:\n- Proteja legalmente al proveedor definiendo alcance exacto\n- Justifique el precio con desglose claro\n- Transmita profesionalismo de agencia (no de freelancer)\n- Se adapte al pais, moneda y poder adquisitivo del cliente\n\n# Contexto importante\n\n- La transcripcion puede contener errores de dictado, muletillas, terminos tecnicos mal pronunciados (ej: Samarma = Synthflow/Vapi, levels = ElevenLabs). Corrige silenciosamente.\n- Si el usuario menciona un precio en los detalles adicionales, respetalo. Si no, estima basandote en complejidad + ubicacion del cliente.\n- Fecha actual: {{ $now }}\n- Si no se proporciona ID de cotizacion, genera uno con formato: C-{{ $now.format('yyyy') }}-001\n\n# Estructura OBLIGATORIA de la cotizacion (markdown)\n\nGenera TODAS estas secciones, en este orden:\n\n## 1. ENCABEZADO\n- Titulo: Cotizacion - [nombre descriptivo del proyecto]\n- ID de cotizacion (formato C-YYYY-NNN)\n- Fecha de emision\n- Datos del cliente: nombre, empresa, ubicacion, contacto\n- Datos del proveedor: nombre, agencia, ubicacion, contacto\n\n## 2. OBJETIVO DEL PROYECTO\n- Resumen ejecutivo de 2-3 lineas de que se va a construir y para que\n- Debe ser entendible por alguien NO tecnico\n\n## 3. ALCANCE DETALLADO\n- Desglose por fases (Fase 1, Fase 2, etc.)\n- Cada fase con: nombre, descripcion, tecnologias involucradas\n- Ser ESPECIFICO: que funcionalidades exactas incluye cada fase\n- Esto PROTEGE al proveedor: si no esta aqui, no esta incluido\n\n## 4. ENTREGABLES\n- Lista numerada de todo lo TANGIBLE que recibira el cliente:\n  - Sistema/bot/agente funcionando\n  - Flujos de automatizacion (n8n, Make, etc.)\n  - Integraciones configuradas (listar cada una)\n  - Plantillas de WhatsApp aprobadas (si aplica)\n  - Manual de uso / documentacion\n  - Capacitacion (especificar: X sesiones de Y minutos)\n  - Soporte post-entrega (especificar: X dias, maximo Y sesiones de Z duracion por semana)\n\n## 5. CRONOGRAMA DE IMPLEMENTACION (estimado)\n- Tabla con: Semana | Fase | Actividades | Responsable\n- Aclarar que es ESTIMADO y depende de la entrega oportuna de informacion por parte del cliente\n- Incluir fase de pruebas/ajustes finos DESPUES del desarrollo\n- Incluir periodo de soporte post-entrega\n\n## 6. INVERSION\n- Monto total en la moneda del cliente\n- Desglose de que incluye (resumir las fases)\n- Forma de pago: 50% anticipo al inicio + 50% contraentrega del desarrollo\n- ACLARAR: el segundo pago es al terminar el desarrollo, ANTES del periodo de soporte\n- Si hay IVA/impuestos, aclarar que NO estan incluidos\n- Si el precio fue negociado, respetar el monto exacto\n\n## 7. COSTOS DE TERCEROS (estimados y variables)\n- Tabla: Plataforma | Concepto | Costo mensual estimado\n- Incluir TODOS los servicios externos que el cliente debera pagar\n- ACLARAR: Estos costos son responsabilidad del cliente. Se recomienda que las cuentas esten a nombre del cliente.\n- Dar un rango estimado mensual total\n\n## 8. FLUJOS CLAVE\n- Descripcion paso a paso del flujo principal del sistema\n- Usar formato: Paso 1 -> Paso 2 -> Paso 3\n- Incluir que pasa en casos especiales (handoff a humano, error, etc.)\n\n## 9. TECNOLOGIAS PROPUESTAS\n- Tabla: Categoria | Tecnologia | Funcion\n\n## 10. SUPUESTOS Y CONDICIONES\n- Que debe proveer el cliente ANTES de iniciar:\n  - Base de datos de clientes/productos\n  - Reglas del negocio (tono, comportamiento, palabras prohibidas)\n  - Accesos a plataformas existentes\n  - Ejemplos reales (llamadas, tickets, conversaciones)\n  - Logo e identidad visual\n- El cliente es responsable de abrir cuentas en plataformas de terceros\n\n## 11. INFRAESTRUCTURA\n- Que NO incluye esta cotizacion (renta VPS, costos de APIs, telefonia, etc.)\n- Aclarar quien es dueno de la infraestructura (el cliente)\n\n## 12. RESULTADOS ESPERADOS (primer mes)\n- Metricas realistas (NUNCA prometer 100 por ciento)\n- Ejemplo: 90 por ciento de consultas atendidas sin intervencion humana\n\n## 13. PROXIMOS PASOS\n1. Aprobacion de la propuesta y pago del 50% de anticipo\n2. Kickoff tecnico: accesos, documentacion y reglas del negocio\n3. Desarrollo e integraciones\n4. Pruebas en entorno controlado + ajustes finos\n5. Salida a produccion\n6. Soporte post-entrega\n\n## 14. TERMINOS Y CONDICIONES\n- Vigencia: 15 dias naturales\n- Precios NO incluyen IVA/impuestos\n- Forma de pago: 50% anticipo + 50% contraentrega\n- Soporte incluido post-entrega\n- Funcionalidades fuera del alcance requieren recotizacion\n- Retrasos del cliente pueden aplazar cronograma\n- Confidencialidad mutua\n\n## 15. FIRMAS\n- Dos columnas: proveedor (izquierda) | cliente (derecha)\n- Linea para firma, nombre completo y cargo\n\n# Reglas de redaccion\n- Tono profesional pero cercano, como agencia premium\n- Usar nosotros y nuestro equipo\n- Adaptar moneda y referencias culturales al pais del cliente\n- No inventar datos, si falta algo poner [POR DEFINIR]\n- Ser especifico en tecnologias\n\nResponde UNICAMENTE con la cotizacion completa en markdown."
          }
        },
        "id": "71aaf1a7-3e28-4762-aac9-47f44175fdd7",
        "name": "Agente Cotizador",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          1008,
          0
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Convierte esta cotizacion markdown a HTML profesional listo para imprimir en PDF.\n\nSolo responde con el HTML completo, nada mas.\n\n## DATOS DE DISENO:\n- Datos del cliente: {{ $('Edit Fields').item.json.datos_cliente }}\n- Datos del proveedor: {{ $('Edit Fields').item.json.datos_proveedor }}\n- Colores: {{ $('Edit Fields').item.json.colores }}\n- URL del logo: {{ $('Edit Fields').item.json.url_logo }}\n- Estilo visual: {{ $('Edit Fields').item.json.estilo_cotizacion }}\n\n## COTIZACION EN MARKDOWN:\n{{ $json.output }}",
          "options": {
            "systemMessage": "# Rol\nEres un Disenador Senior UI/UX y Frontend experto en crear documentos corporativos de alta gama para impresion en PDF. Tu trabajo debe verse como si lo hubiera disenado una agencia de branding premium.\n\n# OBJETIVO\nConvertir la cotizacion markdown en un HTML multipagina profesional que, al convertirse a PDF via Gotenberg, se vea como un documento de Canva premium, no como una factura ni como un simple documento de texto.\n\n# REGLAS IRROMPIBLES\n\n## 1. COLORES - Respetar SIEMPRE los del usuario\n- Interpretar la paleta del usuario y crear un sistema de colores coherente.\n- Definir variables CSS en :root:\n  - --color-primary: color principal (headers, fondos destacados)\n  - --color-secondary: color secundario (acentos, bordes)\n  - --color-accent: variacion para highlights\n  - --color-bg: fondo general (blanco o muy claro)\n  - --color-text: texto principal (#333 o similar oscuro)\n  - --color-text-light: texto secundario (#666)\n- Ejemplos de interpretacion:\n  - dorado y negro: primary=#1A1A1A, secondary=#D4AF37, accent=#F5E6B8, bg=#FFFFFF\n  - azul y blanco: primary=#1E3A5F, secondary=#2E86C1, accent=#EBF5FB, bg=#FFFFFF\n  - rojo y gris: primary=#C0392B, secondary=#2C3E50, accent=#FADBD8, bg=#FAFAFA\n\n## 2. LOGO - OBLIGATORIO, NUNCA omitir\n- Usar la URL de Cloudinary DIRECTAMENTE: <img src=URL_EXACTA alt=Logo>\n- Tamano: max-width: 160px, height: auto\n- Posicion: esquina superior izquierda del header en la primera pagina\n- Si la URL esta vacia, dejar placeholder con nombre de la agencia estilizado\n\n## 3. TIPOGRAFIA - Google Fonts\n- Importar: Montserrat (400,500,600,700) + Playfair Display (700)\n- Jerarquia:\n  - Titulo principal: Playfair Display, 32px, bold\n  - Subtitulo/ID cotizacion: Montserrat, 14px, 500, color secundario\n  - H2 (secciones): Montserrat, 20px, 700, con borde inferior 3px del color primario\n  - H3 (subsecciones): Montserrat, 16px, 600\n  - Cuerpo: Montserrat, 13px, 400, line-height 1.6\n  - Tablas: Montserrat, 12px\n\n## 4. ESTRUCTURA DEL DOCUMENTO (multi-pagina A4)\n\n### Pagina 1 - Portada\n- Header con fondo color primario (full width)\n- Logo a la izquierda\n- Titulo de la cotizacion centrado, color blanco/claro\n- Debajo: datos del cliente (izquierda) | datos del proveedor (derecha) | fecha e ID\n- Seccion Objetivo del Proyecto con fondo accent suave\n- Terminos y condiciones resumidos al pie (font-size: 10px)\n\n### Paginas 2-3 - Alcance detallado\n- Cada fase en un recuadro con borde izquierdo del color secundario (4px)\n- Tecnologias en badges/pills con fondo accent\n- Usar iconos Unicode si es apropiado\n\n### Pagina 4 - Entregables\n- Lista con checkmarks en color secundario\n- Cada entregable como card con padding\n\n### Pagina 5 - Cronograma\n- Tabla estilizada con header en color primario, filas alternadas\n- Nota de estimado en texto italizado\n\n### Pagina 6 - Inversion + Costos de terceros\n- INVERSION en recuadro destacado: fondo primario, texto blanco/claro, tipografia grande\n- Forma de pago en sub-recuadro\n- Costos de terceros en tabla limpia debajo\n- Nota: Costos a cargo del cliente en texto pequeno\n\n### Pagina 7 - Flujos + Tecnologias\n- Flujo como diagrama visual (cajas conectadas con flechas ->)\n- Tecnologias en tabla con categoria | nombre | funcion\n\n### Pagina 8 - Supuestos, Infraestructura, Resultados, Proximos pasos\n- Supuestos como checklist de lo que el cliente debe proveer\n- Resultados esperados con porcentajes visuales (barras de progreso CSS simples)\n- Proximos pasos como timeline vertical con numeros\n\n### Ultima seccion - Firmas\n- Dos columnas con:\n  - Linea horizontal para firma (border-bottom)\n  - Nombre completo debajo\n  - Cargo / Empresa\n- Espacio generoso para firmar\n\n### Footer en todas las paginas\n- (c) [ano] [Nombre Agencia] centrado, font-size 10px, color gris\n\n## 5. REGLAS CSS PARA PDF (Gotenberg)\n- @page { size: A4; margin: 15mm 20mm; }\n- body { -webkit-print-color-adjust: exact; print-color-adjust: exact; }\n- .page-break { page-break-before: always; }\n- section, table { break-inside: avoid; }\n\n## 6. REGLAS TECNICAS\n- HTML crudo completo: desde <!DOCTYPE html> hasta </html>\n- NO usar \\n literales ni comillas escapadas - HTML limpio\n- <meta charset=UTF-8>\n- Todo el CSS en <style> dentro del <head>\n- Google Fonts via <link> en el <head>\n- NO usar JavaScript\n- Tablas con border-collapse: collapse, padding en celdas\n- Imagenes con max-width para no desbordar\n- HTML puro, sin frameworks\n\n## 7. CALIDAD VISUAL\n- Debe verse como una cotizacion de Canva premium\n- Espaciado generoso entre secciones (margin-bottom: 24px minimo)\n- Sombras sutiles en cards: box-shadow: 0 2px 8px rgba(0,0,0,0.08)\n- Border-radius: 8px en recuadros\n- El color primario domina headers y acentos, NO inunda todo\n- Mucho espacio en blanco, no saturar\n\nSalida: SOLO el HTML completo. Sin explicaciones, sin markdown, sin backticks."
          }
        },
        "id": "3ae46ac1-92ca-46fb-ba2a-f604c86a875b",
        "name": "Agente Generador HTML",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          1280,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "let htmlContent = $input.first().json.output;\n\n// Limpiar backticks de markdown que Gemini puede agregar\nhtmlContent = htmlContent.replace(/^```html\\s*/i, '').replace(/^```\\s*/i, '').replace(/\\s*```$/i, '').trim();\n\nreturn [{\n  json: { html: htmlContent },\n  binary: {\n    'index.html': {\n      data: Buffer.from(htmlContent, 'utf-8').toString('base64'),\n      mimeType: 'text/html',\n      fileName: 'index.html'\n    }\n  }\n}];"
        },
        "id": "html-to-binary-1",
        "name": "HTML to File",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1552,
          0
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://gotenberg-fl3d98h92norx84xv88h0wek:3000/forms/chromium/convert/html",
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "parameterType": "formBinaryData",
                "name": "files",
                "inputDataFieldName": "index.html"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "id": "9a935212-f3d8-4e82-b217-951b31219198",
        "name": "HTML a PDF",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1728,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const binaryData = $input.first().binary.data;\nreturn [{\n  json: {\n    url: `data:${binaryData.mimeType || 'application/pdf'};base64,${binaryData.data}`,\n    fileName: `cotizacion_${new Date().toISOString().slice(0,10)}.pdf`\n  },\n  binary: $input.first().binary\n}];"
        },
        "id": "conv-pdf-to-url",
        "name": "Preparar PDF Link",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1920,
          0
        ]
      },
      {
        "parameters": {
          "formFields": {
            "values": [
              {
                "fieldLabel": "Necesitas cambios?",
                "placeholder": "Describe los cambios",
                "requiredField": true
              },
              {
                "fieldType": "html",
                "elementName": "Enlace",
                "html": "Tu cotización PDF. <a href=\"{{ $json.url }}\" target=\"_blank\">Descargar PDF</a>"
              }
            ]
          },
          "options": {}
        },
        "id": "a803edb4-1122-46e9-a66f-a25919f38a31",
        "name": "Form",
        "type": "n8n-nodes-base.form",
        "typeVersion": 2.3,
        "position": [
          2128,
          0
        ],
        "webhookId": "b096387b-26f0-4cad-9911-f71ef5b332d9"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=## CAMBIOS SOLICITADOS POR EL USUARIO:\n{{ $json['Necesitas cambios?'] }}\n\n## HTML ORIGINAL COMPLETO:\n{{ $('Agente Generador HTML').item.json.output }}",
          "options": {
            "systemMessage": "# Rol\nEres un Disenador Senior UI/UX experto en documentos corporativos para PDF.\n\n# Mision\nAplica los cambios solicitados por el usuario al HTML de la cotizacion, manteniendo la calidad visual premium.\n\n# REGLAS IRROMPIBLES:\n\n1. PRESERVAR SIEMPRE: logo (URL Cloudinary en img src), colores del usuario (variables CSS :root), tipografia Google Fonts (Montserrat + Playfair Display), estructura de secciones, seccion de firmas\n2. NO eliminar secciones a menos que el usuario lo pida explicitamente\n3. NO cambiar colores a menos que el usuario lo pida explicitamente\n4. NO cambiar ni quitar el logo a menos que el usuario lo pida explicitamente\n5. Si el usuario pide cambiar texto/contenido, cambiarlo manteniendo el formato HTML y estilos exactos\n6. Si el usuario pide cambios de diseno, aplicarlos respetando la coherencia visual del documento completo\n7. Si el usuario pide agregar secciones, insertarlas con el mismo estilo CSS que las secciones existentes\n8. Si el usuario dice esta bien, perfecto, ok o similar, devolver el HTML original SIN cambios\n9. Si el usuario pide cambiar precios o montos, actualizar SOLO los numeros manteniendo el formato\n10. Si el usuario pide cambiar datos del cliente o proveedor, actualizar SOLO esos campos\n\n# Reglas CSS para PDF (mantener SIEMPRE en el output):\n- @page { size: A4; margin: 15mm 20mm; }\n- -webkit-print-color-adjust: exact; print-color-adjust: exact;\n- break-inside: avoid; en secciones y tablas\n- Google Fonts via <link> en <head>\n- Variables CSS :root con la paleta de colores original\n- .page-break { page-break-before: always; }\n\n# Calidad\n- El documento debe mantener la calidad visual premium despues de los cambios\n- Verificar que los page-breaks sigan funcionando correctamente\n- Mantener espaciado, sombras, border-radius consistentes\n\n# Salida\nHTML completo desde <!DOCTYPE html> hasta </html>. Sin explicaciones, sin markdown, sin backticks. Solo HTML puro."
          }
        },
        "id": "0c852be5-1a92-499f-883b-b49a8f5d1a09",
        "name": "Agente de cambios",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          2352,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "let htmlContent = $input.first().json.output;\n\n// Limpiar backticks de markdown que Gemini puede agregar\nhtmlContent = htmlContent.replace(/^```html\\s*/i, '').replace(/^```\\s*/i, '').replace(/\\s*```$/i, '').trim();\n\nreturn [{\n  json: { html: htmlContent },\n  binary: {\n    'index.html': {\n      data: Buffer.from(htmlContent, 'utf-8').toString('base64'),\n      mimeType: 'text/html',\n      fileName: 'index.html'\n    }\n  }\n}];"
        },
        "id": "html-to-binary-2",
        "name": "HTML to File 2",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2640,
          0
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://gotenberg-fl3d98h92norx84xv88h0wek:3000/forms/chromium/convert/html",
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "parameterType": "formBinaryData",
                "name": "files",
                "inputDataFieldName": "index.html"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "id": "28ba9e83-03da-429b-a387-6e1466b303b0",
        "name": "HTML a PDF 2",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2784,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const binaryData = $input.first().binary.data;\nreturn [{\n  json: {\n    url: `data:${binaryData.mimeType || 'application/pdf'};base64,${binaryData.data}`,\n    fileName: `cotizacion_v2_${new Date().toISOString().slice(0,10)}.pdf`\n  },\n  binary: $input.first().binary\n}];"
        },
        "id": "conv-pdf-to-url-2",
        "name": "Preparar PDF Link 2",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2976,
          0
        ]
      },
      {
        "parameters": {
          "formFields": {
            "values": [
              {
                "fieldLabel": "Necesitas mas cambios?",
                "placeholder": "Describe cambios adicionales",
                "requiredField": true
              },
              {
                "fieldType": "html",
                "elementName": "Enlace",
                "html": "PDF actualizado. <a href=\"{{ $json.url }}\" target=\"_blank\">Descargar PDF</a>"
              }
            ]
          },
          "options": {}
        },
        "id": "9aef20db-5aac-4f04-b881-2591239981dc",
        "name": "Form2",
        "type": "n8n-nodes-base.form",
        "typeVersion": 2.3,
        "position": [
          3184,
          0
        ],
        "webhookId": "836394d8-40bb-4a0c-b17a-68987aa88e8c"
      },
      {
        "parameters": {
          "content": "# Cotizador v2\n\nGenera cotizaciones PDF profesionales a partir de sesiones de diagnóstico.\n\n## Stack\n- **LLM**: Gemini (3 agentes)\n- **PDF**: Gotenberg (self-hosted, gratis)\n- **Logo**: Cloudinary (upload automático)\n- **Formulario**: n8n Form multi-página",
          "height": 300,
          "width": 500,
          "color": 7
        },
        "id": "d362b557-6c42-413f-9071-443ec791c112",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -720,
          -128
        ]
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-5-mini",
            "mode": "list",
            "cachedResultName": "gpt-5-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          1712,
          416
        ],
        "id": "3f93e27b-1cb7-4351-a611-a1b9c510b112",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "zrA8o6Rx6jQIRHlC",
            "name": "OpenAi PROPUESTA"
          }
        }
      }
    ],
    "connections": {
      "On form submission": {
        "main": [
          [
            {
              "node": "Preparar Upload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Upload": {
        "main": [
          [
            {
              "node": "Upload a Cloudinary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload a Cloudinary": {
        "main": [
          [
            {
              "node": "Extraer URL Logo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extraer URL Logo": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Agente Cotizador",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini": {
        "ai_languageModel": [
          []
        ]
      },
      "Agente Cotizador": {
        "main": [
          [
            {
              "node": "Agente Generador HTML",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Agente Generador HTML": {
        "main": [
          [
            {
              "node": "HTML to File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTML to File": {
        "main": [
          [
            {
              "node": "HTML a PDF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTML a PDF": {
        "main": [
          [
            {
              "node": "Preparar PDF Link",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar PDF Link": {
        "main": [
          [
            {
              "node": "Form",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Form": {
        "main": [
          [
            {
              "node": "Agente de cambios",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Agente de cambios": {
        "main": [
          [
            {
              "node": "HTML to File 2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTML to File 2": {
        "main": [
          [
            {
              "node": "HTML a PDF 2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTML a PDF 2": {
        "main": [
          [
            {
              "node": "Preparar PDF Link 2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar PDF Link 2": {
        "main": [
          [
            {
              "node": "Form2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Form2": {
        "main": [
          [
            {
              "node": "Agente de cambios",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Agente Cotizador",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "Agente Generador HTML",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "Agente de cambios",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Arnaldo Ayala",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": [
    {
      "id": "sin-tag",
      "name": "sin-tag"
    }
  ]
}