prueba-rag-comerciantes-.json
{
  "updatedAt": "2026-01-21T22:13:03.208Z",
  "createdAt": "2026-01-17T11:40:47.311Z",
  "id": "xsKwZlySarztS7XbS9Qb1",
  "name": "PRUEBA rag Comerciantes",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1ySt1WNQrACPL2VqsDzvY7uyrbcGjZHTz",
          "mode": "list",
          "cachedResultName": "Guía Técnica de Gestión Reporte Automatizado 360.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1ySt1WNQrACPL2VqsDzvY7uyrbcGjZHTz/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "6bee1530-38fa-4aa2-b1ac-275bb989c1e4",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "nRB62SNEYjMTMNYH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "aut-comerciantes",
          "mode": "list",
          "cachedResultName": "aut-comerciantes"
        },
        "embeddingBatchSize": 1200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "c55475e9-1e2f-4b55-8ade-593248428ff4",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "o0d4caNkW4BkUWUm",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        352,
        176
      ],
      "id": "5b643732-03a0-4d29-800d-5a3eff3c9580",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "u86n2rwNcUBwKUCi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "pdfLoader",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        528,
        176
      ],
      "id": "4588b018-ac18-4a59-82bd-8aa94e2919f1",
      "name": "Default Data Loader"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "45036512-d009-46b7-90e0-e4f95f49ce72",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.7,
      "position": [
        1040,
        0
      ],
      "id": "40ae7da9-5efc-4cc7-8b01-12c17f914667",
      "name": "Question and Answer Chain"
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        880,
        0
      ],
      "id": "773bff8a-d2ab-4be1-ad2e-a3a8396894d6",
      "name": "When chat message received",
      "webhookId": "d13fd268-2d98-4538-b7a6-fcc82e46be6d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        928,
        208
      ],
      "id": "7ff1e491-b3f8-44f7-a01b-64489604fdef",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "H2xYjvZkFQ7zA2QV",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        1088,
        144
      ],
      "id": "bdf7c899-7848-4c91-a268-84f520743a85",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "aut-comerciantes",
          "mode": "list",
          "cachedResultName": "aut-comerciantes"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1088,
        256
      ],
      "id": "c3059423-1ced-429d-9b0f-8f0cb1d45472",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "o0d4caNkW4BkUWUm",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1152,
        384
      ],
      "id": "efbbb1e0-bb98-4088-8233-bcea80f36088",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "u86n2rwNcUBwKUCi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd934c08-04c6-466c-b434-eedb7d659887",
              "name": "text",
              "value": "={{ $json.response }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        0
      ],
      "id": "e8d2480b-fca7-42b7-b490-84eacd64e25c",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a1a24360-8293-447b-a634-2be420457c7b",
  "activeVersionId": "a1a24360-8293-447b-a634-2be420457c7b",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-17T11:40:47.317Z",
      "createdAt": "2026-01-17T11:40:47.317Z",
      "role": "workflow:owner",
      "workflowId": "xsKwZlySarztS7XbS9Qb1",
      "projectId": "EftYNIwW5VkchSsx"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-20T11:33:36.000Z",
    "createdAt": "2026-01-20T11:33:33.953Z",
    "versionId": "a1a24360-8293-447b-a634-2be420457c7b",
    "workflowId": "xsKwZlySarztS7XbS9Qb1",
    "nodes": [
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "1ySt1WNQrACPL2VqsDzvY7uyrbcGjZHTz",
            "mode": "list",
            "cachedResultName": "Guía Técnica de Gestión Reporte Automatizado 360.pdf",
            "cachedResultUrl": "https://drive.google.com/file/d/1ySt1WNQrACPL2VqsDzvY7uyrbcGjZHTz/view?usp=drivesdk"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          208,
          0
        ],
        "id": "6bee1530-38fa-4aa2-b1ac-275bb989c1e4",
        "name": "Download file",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "nRB62SNEYjMTMNYH",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "mode": "insert",
          "pineconeIndex": {
            "__rl": true,
            "value": "aut-comerciantes",
            "mode": "list",
            "cachedResultName": "aut-comerciantes"
          },
          "embeddingBatchSize": 1200,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
        "typeVersion": 1.3,
        "position": [
          416,
          0
        ],
        "id": "c55475e9-1e2f-4b55-8ade-593248428ff4",
        "name": "Pinecone Vector Store",
        "credentials": {
          "pineconeApi": {
            "id": "o0d4caNkW4BkUWUm",
            "name": "PineconeApi account"
          }
        }
      },
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
        "typeVersion": 1,
        "position": [
          352,
          176
        ],
        "id": "5b643732-03a0-4d29-800d-5a3eff3c9580",
        "name": "Embeddings Google Gemini",
        "credentials": {
          "googlePalmApi": {
            "id": "u86n2rwNcUBwKUCi",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "dataType": "binary",
          "loader": "pdfLoader",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
        "typeVersion": 1.1,
        "position": [
          528,
          176
        ],
        "id": "4588b018-ac18-4a59-82bd-8aa94e2919f1",
        "name": "Default Data Loader"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "45036512-d009-46b7-90e0-e4f95f49ce72",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
        "typeVersion": 1.7,
        "position": [
          1040,
          0
        ],
        "id": "40ae7da9-5efc-4cc7-8b01-12c17f914667",
        "name": "Question and Answer Chain"
      },
      {
        "parameters": {
          "public": true,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.4,
        "position": [
          880,
          0
        ],
        "id": "773bff8a-d2ab-4be1-ad2e-a3a8396894d6",
        "name": "When chat message received",
        "webhookId": "d13fd268-2d98-4538-b7a6-fcc82e46be6d"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
        "typeVersion": 1,
        "position": [
          928,
          208
        ],
        "id": "7ff1e491-b3f8-44f7-a01b-64489604fdef",
        "name": "DeepSeek Chat Model",
        "credentials": {
          "deepSeekApi": {
            "id": "H2xYjvZkFQ7zA2QV",
            "name": "DeepSeek account"
          }
        }
      },
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
        "typeVersion": 1,
        "position": [
          1088,
          144
        ],
        "id": "bdf7c899-7848-4c91-a268-84f520743a85",
        "name": "Vector Store Retriever"
      },
      {
        "parameters": {
          "pineconeIndex": {
            "__rl": true,
            "value": "aut-comerciantes",
            "mode": "list",
            "cachedResultName": "aut-comerciantes"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
        "typeVersion": 1.3,
        "position": [
          1088,
          256
        ],
        "id": "c3059423-1ced-429d-9b0f-8f0cb1d45472",
        "name": "Pinecone Vector Store1",
        "credentials": {
          "pineconeApi": {
            "id": "o0d4caNkW4BkUWUm",
            "name": "PineconeApi account"
          }
        }
      },
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
        "typeVersion": 1,
        "position": [
          1152,
          384
        ],
        "id": "efbbb1e0-bb98-4088-8233-bcea80f36088",
        "name": "Embeddings Google Gemini1",
        "credentials": {
          "googlePalmApi": {
            "id": "u86n2rwNcUBwKUCi",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "dd934c08-04c6-466c-b434-eedb7d659887",
                "name": "text",
                "value": "={{ $json.response }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1344,
          0
        ],
        "id": "e8d2480b-fca7-42b7-b490-84eacd64e25c",
        "name": "Edit Fields"
      }
    ],
    "connections": {
      "Download file": {
        "main": [
          [
            {
              "node": "Pinecone Vector Store",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings Google Gemini": {
        "ai_embedding": [
          [
            {
              "node": "Pinecone Vector Store",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Default Data Loader": {
        "ai_document": [
          [
            {
              "node": "Pinecone Vector Store",
              "type": "ai_document",
              "index": 0
            }
          ]
        ]
      },
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Download file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When chat message received": {
        "main": [
          [
            {
              "node": "Question and Answer Chain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DeepSeek Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Question and Answer Chain",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Vector Store Retriever": {
        "ai_retriever": [
          [
            {
              "node": "Question and Answer Chain",
              "type": "ai_retriever",
              "index": 0
            }
          ]
        ]
      },
      "Pinecone Vector Store1": {
        "ai_vectorStore": [
          [
            {
              "node": "Vector Store Retriever",
              "type": "ai_vectorStore",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings Google Gemini1": {
        "ai_embedding": [
          [
            {
              "node": "Pinecone Vector Store1",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Question and Answer Chain": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Arnaldo Ayala",
    "name": "Version a1a24360",
    "description": "",
    "autosaved": false
  },
  "tags": []
}